[2021-11-08 03:22] Annie-FangZHAO commented on #85
@marijanacrepulja
Dear Marijana,
After reporting to CMA headquarter and conducting extensive discussions with colleagues from the Observation Division and the Satellite Center, we appreciate ECMWF, UKMO of using FY-4 GIIRS products and making consideration of representing the products in BUFR, and have 2 comments as follows:
1.We support to add new entry 0-14-049 to Table B, the details has been c

[2021-11-08 08:18] SimonElliottEUM commented on #85
It is generally a preferable approach to have the encoding sequence conceived and proposed by the data producers. EUMETSAT will be happy to collaborate with @Annie-FangZHAO at CMA, along with UKMO and ECMWF on this.

[2021-11-09 11:42] sergioh-pessoal commented on #51
@jitsukoh  and @amilan17
Yes! I agree with the above suggestion.

[2021-11-09 12:55] amilan17 commented on #89
@amilan17  Research changes between v13 and v14

[2021-11-09 12:57] amilan17 commented on #89
@jbathegit can do a diff

[2021-11-09 13:04] amilan17 commented on #89
@amilan17 create branch

[2021-11-09 13:28] amilan17 commented on #85
Decision: only add new entry for Table B in FT22-1, BUFR sequence will be proposed for FT22-2

[2021-11-09 13:28] jbathegit commented on #88
0-08-044 apparently does exist, as "CAS registry number".  I just checked the BUFRCREX_vv_0_0_TableB_en.xml files for vv = 35, 36, and 37, and all of them include 0-08-044 as follows:

[code]

I presume it also exists in earlier versions as well, but at this point I only just checked 35, 36, and 37.

[2021-11-09 13:49] jbathegit commented on #89
Per our discussion, here are the changes to Table B descriptors that were made between v13 and v14, according to NCEP's records:

-  **0-14-001, 0-14-002, 0-14-003, 0-14-004, 0-14-011, 0-14-012, 0-14-013, and 0-14-014** each changed bit width from 12 to 17, and changed reference value from -2048 to -65536.
-  **0-14-017** changed scale factor from -3 to 0, changed bit width from 12 to 10, and chan

[2021-11-09 13:58] SimonElliottEUM commented on #92
@jitsukoh @amilan17 This branch is ready for the next step

[2021-11-09 18:18] SibylleK commented on #88
It seems, that 008045 has never been validated and was finally withdrawn? Information could be found in the report of the Joint Meeting of CT-MTDCF and ET-DRC in Montreal 2006. The proposed code table was:

Code table 0 08 045
Code figure	Meaning
0	Particulate Matter (all types)
1	 NO3(-)
2	 NH4(+)
3	 Na(+)
4	 Cl(-)
5	 Ca(2+)
6	 Mg(2+)
7	 K(+)
8	 SO4(2-)
9-200	reserved
201-254	reserved for local u

[2021-11-10 00:08] jitsukoh commented on #93
@amilan17 can I move this to validated status? We have not established a procedure for pdfModOnly issues.

[2021-11-10 08:26] jitsukoh commented on #51
@amilan17 as we discussed at the meeting, the existing Note (2) should be associated with 0 13 013, so the new name should be "Total snow depth (Snow Depth) (see Note 2)". I updated the original post. And I think this is the only descriptor in Class 13 with which Note (2) can be associated...

[2021-11-10 09:00] amilan17 commented on #88
@jbathegit  ok. I assume it's 0 08 044 is not in this CSV below, because we can't copy the entire CAS Registry. [https://github.com/wmo-im/BUFR4/blob/master/BUFRCREX_CodeFlag_en_08.csv](https://github.com/wmo-im/BUFR4/blob/master/BUFRCREX_CodeFlag_en_08.csv)

@jitsukoh I recommend publishing this table in the PDF in 

![](https://user-images.githubusercontent.com/5168866/141081972-9b7f633d-9721-49

[2021-11-10 09:35] amilan17 commented on #88
@SibylleK Thank you for finding this [2006 report](https://wmoomm.sharepoint.com/:b:/s/wmocpdb/Ea15z03lVuNOkAqHCPIoyfEBQyk3djuC2uP_diXo3H8Xrw?e=Xycmpg). I see that is was also "awaiting validation" in the [2007 report](https://wmoomm.sharepoint.com/:b:/s/wmocpdb/EXZ490Dijt1Om5GGaMJr8YMBq4HFi6vQO36ilZmKtv4M0g?e=BQbtTG) and then no mention of it in the 2008 reports.

[2021-11-10 10:02] amilan17 commented on #84
@jitsukoh -- should the team discuss this suggestion?

[2021-11-10 10:26] amilan17 commented on #83
@jitsukoh - branch is ready

[2021-11-10 11:03] amilan17 commented on #80
[code]

[2021-11-10 11:06] amilan17 commented on #80
@jitsukoh I think the branch is ready.

[2021-11-10 11:55] jitsukoh commented on #84
@wmo-im/tt-tdcf can anybody explain which GRIB2 template this issue refers to?

[2021-11-10 11:55] jbathegit commented on #88
This is interesting.  I thought the XML files were generated from the CSV files, so I'm curious how 008044 is in the former but not the latter?

I guess I would have been expecting something like we have for 008046 in the CSV files, where there's just a placeholder marking that the entry is occupied, but like you said not a copy of the entire CAS registry.  I agree that would be unnecessary and in

[2021-11-10 12:05] marijanacrepulja commented on #90
[EarthCARE-CPR1B_test.bufr.gz](https://github.com/wmo-im/BUFR4/files/7512463/EarthCARE-CPR1B_test.bufr.gz)

[2021-11-10 12:08] amilan17 commented on #90
ready for validation

[2021-11-10 12:10] amilan17 commented on #90
@richardweedon @marianmajan-ibl @jbathegit validate with sample data

[2021-11-10 12:19] amilan17 commented on #90
@marijanacrepulja double check with colleagues on the request for dBZ

[2021-11-10 12:25] amilan17 commented on #91
@marijanacrepulja talk with colleagues about the negative height in 0-07-073. What is it relative to?

[2021-11-10 12:38] amilan17 commented on #88
https://github.com/wmo-im/GRIB2/blob/master/xml/CodeFlag.xml

[2021-11-10 12:42] amilan17 commented on #88
don't put reference to 0 08 044 in section with code tables, because it's not a code table

[2021-11-10 12:46] manfredsc commented on #84
Sorry for the confusing description.
Code Table 0-02-020

[2021-11-10 13:05] manfredsc commented on #84
I encountered it with the wgrib2 software.
It needs it to decode "spectral bands for satellite", product definition template 4.31 or 4.32.

See the notes in these templates:
Note: For “satellite series of band nb”, “satellite numbers of band nb” and “instrument types of band nb”, it is recommended to
encode the values as per BUFR Code tables 0 02 020, 0 01 007 (Common Code table C–5) and 0 02 019

[2021-11-10 13:13] manfredsc commented on #84
As you see, the latter two tables are in CCT, but 0-02-020 is not.

[2021-11-10 13:26] SimonElliottEUM commented on #84
Thanks @manfredsc for pointing this out. Your point is valid. I suspect that users of the satellite data in GRIB2 are generally using the satellite identifier (from CCT C-5) and so have no been worrying about the satellite classification

[2021-11-10 13:48] manfredsc commented on #84
Well, wgrib2 decided to decode it, at some point, so it is difficult to rip it out again...
Actually it affects templates 4.30 to 4.35.
BTW: this "code table defined by originating/generating centre" is not really helpful. Most centres will
simply follow the recommendations, at which point this template (non-)definition becomes more or less moot.
It would be much more natural to have some baseline

[2021-11-10 14:17] amilan17 commented on #51
@jitsukoh regarding "note 3" -- I don't think it needs to be restated in BUFR Table D. The note is there in the initial sequence definition and it's referenced in other Category D tables without the note.

[2021-11-10 14:38] amilan17 commented on #88
@jbathegit 0 08 044 is listed https://github.com/wmo-im/BUFR4/blob/master/BUFRCREX_TableB_en_08.csv and this is what the https://github.com/wmo-im/BUFR4/blob/master/xml/BUFRCREX_TableB_en.xml is generated from

[2021-11-10 14:42] amilan17 commented on #51
@sergioh-pessoal what does AWS mean?

[2021-11-10 14:46] amilan17 commented on #92
@SimonElliottEUM can you please update the branch with your proposal?

[2021-11-10 15:49] SimonElliottEUM commented on #92
@jitsukoh @amilan17 This branch is now really ready for the next step I hope. The CSV file has been updated

[2021-11-10 16:24] SimonElliottEUM commented on #78
@amilan17 @jitsukoh I prefer to leave this for next time rather than rush at it now.

[2021-11-11 00:04] jitsukoh commented on #51
@amilan17 thank you for your comment. Then I keep "007030, Height of station ground above mean sea level" in Table D.
I think AWS is automatic weather station... @sergioh-pessoal is it right?

[2021-11-11 00:21] jitsukoh commented on #78
@SimonElliottEUM noted! Do you mind taking over this issue from Daniel? It was my fault to skip this in this cycle, but it is generally difficult to follow up issues owned by non-TT-members...

[2021-11-11 01:30] jitsukoh commented on #92
@SimonElliottEUM @amilan17  I confirm that the branch is updated and this issue was moved to the validated status.

[2021-11-11 02:08] jitsukoh commented on #80
@amilan17 I do not completely understand how it works but I trust you!

[2021-11-11 02:10] jitsukoh commented on #83
@amilan17 I confirm that the branch is updated and the issue was moved to the validated status.

[2021-11-11 13:36] amilan17 commented on #88
@jitsukoh the notes file in the branch is updated and ready for validation

[2021-11-12 02:59] jitsukoh commented on #88
@amilan17 thank you for updating. Looks good. I move this issue to the validated status.

[2021-11-16 17:04] sergioh-pessoal commented on #51
@amilan17  AWS mean Automatic Weather Station

[2021-11-29 13:43] SibylleK commented on #89
Branch is updated. I also changed the title, as the reference value for 0 15 083 - "GNSS derived neutral atmosphere gradient" should be changed and not 0 08 083.

[2021-12-01 06:34] SimonElliottEUM commented on #78
@jitsukoh @amilan17 I am happy to follow this up. As of today (01/12/2021), I start a new role at EUMETSAT and have moved to the same Department and Division as Daniel (again). I will continue to support WMO as before - no change needed, but it will be a little easier for Daniel and I to work together again from today.

[2021-12-02 17:51] marijanacrepulja commented on #90
We agree to use dB units for Radar reflectivity factor, after consulting with my colleagues.

[2021-12-02 17:56] marijanacrepulja commented on #90
I have updated branch with new entries in B and D table.
Sample data and corresponding output of decoded BUFR file is attached
[EarthCARE-CPR1B_test.zip](https://github.com/wmo-im/BUFR4/files/7644121/EarthCARE-CPR1B_test.zip)

@richardweedon @marianmajan-ibl @jbathegit could you please help with validation.
Many thanks.

[2021-12-06 17:18] jbathegit commented on #90
@marijanacrepulja I've started to work on this.  However, I don't see 0-25-139 defined anywhere in Table B.  Is this another new proposed new Table B descriptor?  If so, then could you please add it to part 1 of this proposal?

[2021-12-06 22:34] jbathegit commented on #90
Thanks @marijanacrepulja.  With that, I was able to decode the BUFR from your zip bundle, and I spot-checked several reports and confirmed I got the same results as shown in your .txt file.  So from my standpoint it's a successful validation.

[2021-12-08 15:37] amilan17 commented on #74
@SimonElliottEUM @richardweedon Will you have time to look at this soon? I'd like to finalize this for FT.

[2021-12-08 16:10] amilan17 commented on #90
@marijanacrepulja I updated the branch to include the "Element Description" as indicated above in Table D. I also changed several words to begin with lower case, because they are not proper nouns. If you agree with these edits, please tag Jitsiku for final approval.

[2021-12-08 16:11] amilan17 commented on #90
https://github.com/wmo-im/BUFR4/compare/FT22-1...issue90

[2021-12-08 16:17] amilan17 commented on #91
Is it "legal" to move/change the Code figures for Reserved and Missing in Code Table 0-05-069? 

![](https://user-images.githubusercontent.com/5168866/145243714-6cecd6c2-4706-44d9-9702-58ccf7c1ccb4.png)

[2021-12-08 16:24] amilan17 commented on #91
@marijanacrepulja BUFR table is not in branch yet.

[2021-12-08 16:26] amilan17 commented on #51
@jitsukoh @sergioh-pessoal Will this be ready for FT22-1? Is there anything else that needs to be done first?

[2021-12-08 16:40] amilan17 commented on #89
[https://github.com/wmo-im/BUFR4/compare/FT22-1...issue89](https://github.com/wmo-im/BUFR4/compare/FT22-1...issue89)

@jitsukoh I think this valid

[2021-12-09 10:17] SimonElliottEUM commented on #74
@amilan17 @richardweedon The updated not to 0-02-022 looks fine to me. It can be used like that for that for this FT

[2021-12-09 13:38] amilan17 commented on #78
@SimonElliottEUM @erget I think Table B needs CREX values?

[2021-12-09 13:45] amilan17 commented on #85
@marijanacrepulja I just created a branch. Do you still want this to go through FT22-1?

[2021-12-09 13:45] amilan17 commented on #85
@marijanacrepulja I just created a branch. Do you still want this to go through FT22-1?

[2021-12-09 16:02] SimonElliottEUM commented on #78
@erget @amilan17  I am 100% super certain that there will never be data using the CREX version but indeed we should define it anyway. As it is a standard 8-bit wide flag table in BUFR it should just say UNIT Flag table, SCALE 0, DATA WIDTH (Characters) 3 for the CREX columns

[2021-12-10 11:02] marijanacrepulja commented on #91
Following a review of a new set of test data and consultation with colleagues from research, we decided to use existing BUFR descriptor 007071

I have removed proposed descriptor 007073

[2021-12-10 11:04] marijanacrepulja commented on #91
@amilan17 it is legal, missing value is remain the same as per definition. Reserve means that number should be used for a new entries.

[2021-12-10 11:39] DenisStuber commented on #51
Herewith, the ASCII file for over-sea territories to test :
[fic_71805.txt](https://github.com/wmo-im/BUFR4/files/7692392/fic_71805.txt)
[fic_78897.txt](https://github.com/wmo-im/BUFR4/files/7692393/fic_78897.txt)
 to
[fic_81405.txt](https://github.com/wmo-im/BUFR4/files/7692394/fic_81405.txt)
 te
[fic_89642.txt](https://github.com/wmo-im/BUFR4/files/7692395/fic_89642.txt)
st ...
[fic_91592.txt](h

[2021-12-10 12:39] amilan17 commented on #78
@SimonElliottEUM were you able to discuss with CGMS group?

[2021-12-10 13:40] jitsukoh commented on #78
@amilan17 @SimonElliottEUM cannot attend next week's meeting and we've agreed that this will be delayed to the next cycle.

[2021-12-10 14:12] jitsukoh commented on #51
@amilan17 I believe the proposal is finalized and branch is updated accordingly, but actually nobody has decoded the sample using the table in the branch, so I would like to ask a team member to do that. Can you indicate which branch should be used for the final check?

[2021-12-10 14:24] jitsukoh commented on #51
@marianmajan-ibl would you be able to help us with the validation of the sample data posted [here](https://github.com/wmo-im/BUFR4/issues/51#issuecomment-916846943) by Sergio, using the tables in the branch, for final check? Sample data has been validated by David and Fang already but they didn't use the tables in the branch. I'd very much appreciate your help.

[2021-12-10 14:28] sergioh-pessoal commented on #51
@jitsukoh , @amilan17 , @DenisStuber
I have coded all samples sent by Denis from text to BUFR.
Here are the respective BUFR file
[fic_07630.bufr.gz](https://github.com/wmo-im/BUFR4/files/7693372/fic_07630.bufr.gz)
[fic_61980.bufr.gz](https://github.com/wmo-im/BUFR4/files/7693373/fic_61980.bufr.gz)
[fic_91929.bufr.gz](https://github.com/wmo-im/BUFR4/files/7693374/fic_91929.bufr.gz)
[fic_91592.bufr.

[2021-12-10 14:31] SimonElliottEUM commented on #78
@amilan17 @jitsukoh Due to the evolving pandemic situation, my trip to Sodankylä next week has been postponed. I may well be able to attend the meeting. In any case the CGMS task group will not be able to discuss this until early next year, so delaying until the next cycle is best.

[2021-12-10 14:39] jitsukoh commented on #51
@sergioh-pessoal thank you so much for the new sample. @marianmajan-ibl it would be very appreciated if you could use the new samples posted just now (I think one or two would be enough for validation) for validation using the tables in the branch...

[2021-12-10 14:41] jitsukoh commented on #78
@SimonElliottEUM that's a pity... but probably a good news for TT-TDCF :) this issue will be discussed in the next cycle. See you next week.

[2021-12-10 16:02] marianmajan-ibl commented on #51
Hello, @jitsukoh. We have very busy period as everybody would like to finish everything before the holidays, but I have other validations (for issues #90 and #91) on my list for Monday. I will add this one too, I would like to definitely have it prepared by start of the teleconference on Tuesday.

[2021-12-12 14:20] sergioh-pessoal commented on #51
Hello, @marianmajan-ibl
Regarding the previously loaded BUFR files, here are the respective decoded files (in text format) for verification
Thank you very much

[fic_61980.bufr.txt](https://github.com/wmo-im/BUFR4/files/7698882/fic_61980.bufr.txt)
[fic_07630.bufr.txt](https://github.com/wmo-im/BUFR4/files/7698883/fic_07630.bufr.txt)
[fic_91929.bufr.txt](https://github.com/wmo-im/BUFR4/files/769888

[2021-12-12 20:49] sergioh-pessoal commented on #91
Hello @marijanacrepulja and @marianmajan-ibl

In the BUFR sample, the descriptor 0-15-068 was, apparently  encoded with 28 bits
On the other hand, this part of the template above  (.. 2-01-132, 0-15-068,) indicates that 0-15-068  has 24-bit

I don't remember if  the correctly would  be (.. 2-01-132, 0-15-068,.. ) or  (.. 2-01-136, 0-15-068,.. )

Anyway,  I decoded the BUFR sample , by changing 2-0

[2021-12-12 23:09] sergioh-pessoal commented on #51
Hello @amilan17

 I have included the DAYCLI sequence in the BUFR_TableD_en_07.csv file on my computer. I would like to know if I can update the file in git directly (branch/issue51) or if I should send it to you to do this.

[2021-12-13 07:35] DenisStuber commented on #51
Hi,
@sergioh-pessoal  and @marianmajan-ibl
I am going to ask the Météo-France team which elaborate the message to verify the decoding ... And let you know ....

[2021-12-13 09:26] david-i-berry commented on #51
Example decoded files below (I haven't checked through these yet).
Code used at: https://github.com/david-i-berry/daycli_validation

[fic_61980.csv](https://github.com/wmo-im/BUFR4/files/7702514/fic_61980.csv)
[fic_07630.csv](https://github.com/wmo-im/BUFR4/files/7702513/fic_07630.csv)
[fic_91929.csv](https://github.com/wmo-im/BUFR4/files/7702521/fic_91929.csv)
[fic_91592.csv](https://github.com/w

[2021-12-13 13:54] marijanacrepulja commented on #91
Hello @sergioh-pessoal,

Many thanks for your feedback. Yes, you are right, the descriptor 0-15-068 was encoded with 28 bits and operator 2-01-136 should be used.

Because my local definition of 0-15-068 was incorrect, with a width of 24 instead of 20, I made the error of using operator 2-01-132.
In the branch, I've changed the proposal and tables.

I am uploading a new test data samples.

[EarthC

[2021-12-13 22:03] sergioh-pessoal commented on #91
Hello @marijanacrepulja

Yes of course

I've use the table in the branch and decoding was successful.
The decoding file is attached.

best regards

Sergio

[EarthCARE-lidar_test.bufr.decoded-100.txt.gz](https://github.com/wmo-im/BUFR4/files/7707241/EarthCARE-lidar_test.bufr.decoded-100.txt.gz)

[2021-12-13 23:10] marianmajan-ibl commented on #91
Hello @marijanacrepulja, I was able to decode data using the tables from the branch. It is quite complicated to compare data with your samples as you do have it decoded in array form, however the manual check of few messages showed the same results. The decoded file's size is 3,5 GB and even the zip with the highest compression is too big to be attached here (7z was small enough but is not allowed

[2021-12-14 09:05] richardweedon commented on #90
Managed to decode the sample data. In addition received a positive review from our satellite applications scientists. From my perspective the review is complete.

[2021-12-14 10:02] marianmajan-ibl commented on #90
Hello, @marijanacrepulja, I have successfully decoded your samples with the tables from the branch. However, currently the converted file is nearly 4 GB, I have added to the GDrive again -- https://drive.google.com/file/d/1zsEZg9Fl6rNDEL5Br16kUYfMuLX-LGGr/view?usp=sharing

Very quick manual check showed the same results with one exception -- it seems that we have an error when showing `0 02 153 Sa

[2021-12-14 11:47] jitsukoh commented on #51
@DenisStuber other samples will be useful to verify the use of metadata. On the other hand, we need to finalize the BUFR sequence today. So if the decoded texts are verified by @sergioh-pessoal we will include this to FT2022-1.

[2021-12-14 11:48] marijanacrepulja commented on #85
Hello @jitsukoh and @amilan17  I have now updated the issue85 branch with the above proposal.

[2021-12-14 11:50] marijanacrepulja commented on #91
@marianmajan-ibl and @sergioh-pessoal Thanks very much for your help to validate this proposal!

[2021-12-14 11:51] marijanacrepulja commented on #90
@jbathegit, @richardweedon, @marianmajan-ibl Thanks very much for your help to validate this proposal!

[2021-12-14 11:55] amilan17 commented on #51
Supplemental daily temperature and precipitation values for monthly climate report ==> Surface report sequences (land)

[2021-12-14 12:17] marijanacrepulja commented on #90
@amilan17 Many thanks for updating the branch. I agree with the modifications you've made. I removed only  "L1B, L2A" from "Element Description" in the branch and the proposal, because it is only relevant to this proposal.

[2021-12-14 13:17] sebvi commented on #84
The notes are clear: it is recommended to use the existing BUFR tables for consistency but it is not a requirement. In encodes, it is not enforced to use the BUFR tables.

It is a valid point made here but unfortunately I don't think we can change this retrospectively without breaking the usage of the templates: we don't know if someone somewhere decided to create their own tables using the same r

[2021-12-14 13:25] marianmajan-ibl commented on #90
I just would like to confirm that the problem with `0 02 153` is just a problem of output formatting in our tool, my colleague has debugged it and the value is correctly decoded as `94000000000` for the last BUFR.

[2021-12-14 15:26] DenisStuber commented on #51
I received a comment from the Department of Météo-France: there is may be an inversion between Fresh snow (ds) and total Snow depth (tsd)
e.g. in th efile for Blagnac ("fic_07630.txt") there is  :
&DATA_SECTION
!   date       ,  rr    , qrr , **ds** , qds , **tsd** , qtsd ,   tn      , qtn ,   tx       , qtx ,   tm     , qtm
  20211001 ,  0.0 ,   0 ,      ,   6   ,   0  ,    0   , 280.85 ,   0  ,

[2021-12-14 22:38] jitsukoh commented on #85
@marijanacrepulja @amilan17 I confirm that the branch is updated and the issue is moved to the validated status.

[2021-12-14 23:10] jitsukoh commented on #90
@marijanacrepulja @amilan17 in BUFR_TableD_en_21.csv and txt/BUFR_TableD_en.txt "Latitude/longitude(high accuracy)" should be "Latitude/longitude (high accuracy)" (with a space between longitude and (high)?

[2021-12-14 23:19] jitsukoh commented on #91
@marijanacrepulja @amilan17 I confirm that the branch is updated and this issue is moved to the validated status.

[2021-12-15 05:05] jitsukoh commented on #89
@amilan17 @SibylleK I confirm that the branch is updated and the issue is moved to the validated status.

[2021-12-15 05:42] jitsukoh commented on #51
@amilan17 @sergioh-pessoal I don't believe the name of this new sequence is "Surface report sequences (land)."
The existing one (0 07 074) is "Supplemental daily temperature and precipitation values for monthly climate report" and the new one is something similar but with the time of occurrence, so I would suggest "Supplemental daily temperature and precipitation values with the time of occurrence

[2021-12-15 10:57] amilan17 commented on #51
@jitsukoh -- ah, yes. I stand corrected. I was looking at the wrong field. 

Table D 07 now has your proposed title and the extra line is removed.

[2021-12-15 11:41] amilan17 commented on #51
@jitsukoh 

I'm sorry to bring this up so late, but I was just researching the rename of 0-13-012 and 0-13-013 and I want to point out that changing the name of will have an impact on other templates that are using these values. Below is a list of all the sequences. Furthermore, B/C1.8.2 regulation is about Total snow depth (0 13 013) in particular.  I don't think we should change the name. What d

[2021-12-15 11:44] david-i-berry commented on #51
@amilan17 I think it is in the new test data files, with the depth and total snow swapped in the encoded BUFR data.

[2021-12-15 11:45] amilan17 commented on #51
never mind! I re-read your message in the more detail and Dave just confirmed.

[2021-12-15 14:15] sergioh-pessoal commented on #51
@jitsukoh, @amilan17 @DenisStuber

I agree with the suggestion

"Supplemental daily temperature and precipitation values with the time of occurrence for monthly climate report." looks perfect to me.

[2021-12-15 14:26] sergioh-pessoal commented on #51
@DenisStuber
The Comments from the Department of Météo-France  are correct. I checked the software and found a programming error The variables ds and tsd are swapped, as well as the corresponding associated fields.

Sorry for this error. I should have known sooner.

I have Fixed this in the software and regenerated the data.

Here is the result corresponding to the message. Now the values are corr

[2021-12-15 14:28] amilan17 commented on #90
@jitsukoh typo is fixed.

[2021-12-16 00:14] jitsukoh commented on #90
@amilan17 thanks! I confirm that the branch is updated and I move this issue to the validated status.

[2021-12-16 07:55] jitsukoh commented on #51
@amilan17 I prefer not to change element names, too, but we are asked to reconcile with the WIGOS vocabulary. I see your point about existing sequences, but I believe this is not the first time to change the element name of descriptors and I don't think we have changed all the element names used in Table D sequences, because the change is made only when it does not change the meaning, and therefor

[2021-12-16 14:32] efucile commented on #51
Related to the following renaming proposal

F X Y | Current | Updated (proposal)
-- | -- | --
0 13 012 | Depth of fresh snow | Depth of fresh snow (Depth of snowfall)
0 13 013 | Total snow depth | Total snow depth (Snow depth) (see Note 2)

I think that the change would impact a significant number of existing sequences with a strong impact on existing software and processes. I would strongly disco

[2021-12-17 07:24] jitsukoh commented on #51
@efucile thank you for your comment. The team discussed the impact of this change based on our knowledge and decided to add the new name (WIGOS vocabulary) with parentheses, instead of replacing but of course we cannot estimate impacts for all the applications in the world.
The team will discuss these issues (inconsistency with WIGOS vocabulary) in a bigger context in future and this time we will

[2021-12-17 08:09] efucile commented on #51
@jitsukoh I understand that there is the aim to be consistent with WIGOS vocabulary, but there are many ways of doing that. I this is not urgent I would defer this change to the next fast track and have more discussion. There are applications using the names and changing them or adding something to them will force changes in the software. I think that the issue of inconsistency between different v

[2021-12-17 11:37] david-i-berry commented on #51
This may be straying off topic but in the longer term do we want to consider convergence between WIGOS, BUFR/GRIB and the CF community? e.g. https://cfconventions.org/Data/cf-standard-names/78/build/cf-standard-name-table.html

As we develop more WMO CF-NetCDF profiles this is something we may want to consider.

[2021-12-20 05:09] jitsukoh commented on #51
@efucile I have agreed to the suggestion to defer this change to the next cycle. I updated the original post of this issue. @amilan17 can you update these changes in the branch?

[2021-12-20 15:15] amilan17 opened #102 "Create 0 02 012 (Radiosond computational method)?"
Should we develop the codes for this?

_0 02 012
Radiosonde computational method
(To be developed)_

_Originally posted by @amilan17 in https://github.com/wmo-im/BUFR4/issues/74#issuecomment-924839766_

[2021-12-20 15:21] amilan17 opened #103 "Rephrase note and move from column header"
Rephrase note for clarity and move from table header

noteID: 5
note: (0 is good, 1 is bad)
in tables: 025112, 025113

_Originally posted by @amilan17 in https://github.com/wmo-im/BUFR4/issues/74#issuecomment-924813883_

[2021-12-20 15:23] amilan17 commented on #74
unresolved questions moved to specific issues

[2021-12-20 15:23] #74 closed

[2021-12-25 11:57] DenisStuber commented on #51
"Here is a tar file containing DAYCLI test data for 10 stations in the US. This is for Nov 2021. If you have any trouble with these or have any questions please let me know." Jay Lawrimore, Meteorologist, Dataset Section, Climatic Science and Service Division NOAA's National Centers for Environmental Information (NCEI)
[USW00023174.202111.daycli.csv](https://github.com/wmo-im/BUFR4/files/7775800/U

[2022-01-05 08:38] amilan17 commented on #51
issue will be closed after WMO adoption

[2022-01-19 09:07] manfredsc commented on #84
OK, I agree.
As I said, I find the notion of "recommended" in the context of such standards not really helpful. In the end, there
are tools which have to decode this mess.
Should I open an issue against GRIB3, so this does not get lost?

[2022-02-08 11:20] DenisStuber commented on #51
Anna, would it be possible not to close too soon the issue ? Or to have another place to fallow the DAYCLI message implementation?
There is the need to check the validity of the process on the stations from the US after BUFR coding and then decoding into ASCII. Also it will be secure to continue the testing with the NMHSs that have answering on their climatological practices e.g. ALGERIA, ARGENTIN

[2022-02-08 12:11] amilan17 commented on #51
@DenisStuber -- I don't think there is an option to modify this sequence after WMO adoption. This validation should have been done before fast-track submission. 

@jitsukoh -- do you have a perspective here?

[2022-02-08 16:16] DenisStuber commented on #51
Sorry, I was not clear enough. My intention is not to change the validation process. But to have a place/area where to continue to get in touch with NMHSs in the implementation of the DAYCLI. Like the files from the US and other coming ones. As Sergio said, may be with another channel ? We may need to talk about that ...

Thanks a lot Sergio for all the files that I received.

[2022-02-09 07:01] david-i-berry commented on #51
Within the WIS team we will be restarting the monitoring of the DAYCLI messages and I will be talking with Peer this Friday to cover the cross cutting issues. I'll raise the issue of where the appropriate channel for discussions might be.

[2022-03-08 07:59] DenisStuber commented on #51
Attached are the test files from the Japan Meteorological Agency (JMA). @Sergio could you please code and decode them to check if everything is OK? Our contact with JMA is  Masaru KUNII,  Senior Scientific Officer, International Affairs Office, Japan Meteorological Agency,  Email: mkunii@met.kishou.go.jp.

I received also the files from Argentina and Libya but some modifications are needed from th

[2022-03-08 08:05] DenisStuber commented on #51
2 modifications are needed :
(1) Argentina has a method to compute the daily average of temperature that is not described in the list. This method is based on the average of 4 parameters. Could this method be added in the list?
(2) Need to remove the class "E" from the codes for the Siting and Measurement Quality Classifications (CODE TABLE for 0-08-095 and 0-08-096). The class E is not part of th

[2022-03-08 08:42] DenisStuber commented on #51
Here is the latest version of the template for the ASCII version of the DAYCLI message (20220308_fic_07630.docx) with the latest version on explanation on the codes (20220224_DAYCLI_USE_CASE.docx). Both are subject to modifications

[20220308_fic_07630.docx](https://github.com/wmo-im/BUFR4/files/8204077/20220308_fic_07630.docx)
[20220224_DAYCLI_USE_CASE.docx](https://github.com/wmo-im/BUFR4/files/

[2022-03-15 20:14] jbathegit opened #106 "modify 3-15-013 sequence to allow for use of correct range of WMO identifiers"
# Branch

\[Add when created\]

# Summary and purpose

A small modification is proposed to BUFR Table D descriptor 3-15-013, beginning with version 39 of the WMO tables.

# Stakeholders

- [U.S. NOAA/IOOS](https://ioos.noaa.gov/)
- [OceanOPS](https://www.ocean-ops.org/board)
- @david-i-berry is also aware of the need for this update

# Discussions

The BUFR Table D descriptor 3-15-013 is designed

[2022-03-15 20:23] jbathegit commented on #16
For the same reasons noted in #106, the Table B descriptor 0-01-087 should be encapsulated with a 2-01-129 operator to add one extra bit to its width within this proposed new 3-15-012 Table D sequence.  This will allow the encoding of any 7-digit number within 0-01-087; in particular numbers beginning with "89" which are designated for use with gliders by OceanOPS, according to the [Guide to WIGOS

[2022-03-16 09:50] efucile opened #107 "BUFR sequence for GBON surface hourly data"
# Branch

Add when created. 

# Summary and purpose

GBON implementation requires the exchange of surface hourly data. There is the need to identify which sequence, if available, or develop a new sequence for surface hourly data. There is also the need to provide observing practises in support of this sequence.

# Stakeholders

include as appropriate

# Action proposed

Enter text.

# Discussions

[2022-03-16 13:14] amilan17 commented on #51
[https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022)

Yann, the national focal point for France, will submit official request for this change, hopefully before March 22 when the review period ends

[2022-03-16 13:15] amilan17 commented on #78
[https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022:](https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022:) to be discussed during meeting in April

[2022-03-16 13:25] amilan17 commented on #107
[https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022)

Need to have small team to look at this. 

1.  Need to identify the changes in the regulations; this will be presented to INFCOM in October 2022
2.  Identify and/or create new template

[2022-03-16 13:28] amilan17 commented on #107
first small group: @marijanacrepulja @marianmajan-ibl @SibylleK @efucile

[2022-03-16 13:38] amilan17 commented on #106
[https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022:](https://github.com/wmo-im/CCT/wiki/Teleconference-16.3.2022:)

[2022-03-16 14:17] amilan17 commented on #107
This may be a useful reference for determing what kinds of GBON data need to be considered: https://meetings.wmo.int/Cg-Ext-2021/_layouts/15/WopiFrame.aspx?sourcedoc=/Cg-Ext-2021/InformationDocuments/Cg-Ext(2021)-INF04-1-CATALOGUE-OF-CORE-DATA_en.docx&action=default

[2022-03-16 14:35] jbathegit commented on #106
Yes, I agree that being allowed to change Table B but not Table D is very inconsistent, or, as @SimonElliottEUM put it, "**I**nteresting".  And as @david-i-berry noted for this particular case, changing the underlying 0-01-087 descriptor to 24 bits may end up being more impactful to the wider marine community than just changing this one particular 3-15-013 sequence, because 0-01-087 is already bei

[2022-03-22 15:43] efucile commented on #107
Hello everyone,
this is ahead of our meeting tomorrow.
We have GBON requirements here
[GBON_Requirements.docx](https://github.com/wmo-im/BUFR4/files/8325859/GBON_Requirements.docx)

See you tomorrow
Enrico

[2022-03-24 12:58] marijanacrepulja opened #108 "CodeFlag 02: New code for occultation sounding"
# Summary and purpose

ECMWF is proposing a new value in Code/Flag table 0-02-127 Product type for retrieved atmospheric gases  to enable encoding retrieval from an occultation sounding.

# Stakeholders

Marijana Crepulja, Roberto Ribas, Antje Inness (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manu

[2022-03-25 13:15] marijanacrepulja opened #109 "Table B 01: New BUFR descriptor for light source identifier"
# Summary and purpose

ECMWF is proposing new BUFR descriptor for light source identifier.

# Stakeholders

Marijana Crepulja, Antje Inness, Roberto Ribas (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for assimilation of Altius ozone observations. I

[2022-03-29 10:11] marijanacrepulja opened #111 "Code table 01: New BUFR codes for Retrieval identifier"
# Summary and purpose

ECMWF is proposing new BUFR codes in Retrieval identifier code table.

# Stakeholders

Angela Benedetti, Karen Henry, Marijana Crepulja (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for assimilation of aerosol observations fro

[2022-03-30 12:13] marijanacrepulja opened #112 "Code table 02: New BUFR code for TROPICS"
# Summary and purpose

ECMWF is proposing new BUFR codes in Satellite classification code table.

# Stakeholders

Niels Bormann, Marijana Crepulja (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for assimilation TROPICS observations . We would need ne

[2022-03-31 14:53] SibylleK opened #113 "Code table 0 08 092 - Measurement uncertainty expression: New entry"
# Summary and purpose

DWD (Deutscher Wetterdienst) is proposing a new entry in Code table 0 08 092 – "Measurement uncertainty expression" for the representation of a “Combined Standard Uncertainty”* in order to offer an uncertainty information consisting of several components to the users of measurement data.

*see Guide to the expression of uncertainty in measurement (2008):  https://www.bipm.or

[2022-03-31 16:00] SibylleK opened #114 "Code table 0 20 009 - General weather indicator (TAF/METAR): new entry NCD"
# Summary and purpose

A new entry NCD No clouds detected in Code table 0 20 009 - "General weather indicator (TAF/METAR)" is proposed.

# Stakeholders

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

In November 2005 the FM15/16 - METAR/SPECI were modified in the ICAO Annex 3 and the am

[2022-03-31 21:46] marijanacrepulja opened #115 "New BUFR template for CCI snow cover fraction"
# Summary and purpose

ECMWF is proposing new BUFR template for representing snow cover observations.

# Stakeholders

ECMWF

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for assimilation of snow cover observation from CCI.

# Detailed proposal

**1. Add a new BUFR

[2022-04-04 16:48] amilan17 commented on #84
@manfredsc - I am closing this issue, but you may open a new issue in GRIB3 project: [https://github.com/wmo-im/GRIB3/issues](https://github.com/wmo-im/GRIB3/issues)

Also, please reference this one so we can refer to the initial request. Thanks.

[2022-04-04 16:48] #84 closed

[2022-04-04 17:31] #51 closed

[2022-04-04 17:31] #80 closed

[2022-04-04 17:31] #83 closed

[2022-04-04 17:31] #85 closed

[2022-04-04 17:31] #88 closed

[2022-04-04 17:31] #89 closed

[2022-04-04 17:31] #90 closed

[2022-04-04 17:31] #91 closed

[2022-04-04 17:31] #92 closed

[2022-04-04 17:31] #93 closed

[2022-04-11 05:13] efucile commented on #107
307096 explained
[GBON_Requirements.docx](https://github.com/wmo-im/BUFR4/files/8461198/GBON_Requirements.docx)

[2022-04-11 10:15] marijanacrepulja opened #117 "New BUFR descriptors to represent observations from TROPICS"
# Summary and purpose

ECMWF is proposing new BUFR descriptors for representing TROPICS observations.

# Stakeholders

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for operational assimilation of TROPICS observations. Therefore, we need a new BUFR descriptors to acc

[2022-04-11 10:41] efucile commented on #107
**Meeting 11-4-2022**

**Discussion**
1. Which sequence? The sequence 307096 is a merge of 307080 (SYNOP) and 307091 (AWS). The team considers the sequence to be the best fit for GBON hourly data. Etienne clarified that GBON is requiring hourly data, but RBON requires more frequent data. It was agreed that 307096 could be used for sub-hourly data, but Sibylle clarified that 307092 (n-minutes templ

[2022-04-11 15:45] jbathegit commented on #106
Following a more focused group discussion on 6 April, several other TT-TDCF members did not want to modify 3-15-013 to make this change, so instead we are now proposing to add a new Table D descriptor 3-15-023 for FT2022-2.  The new 3-15-023 sequence would be identical to the current 3-15-013 sequence, except with the addition of Table C operator 2-01-129 immediately preceding 0-01-087, and the ad

[2022-04-25 10:18] efucile commented on #107
Hello everyone,
here is the table as per action
[surface_land_sequences.xlsx](https://github.com/wmo-im/BUFR4/files/8553624/surface_land_sequences.xlsx)
@marianmajan-ibl @marijanacrepulja @SibylleK, please download, fill in the third column, and send me via email?
Thanks

[2022-04-26 10:28] efucile commented on #107
Some more work from my side. Here is the first draft of Part D.
[PART D 306_I2_2019_updated_2021_en-3.docx](https://github.com/wmo-im/BUFR4/files/8562283/PART.D.306_I2_2019_updated_2021_en-3.docx)

[2022-04-26 12:14] efucile commented on #107
filecloud document https://filecloud.wmo.int/share/page/site/gbon-bufr/document-details?nodeRef=workspace://SpacesStore/ceb12f97-78d9-4818-a58f-fdaaddbe534b

[2022-05-05 17:32] jbathegit opened #118 "new Table B descriptor for "Satellite sub-identifier""
# Summary and purpose

This issue proposes a new Table B descriptor for "Satellite sub-identifier"

# Stakeholders

This would be of interest and potential use by any commercial or non-commercial providers of satellite data, as an additional way to define and classify the data within their BUFR reports.

As already discussed with @SimonElliottEUM, this would also be of interest to the CGMS, who ma

[2022-05-06 06:55] SimonElliottEUM commented on #118
@jbathegit thanks for taking the time to discuss this with me. As we noted, there may also be the possibility to use the Issue Number of the WIGOS station ID for this purpose. We are discussing this in the framework of the CGMS Task Group on Satellite Data and Codes, and also in TT-WSI.
This has no detrimental bearing upon the proposal here, which I support.

[2022-05-11 14:45] marijanacrepulja commented on #117
@SimonElliottEUM, during our meeting in March we concluded that would be beneficial if we communicate new BUFR template for TROPICS with CGMS. Could you please ask for their feedback.
@jbathegit could you please communicate new BUFR template for TROPICS with relevant colleagues on your side as well. As I am happy to take your comments on board.
My colleagues from research have circulated BUFR temp

[2022-05-11 15:00] amilan17 commented on #108
@amilan17 create branch

[2022-05-11 15:02] amilan17 commented on #111
re: [https://github.com/wmo-im/CCT/wiki/Teleconference-26-and-28.4.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-26-and-28.4.2022)

<table><tbody><tr><td>Discussion over name / text for new entry in code table (note also typo, Aelous -&gt; Aeolus). Marijana to consult with the data providers and whether the entry can be made more generic.</td></tr></tbody></table>

[2022-05-11 15:03] amilan17 commented on #112
@amilan17 create branch

[2022-05-11 15:04] amilan17 commented on #115
@amilan17 create branch

[2022-05-11 15:05] amilan17 commented on #109
Re: https://github.com/wmo-im/CCT/wiki/Teleconference-26-and-28.4.2022

<table><tbody><tr><td>In progress, discussion over new descriptor and meaning of the values. Marijana to add explanatory note, linking to the Hipparcos catalogue.</td></tr></tbody></table>

[2022-05-11 15:11] amilan17 commented on #5
re: [https://github.com/wmo-im/CCT/wiki/Teleconference-26-and-28.4.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-26-and-28.4.2022)

<table><tbody><tr><td>Delayed by issue <span class="mention" data-mention="#16">#16</span> &nbsp;(Glider template).</td></tr></tbody></table>

###

[2022-05-12 20:38] jbathegit commented on #117
- What's the difference between the 3 different instrument temperatures that are being replicated using 1-01-003?  If you really want to report 3 different temperatures, then I think you need to add in a significance qualifier, or some other coordinate class descriptor within this replicated sequence in order to distinguish the difference between them.
- If you only have 12 channels, then why do y

[2022-05-18 11:53] marijanacrepulja commented on #117
Many thanks for valuable comment @jbathegit
I have not introduce new descriptor in order to distinguish the difference between 3 instrument temperature.

[2022-05-18 12:46] amilan17 commented on #78
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

still in process, move to next FT

[2022-05-18 12:47] amilan17 commented on #115
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

Marijana will provide sample file and sibylle will help with validation

[2022-05-18 12:49] amilan17 commented on #109
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

note is added in issue summary, change -7 to 'Earth's moon'

[2022-05-18 13:19] amilan17 commented on #106
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

branch is created

[2022-05-18 13:31] amilan17 commented on #118
presented at [https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022)

[2022-05-18 13:39] amilan17 commented on #102
[https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-18-and-19.5.2022) notes:

table placeholder has been there forever.

[2022-05-18 13:40] #102 closed

[2022-05-20 14:32] jbathegit commented on #106
Sample data for validation will be provided within the next couple of weeks.

[2022-05-20 17:46] jbathegit commented on #118
The branch has been updated.

[2022-05-24 09:55] amilan17 commented on #107
@amilan17 - 

*   change name of 'geopotential height' to 'geopotential height of the standard level' (**0 10 009)**

[2022-05-24 10:58] efucile commented on #107
@amilan17 we don't need to change the name of the descriptor we need to change the text in the 3 07 096 template

[2022-05-26 14:03] marijanacrepulja commented on #118
@jbathegit thank you.
@amilan17 I have moved the issue to the validated status.

[2022-05-26 15:06] marijanacrepulja commented on #112
@amilan17 the branch is updated

[2022-05-26 15:13] marijanacrepulja commented on #108
@amilan17 the branch is updated

[2022-05-27 08:01] amilan17 commented on #112
@marijanacrepulja - Can you please add the TROPICS acronym to this CSV: https://github.com/wmo-im/BUFR4/blob/issue112/notes/acronyms.csv

[2022-05-27 14:37] marijanacrepulja commented on #112
@amilan17 I have updated the branch by adding the TROPICS acronym

[2022-05-31 09:18] amilan17 commented on #115
@marijanacrepulja Is there a note associated with 0 20 065?

[2022-05-31 09:23] marijanacrepulja commented on #115
@amilan17 the note already exist. I have just put it as reminder. To avoid confusion I can remove it from proposal.

[2022-05-31 11:30] amilan17 commented on #109
@marijanacrepulja please add the note and use temporary note ID: issue109

https://github.com/wmo-im/BUFR4/blob/issue109/notes/BUFRCREX_TableB_notes.csv

[2022-05-31 11:41] amilan17 commented on #106
@jbathegit mismatch of sequence  and element name

<table><tbody><tr><td>001019</td><td>Ship or mobile land station identifier</td></tr></tbody></table>

Is it supposed to be one of these below? 

<table><tbody><tr><td>001019</td><td>Long station or site name</td></tr></tbody></table>

or

<table><tbody><tr><td>001011</td><td>Ship or mobile land station identifier</td></tr></tbody></table>

[2022-05-31 16:41] jbathegit commented on #106
Yeah, that's an error in 3-15-013 too, which explains why it's now in 3-15-023 as well (because I copied the sequence from 3-15-013 and just edited it to generate 3-15-023 ;-).

It's supposed to be the following in both sequences:
<table>
<tr>
  <td>0-01-019</td>
  <td>Long station or site name</td>
</tr>
</table>

because otherwise the corresponding Note_en (i.e. `Platform ID, e.g. ct145-933-BAT2

[2022-05-31 16:50] jbathegit commented on #106
Adding @david-i-berry to this chat for his awareness.  David, just FYI that there's a mismatch of FXY number and element name within the existing 3-15-013 sequence, as @amilan17 noted above.  The correct element name for 0-01-019 is "Long station or site name", not "Ship or mobile land station identifier".

Practically speaking, I doubt this is really affecting anyone, because most automated softw

[2022-06-01 12:22] amilan17 commented on #106
@jbathegit - yes. please go ahead and update the element names in both places. thx.

[2022-06-01 13:52] jbathegit commented on #106
OK, it's done!

[2022-06-01 13:55] marijanacrepulja commented on #109
@amilan17 I have added the note. Not sure if it is correct way of doing it. Could you please review and move to "Ready to FT " I am happy to add changes if need be. Thanks

It would be good we go through the process of adding the note at the meeting next week, so we all agree and know it.

[2022-06-01 21:48] jbathegit commented on #106
@david-i-berry @sergioh-pessoal

Please find attached a zip file containing two sample BUFR messages from IOOS using the new 3-15-023 sequence, along with two corresponding CSV files showing the original values that were encoded into the messages, so that you can confirm you decoded the messages correctly.

If you have any questions or encounter any problems, please let me know.  The messages were

[2022-06-03 14:34] SibylleK commented on #114
@amilan17, the branch is updated.

[2022-06-03 15:37] SibylleK commented on #113
@amilan17, the branch is updated. I tried to include a note for the reference to BIPM, but I am not sure if it is ok to add the notes in the branches of the issues.

[2022-06-06 12:10] marijanacrepulja commented on #114
@amilan17, the branch is updated accordingly, I have moved it to validated column. Please confirm branch validation and move to 'ready for FT'.

[2022-06-06 12:31] marijanacrepulja commented on #111
@amilan17 can you please create branch for this issue. The discussion was over Aeolus Profile (AEL-PRO) entry. The feedback from data provider is still pending. I am thinking to withdraw that entry for time being and go forward with other entries.

[2022-06-06 13:06] jbathegit commented on #106
Hi @david-i-berry and @sergioh-pessoal - is there any chance you could try to validate these sample messages prior to our TT-TDCF team meeting on Wednesday?  (Thanks! ;-)

[2022-06-07 12:00] SibylleK commented on #106
I had also decoded successfully both BUFR examples with BUFR tables of the branch origin/issue106 with the DWD decoding software.
[profiles_decoded_DWD.zip](https://github.com/wmo-im/BUFR4/files/8852840/profiles_decoded_DWD.zip)

The values are the same, despite of rounding differences or rather the way of representing. Only the observation sequence numbers in the .csv files are strange. But, I go

[2022-06-07 12:15] amilan17 commented on #115
@marijanacrepulja -- thanks. are you also updating the branch?

[2022-06-07 12:18] amilan17 commented on #113
@SibylleK I updated the note references. Do you think it's important to keep this in the note: "JCGM - Joint Committee for Guides in Metrology of BIPM - Bureau International de Poids et Mesures ([https://www.bipm.org](https://www.bipm.org/))"?

[2022-06-07 14:48] SibylleK commented on #115
I have successfully decoded the example BUFR with the BUFR tables of this branch.
The output is attached:
[cci_snow.bufr.DWD.txt.zip](https://github.com/wmo-im/BUFR4/files/8853841/cci_snow.bufr.DWD.txt.zip)

I checked the values of the first BUFR. Fortunately only the values of the latitude differ in the 7200 subsets. They are the same in both outputs (ecCodes and DWD BUFR reading software).

[2022-06-07 17:30] marijanacrepulja commented on #115
Thanks very much @SibylleK!

@amilan17 branch has been updated, samples validated.  Could you please review and move to "Ready for FT"

[2022-06-08 12:53] amilan17 commented on #111
[https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022) notes:

*   all are fine with OE-PRO; @amilan17 validate branch

[2022-06-08 12:58] amilan17 commented on #115
[https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022) notes: ready to go

[2022-06-08 12:59] amilan17 commented on #109
[https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022) notes:

@amilan17 validate for FT readiness

[2022-06-08 13:02] amilan17 commented on #113
@amilan17 put JCGM and BIPM in acronym table and upate note

[2022-06-08 13:03] amilan17 commented on #117
[https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022) notes:

still waiting for feedback by mid-June

[2022-06-08 13:05] amilan17 commented on #106
[https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-8.6.2022) notes:

*   sequence has been validated
*   @marijanacrepulja validate and move to validated column

[2022-06-08 13:26] david-i-berry commented on #16
We're still waiting for the outstanding items above, mainly the test data. Once we have that we can proceed with the valuation but the provision of the test data is with the glider community.

[2022-06-09 12:54] amilan17 commented on #113
@SibylleK I updated the note and the acronym table. Will you please double check this commit: 2b3a4a0? thx!

[2022-06-09 15:02] SibylleK commented on #113
@amilan17, Thank you very much, I double checked the commit.

[2022-06-09 16:50] vturpin commented on #16
Don't know realy who will provide the test data.
I also assume it should be raw data from a glider with PAR sensor and BACKSCATTER sensor.

I know that IMOS is using a sensor called "OCR 504 ICSW" that is a radiometer (measuring irradiance at different wave length), and BACKSCATERMETER see here :
https://s3-ap-southeast-2.amazonaws.com/imos-data/IMOS/ANFOG/slocum_glider/BassStrait20220422/IMOS_ANF

[2022-06-10 13:10] marijanacrepulja commented on #111
[AED-TN-CNRM-L2A-036--V2_0--2022_04_07.pdf](https://github.com/wmo-im/BUFR4/files/8879024/AED-TN-CNRM-L2A-036--V2_0--2022_04_07.pdf)
[AED-SD-CNRM-L2A-030--ATBD--v5_08-2021_07_09.pdf](https://github.com/wmo-im/BUFR4/files/8879027/AED-SD-CNRM-L2A-030--ATBD--v5_08-2021_07_09.pdf)

@amilan17 please find attached documentation regarding description of algorithms

[2022-06-10 13:51] marijanacrepulja commented on #113
@SibylleK, @amilan17 many thanks for updates, branch is ready for FT

[2022-06-10 14:23] marijanacrepulja commented on #106
@jbathegit thanks for updating the branch.
@amilan17 I have moved to validated column, please review and move to "Ready for FT"

[2022-06-13 12:27] amilan17 commented on #111
@marijanacrepulja I checked the documents and made the following changes. 

*   Maximum Likelihood ~Method~ Estimation (MLE)
*   mid bin ==> mid-bin
*   couldn't find any explicit text to check for for OE-PRO, group or group mid-bin

Can you please check the diff? (available just above this comment)

[2022-06-13 15:01] marijanacrepulja commented on #111
@amilan17 thanks for updating the branch, I agree with changes

OE-PRO is called AEL-PRO currently. The data provider made up the name OE-PRO based on the algorithm they used to calc it, to satisfy team's requirement for more generic name. It does not exist in documentation yet, but it will be included accordingly.

Please refer to pages 25, 30 for Group input fields

[AED-SD-DoRIT-L2A-025--IODD--

[2022-06-21 08:25] amilan17 opened #129 "Convert B/C Regulations into CSV tables"

[2022-06-21 09:04] amilan17 opened #130 "Update note of B/C25.7.2.8 Wind direction and speed"
# Summary and purpose
ET-UAM is revising WMO No. 8 and is concerned that the old coding rules about reporting wind direction near the poles are unhelpful when it comes to radiosonde reports in BUFR with the location reported at every level. It is proposing a change to the B/C Regulations on this point (for BUFR reports, the rules for TAC would remain the same).

# Stakeholders
* ET on Upper Air Me

[2022-06-21 10:14] shahramn opened #131 "BUFR4/txt/BUFRCREX_CodeFlag_en.txt has extra space in 3rd column"
In the code flags file txt/BUFRCREX_CodeFlag_en.txt, we have:

020063,Special phenomena,11,Mirage - Image of distant object raised (looming),,,,,Operational
020063,Special phenomena,12 ,Mirage - Image of distant object raised clear above the horizon,,,,,Operational
020063,Special phenomena,13,Mirage - Inverted image of distant object,,,,,Operational

Note the entry for code 12 has an extra space i

[2022-06-21 15:02] jbathegit commented on #130
Not that I'm in any way an expert on instrument reporting methods, but the reasoning here and in Bruce Ingleby's attached document seems sensible, so I would support this proposed update.

The only question I have is the use of "should" vs "shall" in the last sentence of the wording for the proposed update.  Is there any reason not to use "shall", in order to make this a mandatory practice?

[2022-06-21 15:13] amilan17 commented on #130
I think they should both be 'should', given that it's a note and notes don't have regulatory status.

[2022-06-21 15:29] jbathegit commented on #130
Fair enough, but just to clarify, are you proposing that the two occurrences of "shall" in the first sentence of the proposed update should be changed to "should" as well?

[2022-06-21 17:24] SimonElliottEUM commented on #117
@amilan17 @marijanacrepulja @jbathegit Comments after CGMS TFSDC review as follows:
Add new satellite sub-identifier 0-01-016 at the start of the Table D sequence.
Giving various coordinate descriptors (in sequence those from 0-05-001 to 0-05-022) for every channel and in every subset will make for a very big product. We should be really sure that all the descriptors really need to reproduced sepa

[2022-06-22 05:56] SimonElliottEUM commented on #117
@amilan17 @marijanacrepulja @jbathegit Also please change the name of the sequence not to refer to TROPICS, then we can use it for other similar data (like forthcoming AWS). If it were only for TROPICS, we wouldn't need delayed replication, etc.

Not suggestion to add satellite sub-identifier 0-01-016 will also help make the Table D sequence useful for other constellations

[2022-06-22 08:49] SimonElliottEUM commented on #130
@amilan17 @jbathegit I have also had a chance to read Bruce Ingleby's document and, like Jeff, find it eminently sensible. I support the proposed change to the note in the B/C Regulation

[2022-06-22 09:50] marijanacrepulja commented on #117
@SimonElliottEUM @jbathegit @amilan17

One difficulty with re-using templates tends to be the quality flags (33094) which often are specific to instrument processing. But one could probably accommodate different processing flags for other missions.

We can rename 0-33-094 TROPICS calibration quality flags to calibration quality flags.

[2022-06-22 14:03] marijanacrepulja commented on #117
@SimonElliottEUM thank you for example of groping channels

We need to have channels ids related  with location, brightness temperature and quality information.
There are 3d arrays e.g   brightness_temperature (channels, scans, spots) , latitude(channels, scans, spots), longitude(channels, scans, spots), satellite-zenith(channels, scans, spots), bearing(channels, scans, spots),
solar-zenith(channe

[2022-06-23 09:46] marijanacrepulja commented on #117
@SimonElliottEUM we already have 033076 Calibration quality flags
I believe we should come up with other name for 033094.
Shall we name it  Calibration quality control  flags?

[2022-06-23 09:57] SimonElliottEUM commented on #117
@marijanacrepulja @jbathegit @amilan17 we already have 0-33-076 "Calibration quality flags". But it doesn't matter even if the same name comes twice. "Calibration quality control flags" is also fine.
Much more important is the replication for the arrays. I think there is work to be done here and the proposal is not mature enough. As TROPICS 2 & 3 have just been destroyed, and there will be a pause

[2022-06-27 13:25] marijanacrepulja commented on #117
@SimonElliottEUM @jbathegit @amilan17

The size of the BUFR file is 37MB. I believe it should not be an issue. With my RD colleagues we did consider the differences for looping over channels vs. ‘bands’, deciding that looping over channels was simpler and likely more straightforward if applied to future sensors. Despite file size, grouping over bands for geolocation could be misleading and not eas

[2022-06-29 09:36] amilan17 commented on #130
We don't want to reference anything related to alphanumeric codes, because they are deprecated.

[2022-07-01 08:55] amilan17 commented on #117
@marijanacrepulja @SimonElliottEUM @jbathegit -- 

Marijana wants this to go through fast-track 2022-2 and if all are in agreement with current discussion resolutions, then the branch needs to be updated and validated by mid-next week. Is this possible? If not, we will have to wait until FT2023-1.

[2022-07-01 15:02] marijanacrepulja commented on #117
@SimonElliottEUM
I followed your approach to group the channels and have the coordinates for each group. The BUFR size is 10MB for 1.5 hours of data which is in line with other data sets. e.g FY-3D MWHS-2 data from one 6-hour file in BUFR has size of 39MB
Could you please have a look.
If we can agree with it I will update the branch and provide sample data.
Many thanks.

|310078| | Satellite sound

[2022-07-01 15:31] SimonElliottEUM commented on #117
I am still uncomfortable with this. I note that it was probably written in a bit of a hurry.
"102003	DELAYED DESCRIPTOR REPLICATION FACTOR" does not refer to delayed replication and there is no replication factor in the sequence.
"117000	REPLICATION OF 17 DESCRIPTORS" is delayed replication but the wording doesn't reflect that.
Generally double nested delayed replication data are very tricky to ha

[2022-07-07 12:18] marijanacrepulja commented on #117
@SimonElliottEUM many thanks for your feedback.

I have fixed the wording for the delayed replication.
As for double nested delayed replication, I had a look at the existing BUFR sequences and there are few BUFR sequences using that approach. e.g. 307102, 308015. I believe users can handle that.
I have used double nested delayed replication to make this BUFR sequence generic so can be re used for

[2022-07-18 12:32] marijanacrepulja commented on #117
@SimonElliottEUM can we agree what is the plan for the TROPICS template. Would you be able to validate the samples or have any other proposals? Many thanks.

[2022-07-26 08:53] marijanacrepulja opened #132 "New BUFR template for TROPICS"
# Summary and purpose

ECMWF is proposing new BUFR template for representing TROPICS observations.

# Stakeholders

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for operational assimilation of TROPICS observations. Therefore, we need a new BUFR template and entry fo

[2022-07-26 09:37] marijanacrepulja commented on #117
@amilan17 as we discussed I have changed this issue to propose new descriptors for representation of TROPICS data. This will help using data in operation until we define BUFR template. The BUFR descriptors have been discussed at the meeting.

Could you please review the branch and move it to ready to FT.

[2022-07-26 13:05] amilan17 commented on #109
@marijanacrepulja I made some note revisions, does it still make sense? 

"In descriptor 0 01 145, the positive values correspond to Hipparcos identifiers where 0 is Sun, -2 is Venus, -4 is Mars, -5 is Jupiter, -6 is Saturn, -7 is Earth's moon, and -8 is Bright limb."

[2022-07-26 13:20] marijanacrepulja commented on #109
@amilan17
"0 is Sun, -2 is Venus, -4 is Mars, -5 is Jupiter, -6 is Saturn, -7 is Earth's moon, and -8 is Bright limb" are not part of the Hipparcos identifiers. The Hipparcos Identifier is Star ID.

[2022-07-26 13:44] amilan17 commented on #106
@jbathegit @marijanacrepulja 

I think we should add a note to 3 15 013 and this is my suggestion: "Note: It is recommended to use 3 15 023 instead."

Please confirm asap.

[2022-07-26 13:57] amilan17 commented on #131
@shahramn - I fixed this in the FT2022-2 branch that will get merged into master after adoption.

[2022-07-26 15:08] shahramn commented on #131
A thousand thanks

[2022-08-04 09:38] vturpin commented on #16
I had the following feedback from John Turton that I am sharing with you for modification of the template :
"_I am just running through the draft template on GitHub for checking/updating my glider BUFR decoding code and noticed one (minor) error._

_For 0-22-056 it should be 0 for ascending  (3 is “11” so denotes missing data)._

 _And I think the 1-04-000 replication for the BBP section (loop) sh

[2022-08-04 14:10] justinbuck commented on #16
@david-i-berry  I am not sure who we need to notify with the feedback from Jon in the post above, could you advise please?

[2022-08-16 09:52] amilan17 opened #135 "FT2022-2 Amendment Document for FT Procedure"
## [FT2022-2 Amendment Document for FT Procedure](https://wmoomm.sharepoint.com/:b:/s/wmocpdb/ESg7p6BU5xpIvmhkCvA4UN8B_MMw02JK9TRyY1eFu6n5PQ?e=WjtblC)

The purpose of this issue is to keep track of the status of these proposed amendments during the fast-track approval procedure.

[2022-09-22 11:45] amilan17 commented on #132
[https://github.com/wmo-im/CCT/wiki/Teleconference-22.9.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-22.9.2022) notes:

*   change 301013 to 301012, because don't need to have seconds repeated
*   change to fixed replication instead of delayed and keep the template specific to TROPICS

[2022-10-03 13:30] marijanacrepulja commented on #132
According to a my research colleague's comment, ||004007| SECONDS WITHIN A MINUTE (MICROSECOND ACCURACY)|| is not required in the BUFR template. I have remove it and kept 301013.

[2022-10-07 13:41] antoinemerle opened #136 "Proposal for new BUFR table entries for EPS-SG : MWI, ICI, SCA, IAS 1, MWS"
### Initial request

This document proposes new BUFR entries for the following products : MWI, ICI, SCA, IAS 1, MWS. This entries correspond to the instruments embeded for EPS-SG mission

### Amendment details

# New table D entries

New element | Element name
-- | --
`3 10 080`  | Ice Cloud Imager Data (level 1B)
`3 10 081` | Microwave Imager Data (level 1B)
`3 10 082` | Microwave Sounder Data (l

[2022-10-10 14:27] antoinemerle commented on #136
Dear @jbathegit

## CURRENT STATE

As reminder on MWS sequence, you made an interesting remark on the following part of the sequence :
- `0 40 192`            Satellite channel bandwidth (first band)
- `0 40 193`            Satellite channel bandwidth (second band)
- `0 40 194 `           Satellite channel bandwidth (third band)
- `0 40 195`            Satellite channel bandwidth (fourth band)

##

[2022-10-10 14:39] antoinemerle commented on #136
Dear @marijanacrepulja

# Current situation on MWI and ICI
code | name | unit | scale | ref | width | Mission
-- | -- | -- | -- | -- | -- | --
0-05-193 | Sub-satellite latitude | Degrees | 4 | -900000 | 21 | ICI, MWI
0-06-194 | Sub-satellite longitude | Degrees | 4 | -1800000 | 22 | ICI, MWI

For those two descriptors, you asked an interesting question :

after looking and ask scientist for it, I

[2022-10-11 15:57] jbathegit commented on #136
Hello @antoinemerle

re: "Satellite channel band width", there's already an existing Table B descriptor 0-02-154 which you can use for this, and which in fact already has the same Hz | -8 | 0 | 26 specifications.  So you don't need to propose a new F-X-Y number for this.

re: the proposed new 0-05-193 and 0-05-194, I have more often heard that point referred to as the "Satellite sub-point", rather

[2022-10-13 14:50] antoinemerle commented on #136
Dear Jeff,

Indeed you are completely right here :
the final result would be then
    1 02 004 - replicate the 2 descriptors 4 times
    0 05 195 - band number
    0 02 154 - Satellite channel bandwidth
    0 05 195 - band number = missing
==> only request to create one new descriptor in table B: 0 05 195
TODO @antoinemerle update the sequence for MWS and edit the issue accordingly to that recomen

[2022-10-13 15:03] #108 closed

[2022-10-13 15:03] #109 closed

[2022-10-13 15:03] #111 closed

[2022-10-13 15:03] #112 closed

[2022-10-13 15:03] #113 closed

[2022-10-13 15:03] #114 closed

[2022-10-13 15:03] #115 closed

[2022-10-13 15:03] #117 closed

[2022-10-13 15:03] #118 closed

[2022-10-14 09:15] amilan17 commented on #135
https://github.com/wmo-im/BUFR4/releases/tag/v39.0

[2022-10-14 11:57] amilan17 opened #137 "Change name of Turkey in Code Table 01"
### Details

see: https://github.com/wmo-im/CCT/issues/108

### Requestor

Anna Milan (WMO), @amilan17

[2022-10-14 13:43] marijanacrepulja opened #138 "New BUFR template for Aerosol Optical Depth"
### Initial request

ECMWF is proposing new BUFR template for representing AOD observations.

### Amendment details

**1. Add a new element  in table B 0-07-073 Scattering angle**
F  X Y          | ELEMENT NAME        | UNIT | SCALE | REFERENCE 	VALUE | DATA 			WITH  (bits)
-- | -- | -- | -- | -- | --
0-07-073 |Scattering angle| deg | 0 | 0 | 8

**2. Add a new element  in table B 0-07-074 Relative

[2022-10-21 10:06] antoinemerle commented on #136
EDIT on IASI L1C and L1D
During our most recent interactions with our expert scientist in EUMETSAT, some small issues have come to light with the IASI-NG L1C and L1D BUFR representation. We have updated the specifications accordingly with @SimonElliottEUM

[2022-10-27 11:57] antoinemerle commented on #136
####  EDIT 2 : Scientists ask to add the descriptor  `0 01 034` code to the IASI L1C and L1D template.

We added the following code to the two sequences `3 10 197` (IASI-NG L1C)  and  `3 10 198` (IASI-NG L1D):

code | name
-- | --
0 01 034 | Identification   of originating/generating sub-centre

[2022-10-30 07:46] shirley-xuelei opened #139 "Proposal for new BUFR table entries for FY-4 GIIRS"
### Initial request

This document proposes new BUFR entries for FY-4 Geostationary Interferometric Infrared Sounder (GIIRS)  product.

### Amendment details

### New table D entries
|Table references|Element name                                         |
|----------------|-----------------------------------------------------|
|3 10 191        |FY-4 Geostationary Interferometric Infrared Sounder (

[2022-10-31 10:58] antoinemerle commented on #136
Hi @jbathegit

I follow your recommendations and I implemented the following changes with Simon Elliott

## MWS : related to the resolution problem

We won't create 4 new descriptors anymore, but only one new for `Radius resolution : 0 05 0196`

from :
code | description
---- | -----
0 21 192 | Land fraction - low   resolution
0 07 195 | Height of land surface   - low resolution
0 21 193 | Land fr

[2022-11-02 11:32] david-i-berry commented on #16
This will be corrected and doesn't impact on the Table D sequence itself, more its use and potential incorrect encoding.

The 1-04-000 is correct, the 5th descriptor (0-02-071, Spectrographic wavelength) cancels that set within the loop but does not need to be in the loop itself.

[2022-11-02 12:04] david-i-berry commented on #16
# Revised proposal

## New Table B Entries

__*Class 41: BUFR / CREX Oceanographic / biogeochemical parameters*__

| Descriptor | Name | Units | Scale | Reference | Width | Notes | CREX scale | CREX width |
| :----------: | ---- | :-----: | :-----: | :---------: |:-----:| :-----: |:----------:|:----------:|
| 0-41-006 | Mass concentration of chlorophyll A in sea water | kg m-3 | 9 | 0 |  17   | |

[2022-11-02 13:46] amilan17 commented on #16
[https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022) notes:

*   need validation results by beginning of January, it would be better if we can have sample data by December

[2022-11-02 14:01] amilan17 commented on #78
[https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022) notes:

still in progress

[2022-11-02 14:13] amilan17 commented on #136
[https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022) notes:

*   @marijanacrepulja had some questions/feedback
*   @antoinemerle add expected descriptors and @amilan17 will verify

[2022-11-02 15:07] amilan17 commented on #138
[https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022](https://github.com/wmo-im/CCT/wiki/Teleconference-1-and-2.11.2022) notes:

team discussed some issues that @marijanacrepulja will fix.

[2022-11-09 18:54] antoinemerle commented on #136
Dear @amilan17 , we updated the table B with the final code picked by us, I hope this is okay for the secretary.
We also added an element description columns as requested in your comment

Dear @marijanacrepulja and @SibylleK , Please find attached :
- one folder for each product :
- each folder is made up of :
- - the related BUFR Data sample (from an exisiting netCDF file)
- - the definitions tab

[2022-11-11 16:08] marijanacrepulja commented on #136
Dear @antoinemerle,

Thank you for providing the samples.

I had a look at the zip file and can only find sample BUFR files but not corresponding Eccodes tables.

As part of the validation process, all proposed BUFR descriptors, templates and code tables have to be entered into git hub branch. Please see link below to the branch
[
](https://github.com/wmo-im/BUFR4/tree/136-proposal-for-new-bufr-ta

[2022-11-14 15:50] antoinemerle commented on #136
Dear @marijanacrepulja ,

I just updated the zip file with the definitions tables ( you can find it above in previous comment, I am sorry for the mistake).

As you requested, I tried to generate my products with table master V40 (and V39) , but the latest Eccodes V2.27.0 (delivery date August 23) does not allow me to create a BUFR file with any Master table version above 38 (included).

When tryin

[2022-11-14 17:00] marijanacrepulja commented on #136
Dear @antoinemerle,

Thank you for updating the zip file.

To create samples with master table version 40.
You should create locally mkdir -r mydefinition/bufr/tables/0/wmo/40/
- copy latest element.table sequence.def and all codetables into the mydefinition/bufr/tables/0/wmo/40/
- update element.table, sequence.def and  codetables with new definitions
-  export ECCODES_DEFINITION_PATH=mydefinitio

[2022-11-14 17:06] shahramn commented on #136
It is always safer to set the FULL PATH of your own definitions in the environment variable
Something like
export ECCODES_DEFINITION_PATH=$PWD/mydefinition

[2022-11-15 07:37] antoinemerle commented on #136
Hi @shahramn, I fully agree with you and this is actually the case in my configuration :

[code]

The error I shared was rendered at runtime, while encoding the BUFR file, maybe when running the script, python is not picking the right one. I will investigate.

Hi @marijanacrepulja
Thanks for the input and help with version 40 :

I definitely will do it today.

One additional question, I can commit

[2022-11-15 11:19] marijanacrepulja commented on #136
Hi @antoinemerle

Yes, having all the changes in one branch is convenient.

Many thanks!

[2022-11-16 10:22] #135 closed

[2022-11-17 10:02] vturpin commented on #16
Hi Anna,
Thanks for this deadline.
Is there anyone in particular in charge of this validation results?

[2022-11-21 11:56] shirley-xuelei commented on #139
According to the comments of last meeting, I updated 4 items as follows, @marijanacrepulja @SimonElliottEUM @amilan17
1. Add 0 07 001 Height of the Station
2. Add 0 02 165 Radiance type flags, but it will be filled with the fixed value of 5(=unapodised) at present.
3. Add 0 14 049 Noise Equivalent delta Radiance (NEdR)
4. Add +5 to the width of 0 05 043 (FOV)

[2022-11-21 13:53] amilan17 commented on #132
https://github.com/wmo-im/CCT/wiki/Teleconference-21.11.2022 notes:
EUMETSAT will validate, @marijanacrepulja will update branch

[2022-11-21 13:54] amilan17 commented on #136
https://github.com/wmo-im/CCT/wiki/Teleconference-21.11.2022 notes:
@jbathegit will be able to review sometime next week.

[2022-11-21 13:56] amilan17 commented on #139
https://github.com/wmo-im/CCT/wiki/Teleconference-21.11.2022 notes:
(@shirley-xuelei) updated proposal

[2022-11-21 14:06] amilan17 commented on #16
https://github.com/wmo-im/CCT/wiki/Teleconference-21.11.2022 note:
branch needs updating and needs samples
@marianmajan-ibl, @SibylleK and @marijanacrepulja will validate

[2022-11-21 14:07] amilan17 commented on #113
https://github.com/wmo-im/CCT/wiki/Teleconference-21.11.2022 notes:
@marijanacrepulja will update branch, CGMS group approved

[2022-11-21 14:55] david-i-berry commented on #16
I'm happy to help where I can but we really need some representative sample profiles. I had a quick look at the file linked by @justinbuck , this contains the parameters we are adding but contains far too much data (~500MB of data) to easily create a sample file. If someone is able to extract a few profiles, ensuring that the PHASE and PHASE_NUMBER variables are set I should be able to generate th

[2022-11-21 16:44] kbailey-noaa commented on #16
@david-i-berry et al - Does the new BUFR template require PHASE and PHASE_NUMBER?  The US Glider DAC file format is trajectory profile-based, so doesn't include those variables.  Would a .nc file from that DAC be useful, despite not including those phase variables?

[2022-11-24 15:54] amilan17 commented on #136
@antoinemerle -- looks good so far.

[2022-11-24 15:58] amilan17 commented on #136
@antoinemerle -- can you add acronyms to this CSV? [acronyms.csv](https://github.com/wmo-im/BUFR4/blob/136-proposal-for-new-bufr-table-entries-for-eps-sg-mwi-ici-sca-ias-1-mws/notes/acronyms.csv)

[2022-11-24 15:58] amilan17 commented on #136
@antoinemerle -- can you add acronyms to this CSV? [acronyms.csv](https://github.com/wmo-im/BUFR4/blob/136-proposal-for-new-bufr-table-entries-for-eps-sg-mwi-ici-sca-ias-1-mws/notes/acronyms.csv)

[2022-11-24 16:33] antoinemerle commented on #136
Dear @amilan17  what acronyms ? ( Can you give me an example just for me to know.)
@amilan17  : You've noticed that I pushed my changes in my branch, efucile already made some changes : I take a note that I will have to update my script to update also the XML tables in the next delivery.

Dear @marijanacrepulja @SibylleK :
I just uploaded the table 40 and the corresponding products here:
- WMO_BUF

[2022-11-28 10:59] vturpin commented on #16
@kbailey-noaa, yes this would be usefull I think.
Trajectory profile is a series of profile so I assume with such a data set, @david-i-berry could test the BUFR template.
I don't think the BUFR template require the PHASE and PHASE_NUMBER. If I understand well the problem, the data set from BODC is a trajectory, so to extract the profile from this, you need the phase and phase_number completed.
Wit

[2022-11-28 16:04] marijanacrepulja commented on #117
[tropics.tar.zip](https://github.com/wmo-im/BUFR4/files/10105409/tropics.tar.zip)

@SimonElliottEUM  Could you please validate the provided sample? Many thanks!

[2022-11-28 17:19] kerfoot commented on #16
@david-i-berry @amilan17 @vturpin I'm happy to provide sample data files, but am still unclear on exactly what type sample data files are required? We have lots of [datasets available at the IOOS DAC](https://gliders.ioos.us/erddap/info/index.html?page=1&itemsPerPage=1000) for which profiles are available.  The data sets are TrajectoryProfile, but I can provide sample queries to download individua

[2022-11-28 18:39] jbathegit commented on #136
I have no further comments or concerns - thanks!

[2022-11-28 22:44] castelao commented on #16
@david-i-berry , are you looking for a BUFR-encoded file or just numbers for a dataset? Since this is for validation purposes only, would it make sense to use a synthetic dataset that explores some extreme values as well as cherry-picked resolution in certain ranges, even if that profile didn't make sense physically?