[2020-03-30 11:13] efucile opened #3 "Add perturbed forecast in table 0-01-092"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-3

# Summary and purpose
This document proposes new entry to Code Tables 0 01 092 in order to represent forecasted tropical cyclone from ensemble forecast system.

# Action proposed
The team is kindly asked to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
Tropical cyclone size forecasts becam

[2020-03-30 11:16] efucile opened #4 "New BUFR sequence for tropical cyclone tracks"
# Summary and purpose
ECMWF proposes a new BUFR sequence in order to represent tropical cyclone tracks, intensity and wind thresholds radii from ensemble forecast system.

# Action proposed
The team is kindly asked to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
The continuing model upgrades and more recently re-tuning of the Charnock paramet

[2020-03-30 11:33] efucile opened #5 "Additional bio-geochemical sequences for data from Argo profiling floats"
Add entries:

in BUFR/CREX Table B,
Class 13 – Hydrographic and hydrological elements
Table reference	Element name	BUFR	CREX
F	XX	YYY		Unit	Scale	Ref. value	Data width (bits)	Units	Scale	Data width (characters)
0	13	161	pH scale	Code table	0	0	3	Code table	0	1

Class 41 – Marine bio-geochemical data
Table reference	Element name	BUFR	CREX
F	XX	YYY		Unit	Scale	Ref. value	Data width (bits)	Units	Scal

[2020-03-30 13:06] DavidBerryNOC opened #6 "Table D sequence for reporting marine observations from autonomous surface vehicles"
**DISCUSSION**

Observations from autonomous surface vehicles are currently converted to BUFR and inserted on to the GTS using the sequence for drifting buoys (315009). However, this sequence is inadequate for the full range of observable parameters and sensors on the surface vehicles. Additionally, the use of the incorrect template leads the observations being mis-attributed to drifting buoys, re

[2020-04-15 17:07] jbathegit opened #7 "new entries in BUFR flag table 0-33-066"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-7

# Summary and purpose
This document proposes 2 new entries in BUFR flag table 0-33-066.

# Action proposed
The team is requested to review and approve the new entries for inclusion in the November 2020 fast-track updates.

# Discussions
As part of their ongoing efforts to mitigate the negative effects of the loop-heat pipe failure and provide

[2020-04-20 13:01] efucile opened #8 "Table D sequence for reporting marine observations from unmanned surface vehicles"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-8
# Summary and purpose
New sequence for the reporting of met-ocean observations from unmanned surface vehicles.

# Action proposed
The meeting is requested to review and approve the contents of this proposal for validation status.

# Discussions
Observations from unmanned, or autonomous, surface vehicles are currently converted to BUFR and inser

[2020-04-20 13:40] efucile commented on #8
@DavidBerryNOC it's in the correct place now!

[2020-04-21 15:17] erget opened #9 "Correct clerical error in BUFR Table B entry 0-40-063"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-9

# Summary and purpose
It is proposed to correct a clerical error in 0-40-063 “Scaling vector multiplying the a priori CO vector in order to define the retrieved CO vector” by renaming the table entry to to “Scaling vector multiplying the a priori vector in order to define the retrieved vector”.

# Action proposed
The meeting is requested to ap

[2020-04-21 15:25] erget opened #10 "New BUFR sequences for encoding IKFS2 products"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-10

# Summary and purpose
This document proposes new BUFR sequences and quality flags in order to encode radiances observed using the IKFS-2 instrument on board the Meteor-M N2 satellites.

# Action proposed
The meeting is requested to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
The Infrare

[2020-04-21 15:30] erget opened #11 "Proposal for new entries in Common Code Tables C5 and C8"
# Summary and purpose
This document proposes new entries to Common Code Tables C5 and C8 in order to represent satellites and instruments operated by ROSHYDROMET.

# Action proposed
The meeting is requested to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
A number of key meteorological satellite launches are foreseen in the coming months. In o

[2020-04-21 15:41] erget opened #12 "Table D sequence for reporting scatterometer data from CFOSAT"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-12

# Summary and purpose
New Table D sequence for the reporting of scatterometer data from CFOSAT

# Action proposed
The meeting is requested to review and approve the contents of this proposal for implementation within the second 2020 fast-track (FT2020-2) update to the WMO Manual on Codes.

# Discussions
Developed jointly by Centre national d'

[2020-04-21 15:42] erget opened #13 "Table D sequence for reporting scatterometer data from CFOSAT"
# Summary and purpose
New Table D sequence for the reporting of scatterometer data from CFOSAT

# Action proposed
The meeting is requested to review and approve the contents of this proposal for implementation within the second 2020 fast-track (FT2020-2) update to the WMO Manual on Codes.

# Discussions
Developed jointly by Centre national d'études spatiales (CNES) and the China National Space Adm

[2020-04-22 13:08] erget opened #14 "Table D sequence for reporting scatterometer data from CFOSAT"
# Summary and purpose
New Table D sequence for the reporting of scatterometer data from CFOSAT

# Action proposed
The meeting is requested to review and approve the contents of this proposal for implementation within the second 2020 fast-track (FT2020-2) update to the WMO Manual on Codes.

# Discussions
Developed jointly by Centre national d'études spatiales (CNES) and the China National Space Adm

[2020-04-23 15:55] erget opened #15 "Proposal for new BUFR table entries for Sentinel-6 Michael Freilich"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-15

# Summary and purpose
This document proposes new BUFR entries in order to represent altimeter data from Sentinel-6 Michael Freilich.

# Action proposed
The meeting is requested to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions
Sentinel-6 Michael Freilich is due to be launched in the autumn

[2020-04-24 11:19] david-i-berry opened #16 "New Table D sequence for reporting observations from ocean gliders"
# Authors
- Justin Buck (British Oceanographic Data Centre (BODC)) on behalf of OGDMTT
- Kevin O'Brien (NOAA Pacific Marine Environmental Laboratory (PMEL)) on behalf of OGDMTT
- Dan Hayes (University of Cyprus) on behald of OGDMTT
- David Berry (National Oceanography Centre (NOC)) as JCOMM TDC coordinator
- _plus additional contributors in this thread_

# Summary and purpose
The Ocean Gliders Dat

[2020-04-24 13:00] DavidBerryNOC opened #17 "Table D sequence for reporting trajectory profile data from marine animal tags"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-17-ft

# Authors
- Bill Woodward (NOAA), ATN Network coordinator
- David Berry (NOC), JCOMM TDC coordinator

# Summary and purpose
The US Integrated Ocean Observing System (IOOS) Animal Telemetry Network (ATN) aims to start distributing temperature, depth and salinity measurements from marine animal tags over the GTS. A draft Table D sequence to

[2020-04-24 13:05] DavidBerryNOC commented on #8
As part of the validation process the sequence has been modified, the revised proposal can be found below.

As part of this name has been changed from unmanned surface vehicles to autonomous surface vehicles.

**PROPOSAL**
(Details of proposal)
Add new entry to BUFR Table D
Category 15 – Oceanographic report sequences

Table Reference | Table References | Element Name | Description
-- | -- | -- |

[2020-04-24 13:06] DavidBerryNOC commented on #6
Duplicate of issue #8

[2020-04-24 13:06] #6 closed

[2020-04-24 13:39] SibylleK opened #18 "New Sequence and descriptors for GNSS Slant Total Delay BUFR"
# Branch
NEW: https://github.com/wmo-im/BUFR4/tree/issue18-FT

# Summary and purpose
For the exchange of a large number of GNSS Slant Total Delay messages, a new STD BUFR template is proposed. The operational assimilation of STD observations is expected soon.

# Action proposed
The team is invited to discuss and approve the proposed new descriptors and sequence for GNSS Slant Total Delay for inclu

[2020-04-24 16:08] SibylleK opened #19 "New table B descriptor for a sensor identifier"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-19

# Summary and purpose
If several measurements are available for a parameter at the same height and at the same time, an identifier is required for the individual measurements. A new descriptor for a sensor identifier is proposed.

# Action proposed
The team is requested to review and to approve the contents for inclusion within the next updat

[2020-04-24 17:01] jbathegit commented on #11
I have no issues with the proposal itself, but for organizational purposes I'm wondering if it should be categorized under wmo-im/CCT, rather than under wmo-im/BUFR4?  Maybe something for Enrico to clarify.

[2020-04-24 19:10] jbathegit commented on #15
Hi Daniel - a reminder that Y > 191 means a descriptor is local, so your proposed new FXY numbers 0-21-192, 0-22-192 and 3-40-192, 3-40-193, ..., 3-40-198 all need to be adjusted to put them into the WMO standard range where Y <= 191.

[2020-04-24 20:41] erget commented on #15
Hi Jeff, yes, you're right - the thought here was that there might be number clashes so we'd discuss the sequences and then when they're ok have the Secretariat assign the final numbers.

[2020-04-24 21:42] jbathegit opened #20 "New BUFR Table B and D descriptors for scatterometer data"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-20

# Summary and purpose
This document proposes several new entries in BUFR Tables B and D for use with scatterometer data.

# Action proposed
The team is requested to review and approve the new entries for inclusion in the November 2020 fast-track updates.  Samples for validation can be provided upon request.

# Discussions
NESDIS is proposing

[2020-04-27 10:40] SimonElliottEUM commented on #15
It was a cunning plan on my part. It doesn't matter which numbers we get - I though it might be helpful to have them assigned by the Secretariat

[2020-04-27 10:40] SimonElliottEUM commented on #11
I agree

[2020-04-28 13:31] efucile commented on #13
duplicate of #12

[2020-04-28 13:31] #13 closed

[2020-04-28 13:32] efucile commented on #14
duplicate of #12

[2020-04-28 13:32] #14 closed

[2020-04-28 13:44] erget commented on #11
@jbathegit you're right, I should have submitted that in wmo-im/CCT; I've now duplicated the issue in https://github.com/wmo-im/CCT/issues/13 and am closing this as a duplicate.

[2020-04-28 13:44] #11 closed

[2020-04-28 19:00] jbathegit commented on #16
I spotted a couple of typos - the FXY value for "Direction of sea-surface current" should be 0-22-005 (not 0-02-169), and the FXY value for "Speed of sea-surface current" should be 0-22-032 (not 0-22-031).

[2020-04-28 19:10] jbathegit commented on #19
Is there any reason existing descriptor 0-01-050 (Platform transmitter ID number) couldn't be used for this purpose?

If a new descriptor is added, it would need a different number besides 0-01-152, because that number is already assigned for "Semi-major axis of rotation ellipsoid".

[2020-04-29 12:11] efucile commented on #3
I am just copying the table from the repository to have a view of what is the impact of the request on the entire table.

001092 | Type of ensemble forecast | 0 | Unperturbed high-resolution control forecast |   |   |   | Operational
-- | -- | -- | -- | -- | -- | -- | --
  | 001092 | Type of ensemble forecast | 1 | Unperturbed low-resolution control forecast |   |   |   | Operational
  | 001092 |

[2020-04-29 12:23] efucile commented on #18
Can we reformulate the proposal without notes?

[2020-04-29 14:19] marijanacrepulja commented on #10
Hi @erget, many thanks for the BUFR template, ECMWF is looking forward to receiving the data.
I have few comments
- Bits No 0 and 10 seems to have the same meaning
- Should we start from 0 and have all missing at the end
- ECMWF need to have included Scan Angle in the BUFR template

[2020-04-29 14:23] SimonElliottEUM commented on #7
I appreciate the allocation of the high order bits first - this will help with the subsequent compression, just as we have discussed

[2020-04-29 14:26] SimonElliottEUM commented on #20
I can certainly pass this to the CGMS TSFDC for their comment. Typically they are given a month to comment - and no comment is taken as agreement. If I pass this to them we could have their position by the end of May 2020. Please advise

[2020-04-29 14:56] marijanacrepulja commented on #15
Hi Daniel,
Many thanks for BUFR templates.

-   Could we not include satellite name in the name of the BUFR template since the same template will be used for other altimeters.

- Would't it better if the following elements are moved from the "3-40-197 “Sentinel-6 Michael Freilich 1 Hz C and Ku band values" part to the "3-40-194 “Sentinel-6 Michael Freilich radiometer values" part:
0-25-164 Radiome

[2020-04-29 15:37] jbathegit commented on #20
Yes Simon, please do so, as we would certainly welcome their comments, and I believe we could still complete any necessary adjustments or validations in time for the November 2020 (v35) FT release.  Thanks!

[2020-04-30 07:32] DavidBerryNOC commented on #16
Thanks, it's hopefully correct now.

[2020-04-30 08:09] SimonElliottEUM commented on #20
Has the proposal been discussed with KNMI. They are the primary producers of scatterometer winds in Europe (including from ScatSat) but are not part of CGMS. I can arrange this if you'd like

[2020-04-30 08:31] erget commented on #10
@marijanacrepulja thanks for pointing out the issue with the duplicated bits - it was a table copying error. In fact I'd set the table wider than needed. We do need a reserved bit at the end so that the entry can be set to MISSING if necessary - if we don't reserve the bit at the end, there's no differentiation between all flags being set and no data being reported.

Concerning the `ScanAngle` I'v

[2020-04-30 08:55] marijanacrepulja commented on #7
Thanks @jbathegit for proposing additional AMV Quality Flag. I have asked my colleagues in research who are working with the data about the wording and they would appreciated if it can be reformulated as bellow.

1. The use of the phrase “mitigated band” seems unclear. The impression it gives is that a normally used channel has been altered in some way (subject to the mitigation strategy) rather t

[2020-04-30 09:21] marijanacrepulja commented on #10
@erget thanks for the request for a new descriptor.

As for flag table I meant to write that should start with 1 and finished with All 10 Missing value

For example I copied flag table for 0 02 022 Satellite data-processing technique used
Bit No.
1 Processing technique not defined
2 Automated statistical regression
3 Clear path
4 Partly cloudy path
5 Cloudy path
6–7 Reserved
All 8 Missing value

[2020-04-30 09:26] marijanacrepulja commented on #20
My colleague from research Giovanna Di Chiara, is in the email loop between NOAA and KNMI, so hopefully we will get feedback soon.

[2020-04-30 09:35] erget commented on #15
Hi @marijanacrepulja , I've answered your questions point-by-point below:

This is fine, **I have updated the sequence names accordingly.**

Those descriptors are proposed for 3-40-197 because the retrieved values use the radiometer brightness temperatures _and_ the altimeter's Sigma0, so they should remain in that sequence.

The product will contain 2 MSS models in the product, this is to allow d

[2020-04-30 10:06] SimonElliottEUM commented on #20
We should consider this also in the context of the proposal "Table D sequence for reporting scatterometer data from CFOSAT". I am a little nervous of a proliferation of somewhat similar scatterometer sequences, all originating from 3-12-208

[2020-04-30 11:43] erget commented on #10
@marijanacrepulja OK I see what you mean, I've updated the formulation of the table.

[2020-04-30 12:24] DavidBerryNOC commented on #5
Validation still waiting input / testing by Argo team.

[2020-04-30 14:21] SibylleK commented on #19
Thank you very much Jeff, the number is changed to 0-01-154 now.

[2020-04-30 14:22] SimonElliottEUM commented on #20
I forwarded the proposal to CGMS TSFDC today (30/04/2020) and gave them until end of May 2020 to answer

[2020-05-01 20:22] jbathegit commented on #7
Thanks Marijana for the review by you and your colleagues.  I've forwarded your comments to my NESDIS colleagues and will let you know what they say.

[2020-05-05 05:21] jitsukoh commented on #10
@erget Just to avoid any confusion, in the detailed proposals, can I understand:
- "Add the following elements to BUFR Table B/40:" means "Add the following elements to BUFR Table **B/07 and** B/40:"
- "Add the following sequence 3 40 018 “Infrared Fourier Spectrometer - 2 (IKFS-2) spectra” to BUFR Table D/01:" means "Add the following sequence 3 40 018 “Infrared Fourier Spectrometer - 2 (IKFS-2)

[2020-05-05 07:14] erget commented on #10
@jitsukoh yes, that's correct - not sure how that slipped past me. I've updated the text accordingly.

[2020-05-05 09:03] richardweedon opened #21 "Revision of E-Profile Sequences"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue-21a

# Summary and purpose
A windprofiler (WP) is a ground based remote sensing instrument to measure vertical profiles of wind, this can be either a radar, lidar or sodar. Radar based WP networks exist worldwide and the data are encoded in BUFR to be exchanged over the GTS. However, each of these networks uses a different implementation of the B

[2020-05-05 15:03] jbathegit commented on #7
@marijanacrepulja, just wanted to give you a heads-up that NESDIS has reformulated their request based on ECMWF's comments.  The proposed bit 18 entry has now been removed, and the other entries further clarified, including what was really meant by "mitigated band".  Please let us know if there are still any concerns or confusion, and thanks again for your careful review of our proposal!

cc @Simo

[2020-05-06 16:55] marijanacrepulja commented on #7
@jbathegit many thanks for taking the feedback on-board!

There are a few more questions.
Does this mean a different channel frequency will be given in the BUFR field for the channel frequency as well when 19 (or 21) are set? Or it could be that the "intended" frequency is given (remaining the same all the time), and the flag 19 (or 21) is set to indicate that a different one is used when there is

[2020-05-06 19:18] jbathegit commented on #7
@marijanacrepulja - yes, a different channel frequency will be given in the BUFR field for the channel frequency when bit 19 (or 21) are set.  So the frequency you see will be what was actually used.

cc @SimonElliottEUM

[2020-05-07 11:42] efucile opened #23 "Validate machine-readable legacy format"
Machine-readable legacy format has been included in the master branch. We need to verify that the format satisfies users requirements.

[2020-05-07 11:50] efucile commented on #23
legacy format here
- [txt] (https://github.com/wmo-im/BUFR4/tree/master/txt)
- [xml] (https://github.com/wmo-im/BUFR4/tree/master/xml)

[2020-05-07 12:19] efucile commented on #18
Try to move the notes in a description column.

[2020-05-07 13:25] erget commented on #10
Input from @SibylleK:
- Rename "IKFS-2 quality flags" to a more general name
- Widen that table to 16 bits

[2020-05-07 13:27] erget commented on #10
@SibylleK I have implemented your requests in the proposal above.

[2020-05-07 13:34] DavidBerryNOC commented on #5
I've moved to FT-2021-1 but doubt it will be done by then.

[2020-05-07 13:49] erget commented on #23
@efucile I encountered some errors. You can browse what I could import [here](https://vocabulary-manager.eumetsat.int/vocabularies/BUFR/WMO/100). I'm not sure what's causing the errors - I've never had trouble parsing these files for previous versions before, so it seems something's changed in the formatting. I'll try to narrow it down and provide some feedback.
# XML
Table B - 111 elements were i

[2020-05-07 14:23] erget commented on #23
Error sources we've identified:
1. Empty elements, e.g. `<Note_en/>`
1. Dummy entries such as
[code]

[2020-05-07 15:01] efucile commented on #23
This is a branch to work on this issue https://github.com/wmo-im/BUFR4/tree/legacyFormats
Contributions to fix the problem are welcome.

[2020-05-07 17:24] jbathegit commented on #20
@wmo-im/tdcf

Sample ScatSat-1 scatterometer messages are available for validation from the following URLs, as files ending in ".bufr"  The corresponding ".bufr.decoded" files show what the decoded values should be.

L2A: [ftp://ftp.star.nesdis.noaa.gov/pub/smcd/jpss-ait/ScatSat/L2A/](ftp://ftp.star.nesdis.noaa.gov/pub/smcd/jpss-ait/ScatSat/L2A/)
L2B: [ftp://ftp.star.nesdis.noaa.gov/pub/smcd/jpss-

[2020-05-08 02:43] jitsukoh commented on #7
@jbathegit I add a note based on Sibylle's comment at yesterday's teleconference.
Bit 21 might not be necessary because it can be represented by using 19 and 20 together.
This will be confirmed and necessary changes will be made as part of the validation.

[2020-05-08 14:23] jbathegit commented on #7
@jitsukoh - thanks, and rest assured we haven't forgotten about this.  I agree that this makes sense, and I've already been in touch with my NESDIS colleagues and they agree as well.  In fact, we're all surprised (and a bit embarrassed ;-) that we didn't catch this ourselves, so much thanks to @SibylleK for her careful review and comments!

For now, I've gone ahead and updated the proposal in the

[2020-05-11 11:02] SibylleK commented on #18
Due to @jbathegit proposal, I added the short delayed replication to the "Zenit total delay" and "Slant total delay block.
My colleague Michael Bender will check whether the replication within the ZTD block is still needed.

[2020-05-14 16:08] DavidBerryNOC commented on #17
Hi Enrico,

Sorry, I meant to flag this sooner. After the call I've been in conversation with the people behind the template and we'd like to aim for the next FT, not FT-2021-1. Would that be possible.

Thanks,

Dave.

[2020-05-19 11:16] tomkralidis commented on #23
@erget looks like the dummy entries were fixed in https://github.com/wmo-im/BUFR4/commit/bebfa613406edfad034c34f1777b361847fbf7cd.  In addition the empty elements are the result of no content in the CSVs they were derived from.

[2020-05-19 11:30] erget commented on #23
@tomkralidis thanks for the heads-up. Since bebfa61 all tables import correctly in CSV and XML formats.

[2020-05-19 14:26] marianmajan-ibl commented on #23
Hello @efucile. I tried to import xml files with our internal import tool (BUFRCREX_TableB_en.xml, BUFR_TableD_en.xml, CREX_TableD_en.xml). The import was successful, the results were the same as for the previous files (published by Atsushi, I assume).

[2020-05-19 20:23] jbathegit commented on #23
I can import the XML files as well, though for some reason my parser didn't like the empty elements and failed to recognize them as null strings, even after I added an extra space character to change them from, e.g. <Title_en/> to <Title_en />.  But empty elements are legal XML constructs, so I can work around those on my end by just deleting them altogether from my own copies of the tables after

[2020-05-20 05:00] efucile commented on #23
@jbathegit thanks for checking the xml files.
1. we need to delete empty lines. Can you please let me know in which files we have empty lines?
1. regarding xsd we had a discussion here https://github.com/wmo-im/CCT/issues/5 and was considered that xsd in this case are not bringing value and we should stop producing them.

[2020-05-20 13:43] jbathegit commented on #23
1. There are empty elements (not empty lines) in all of the BUFR XML files, except for TableA.  Examples include <Note_en/>, <Title_en/>, <EntryName_sub1_en/>, etc.  An empty element is one with no content and where you don't have matching opening and closing tags such as <Note_en></Note_en> with no content between them, but rather a single abbreviated tag <Note_en/> which means the same thing.  A

[2020-05-20 13:55] efucile commented on #23
@jbathegit thanks for explaining. Now it is clear to me.
If you prefer you can add the xsd files in the repo and I will make sure that they get into the distribution. I understand that they should remain the same if we don't add columns in the tables.
Just put them here https://github.com/wmo-im/BUFR4/tree/master/xml and create a new branch or pull request when finished.

[2020-05-27 16:10] chenxiaoxia2019 commented on #8
@DavidBerryNOC Hi, David, I have already created the branch for this issue, could you please check it and review the table with new entries? Thanks.

[2020-05-27 18:06] chenxiaoxia2019 commented on #10
@erget Hi, Daniel, I have already created the branch for this issue. Could you please check it and the tables? Thanks.

[2020-05-29 09:31] erget commented on #10
@chenxiaoxia2019 thanks for this. I wasn't sure where to put my comments regarding this so I've duplicated them [in the PR](https://github.com/wmo-im/BUFR4/pull/25#pullrequestreview-420792234) and in this issue.

# Content review
I've reviewed the CSVs only, although I marked the text and XML files as reviewed in order to make it easier to step through the PR.

I don't think `BUFRCREX_TableB_en_07

[2020-05-29 10:09] chenxiaoxia2019 commented on #3
@marijanacrepulja Hi, Marijana, I have created a branch for this issue. Could you please check the branch?

[2020-05-29 12:23] marijanacrepulja commented on #23
Hello @efucile. I did import txt files with internal library.
Though the reason of a column "No" is not present in the txt files, the library didn't like it. I can work around those on my end and create tables.
However, I have made changes to the flies split_B, split_D, split_CodeFlag to take into account  column "No" and to be align with  the structure of the files that have been provided previou

[2020-05-29 12:33] efucile commented on #23
@marijanacrepulja we don't want the column No because every time you add one line you have to update the all table. This is inefficient, unnecessary and error prone. You can write a script that adds the No if this is a requirement and we can run it automatically, but we cannot have that column in the csv files. Where did you do the changes on the scripts? Please revert them.

[2020-05-29 14:42] marijanacrepulja commented on #23
@efucile It is OK, there is no requirement for having column No. I did change on the scripts in branch legacyFormats and reverted them.
While a go I did changes in makeLegacyFormats.sh to not append header in the txt files while merging multiple csv files. After that Daniel was able to import tables.  Have you been able to see changes or I need to make pull request?

[2020-05-29 15:01] efucile commented on #23
I don’t see the changes. In which branch?

[2020-05-29 15:02] chenxiaoxia2019 commented on #16
@DavidBerryNOC   I have created a branch for this issue. Could you please check it? BTW, when it comes to adding table B entries/class 41/42, please provide the information of CREX unit/scale/width. Many thanks.

[2020-05-29 15:05] marijanacrepulja commented on #23
It is in branch legacyFormats.
https://github.com/wmo-im/BUFR4/commit/2205e6ad12e012008e3f1542470e4c66d22438db

[2020-05-29 17:49] chenxiaoxia2019 commented on #19
@SibylleK Hi, Sibylle, I created a branch for this issue. Could you please check it? Thanks.

[2020-05-29 21:23] jbathegit commented on #7
@wmo-im/tdcf - as requested for validation, NESDIS has posted samples of GOES-17 wind data utilizing the proposed new bits in BUFR flag table 0-33-066.  You can find them at [ftp://ftp.star.nesdis.noaa.gov/pub/smcd/jpss-ait/GOES17_Winds_Algorithm_Mitigations/](ftp://ftp.star.nesdis.noaa.gov/pub/smcd/jpss-ait/GOES17_Winds_Algorithm_Mitigations/) as filenames "NB-GOES17_ABI_2KM_FD_YYYYJJJ_HHMM_SS_WI

[2020-06-02 08:46] chenxiaoxia2019 commented on #7
@jbathegit Hi, Jeff, I have already created a branch for this issue. Could you please check it? Thanks.

[2020-06-02 13:10] chenxiaoxia2019 commented on #20
@jbathegit Hello, Jeff. I created a branch for this issue. Could you please check it? Thanks.

[2020-06-02 13:25] chenxiaoxia2019 commented on #12
@erget Hi, Daniel, I have created a branch for this issue. Could you please check it? Many thanks.

[2020-06-02 13:38] chenxiaoxia2019 commented on #9
@erget Hi, Daniel, I created a branch for this issue. Could you please check it? Thanks.

[2020-06-02 16:42] chenxiaoxia2019 commented on #20
@jbathegit I noticed that there are duplicate entries for 3-21-028 and 3-01-023, showing 4 times and 3 times respectively. Does the table need them or just keep one?

[2020-06-02 16:47] jbathegit commented on #7
Thanks @chenxiaoxia2019  The branch looks fine to me.  In fact, it doesn't seem as though the latest commit 2f3ee16 was really even necessary, because I think the parent commit 07bf06a (which is the same text content but without the surrounding quotation marks) would still have worked fine within the .csv format.  But again, the new branch looks fine to me, and thanks!

[2020-06-02 17:10] chenxiaoxia2019 commented on #15
@erget Hi, Daniel, I changed the FXY number of Corrected OCOG* backscatter coefficient (negative reference) from 0-21-192 to 0-21-189 and changed the FXY number of Specific band significant wave height (negative reference) from 0-22-192 to 0-22-179. And, I also changed from 340192 to 340018, 340193 to 340019, 340194 to 340020, 340195 to 340021, 340196 to 340022, 340197 to 340023, 340198 to 340024.

[2020-06-02 19:19] jbathegit commented on #20
Thanks @chenxiaoxia2019 and yes, all of the duplicate entries for 3-21-028 and 3-01-023 (there are actually 4 of each of them) do need to be kept, because they all have different meanings based on the preceding Class 21 Table B descriptors 0-21-110, 0-21-111, 0-21-112 and 0-21-113.  So please keep the overall 3-12-029 sequence exactly as it appears in the proposal.

Within branch issue-20 there we

[2020-06-02 19:23] jbathegit commented on #7
Hello again @chenxiaoxia2019, and please disregard my last comment as I see now why the the quotation marks were needed in commit 2f3ee16 - because the text content already had embedded commas!  So I agree now that the quotation marks were needed, and again everything checks out OK.

[2020-06-03 06:55] SimonElliottEUM commented on #20
I forwarded the proposal to CGMS TSFDC on(30/04/2020) and gave them until end of May 2020 to answer. There have been no objections or negative comments so we can consider that check complete.

[2020-06-03 07:26] chenxiaoxia2019 commented on #20
@jbathegit Hi, Jeff, thanks for your quick reply and your correction.

[2020-06-03 07:39] DavidBerryNOC commented on #8
The addition to Table D (based on the merged file) is correct and I am able to use it in my decoding software and example file.

I'll upload samples shortly.

[2020-06-03 08:21] SimonElliottEUM commented on #12
@chenxiaoxia2019 @erget Here are the sample data.

[rfsca_20200603_011216_cfosat_08832_o_500_ovw_l2.zip](https://github.com/wmo-im/BUFR4/files/4721878/rfsca_20200603_011216_cfosat_08832_o_500_ovw_l2.zip)

[2020-06-03 08:34] DavidBerryNOC commented on #8
Sample files (NetCDF, BUFR and decoded text) plus encoding software can be found at

https://github.com/DavidBerryNOC/bufr_saildrone

[2020-06-03 08:49] SimonElliottEUM commented on #12
@chenxiaoxia2019 @erget  Please note that the sample data were created by KNMI with ECMWF software bufrdc_000405. This means that any other software can be used for the validation

[2020-06-03 13:55] jbathegit commented on #20
@SimonElliottEUM Thanks again Simon for forwarding our proposal to the CGMS TSFDC, and for your follow-up!

[2020-06-03 14:09] efucile commented on #12
@SimonElliottEUM @erget the Secretariat is not performing validation. You have to ask someone else. @marijanacrepulja or @marianmajan-ibl are you available to validate these data?
Validation should be performed using the tables in txt or xml format from the branch https://github.com/wmo-im/BUFR4/tree/issue-12

[2020-06-03 14:18] marijanacrepulja commented on #12
@efucile @SimonElliottEUM @erget
Yes, I am happy to validate the sample data.
Would it be OK to attach the validation output file here?

[2020-06-03 14:29] SimonElliottEUM commented on #12
@marijanacrepulja Many thanks - I'm sure you can dump the output here. @efucile I wasn't expecting the Secretariat to do the validation. Sorry you got that impression. I was trying to explain that any validation partner would have to avoid using bufrdc_000405. @erget I will let you do the typing next time

[2020-06-04 10:25] DavidBerryNOC commented on #12
First message from example file decoded, two versions attached. The first with flags as ints, the second as bit strings. Comma separated values, one element per line working through subsets (subset 1 then subset 2 etc).

Table D from branch used in decoding with custom python code.

[cfosat_dump_flags_as_bin.txt](https://github.com/wmo-im/BUFR4/files/4729305/cfosat_dump_flags_as_bin.txt)
[cfosat_d

[2020-06-04 10:46] SimonElliottEUM commented on #12
@erget KNMI confirm that what @DavidBerryNOC  has decoded corresponds exactly to what they encoded. We (ie you!) should formalise that validation result. Or you can explain to me how to do it.

[2020-06-04 13:17] erget commented on #12
As far as I know we have no formal process for producing validation reports - changing the tag as you have done is probably the right thing.

[2020-06-04 15:02] marijanacrepulja commented on #8
Successfully decoded both sample files provided.
Table D from branch issue-8 used in decoding with ecCodes.

[saildrone-gen_5-Arctic-NOAA-2019-sd1033-20190717T100000-20190717T115959-1_minutes-v1.1563366702571.bufr.txt](https://github.com/wmo-im/BUFR4/files/4730846/saildrone-gen_5-Arctic-NOAA-2019-sd1033-20190717T100000-20190717T115959-1_minutes-v1.1563366702571.bufr.txt)

[saildrone-gen_5-tpos_pme

[2020-06-05 09:25] DavidBerryNOC commented on #8
Thanks @marijanacrepulja.

With exception of truncation of decimal places for location elements and blank padding of strings the output is identical to that expected.

Comparison of expected vs ecCodes given in attached files.

[saildrone_comparison.xlsx](https://github.com/wmo-im/BUFR4/files/4735131/saildrone_comparison.xlsx)

I've updated the tag to validated.

[2020-06-08 09:16] SibylleK commented on #19
Thank you very much @chenxiaoxia2019, I found the new entry for a sensor identifier in the new branch.
Please excuse all the close, reopens and moves...

[2020-06-08 09:36] SibylleK commented on #19
An example with sensor identifier was created with DWD BUFR software and by using the branch.
SensorIdentification.bufr_decoded shows the output of DWD decoding software.

[SensorIdentification.zip](https://github.com/wmo-im/BUFR4/files/4745088/SensorIdentification.zip)

[2020-06-08 14:28] SibylleK commented on #20
Hello @jbathegit Jeff,
here is the output of the DWD decoding software using the entries of the branch of the first 5 BUFRs of each BUFR file from your ftp-server.
[L2_ssat1_DWDdecoding.zip](https://github.com/wmo-im/BUFR4/files/4746484/L2_ssat1_DWDdecoding.zip)
At least the output of L2A250_v1r0_ssat1_s201907230017353_e201907230107104_c202005071445310.bufr seems to be the same.
I do not download

[2020-06-08 15:09] marijanacrepulja commented on #7
Hello @jbathegit Jeff,
I have decode samples provided using ecCodes and tables from the branch.
Here is the output of the decoding.
[AMV_qualityFlag.tar.gz](https://github.com/wmo-im/BUFR4/files/4746751/AMV_qualityFlag.tar.gz)

[2020-06-08 19:10] jbathegit commented on #20
@SibylleK Thanks very much for your help to validate this proposal!

[2020-06-08 19:14] jbathegit commented on #8
@DavidBerryNOC  I was also able to read your saildrone-gen_5-tpos_pmel_2019_003-sd1066-20190717T120000-20190717T135959-1_minutes-v1.1563373962076.bufr using the NCEP BUFRLIB software, and a spot-check of the first 5 subsets agreed with the decoded values shown in your sample output listing.

[2020-06-08 19:39] jbathegit commented on #7
@marijanacrepulja Thanks very much for your help to validate this proposal!  I spot-checked a few subsets in your output, and it looks like your output values are correct.

[2020-06-08 19:54] jbathegit commented on #19
Hi @SibylleK - I was able to successfully decode your sample message using our NCEP BUFRLIB software, and all of my decoded values matched those in your .bufr_decoded file.

[2020-06-09 07:53] marijanacrepulja commented on #4
Sample tropical cyclone wind radii messages are available for validation  as file ending in ".bufr" The corresponding ".bufr.decoded" file show what the decoded values should be.

[tc_windradii.zip](https://github.com/wmo-im/BUFR4/files/4750649/tc_windradii.zip)

[2020-06-09 13:36] SibylleK commented on #19
@jbathegit Thank you very much for your support.
@efucile, @chenxiaoxia2019 What else is needed for a successful validation of the new descriptor, or is the decoding of two independent software already sufficient in this case?

[2020-06-09 14:41] SibylleK commented on #21
@efucile What is the status of this proposal? Do you think it is still possible to get it validated for the fast-track?
The EUMETNET E-PROFILE team has a strong requirement for the new sequences.
The document is worth to be discussed and agreed to by the team.
My comments are, that I do not think that new descriptors are needed to minimize the data width by 1 bit (all "Uncertainty in..")  3 01 032

[2020-06-09 15:50] efucile commented on #21
@SibylleK and @richardweedon I think we should try to validate this. There is strong pressure to do it and it is pending for many years. It is time to close it. However, @jitsukoh has to decide if we can push it in this fast track. I think that we are going to be late for other reasons and this could give us time to finalize this.

[2020-06-09 20:14] jbathegit commented on #4
Hi @marijanacrepulja - I was able to successfully decode your sample message using our NCEP BUFRLIB software.  I spot-checked most of my decoded values, and they all appeared to match those in your .bufr_decoded file.

[2020-06-10 06:08] jitsukoh commented on #21
@efucile, @SibylleK and @richardweedon, thank you for the proposal and my apologies to have not replied earlier. It took some time to refresh my memory on this...
I reviewed our discussion in 2016 and honestly I am a little worried about repeating the same thing. The core issue of the discussion back in 2016 was the representation of uncertainty; on one hand the team was looking for a generic way

[2020-06-11 06:54] efucile commented on #21
Dear @simonebircher
we welcome your participation in this forum. I understand that you are working for Eumetnet and you are involved in the E-Profile network, but I don't have your details in the WMO expert database. We can take contributions only from experts registered in the WMO or we accept opinions from invited experts. I would kindly ask you to send an email to me efucile@wmo.int and we can

[2020-06-11 09:23] jitsukoh commented on #21
Dear team members, @wmo-im/tdcf

We got an urgent proposal from EUMETNET, which was not on the agenda on our teleconference in May, and I would like to propose following arrangements to accommodate the request.
Because of the nature of this proposal which requires an intensive review, I would like to invite all of you to review the proposal and post questions to this forum by June 17, but please l

[2020-06-11 16:04] marijanacrepulja commented on #3
@chenxiaoxia2019 Thank you very much for creating the branch. The addition to CodeFlag table is correct and I am able to use it in updating tables locally.

[2020-06-12 13:30] SibylleK commented on #19
I have added the samples validated label to note that some validation was done. I cannot participate at the next meeting on 22th June, but I hope the validation is sufficient to include the new entry in the next Fast-Track procedure.

[2020-06-12 18:03] SibylleK commented on #21
@jitsukoh Dear Jisukoh, I have already made some comments regarding the new descriptors for the uncertainties. I think, they are not needed as they are only minimize the data width by 1 bit of the existing one. I suppose they are only proposed to have the descriptors in a pretty order. The other new descriptors are for changing the reference values to allow negative values. Although I am not at al

[2020-06-15 16:06] marijanacrepulja commented on #21
I agree with @SibylleK  comments on the new descriptors for the uncertainties, as I believe we can use existing descriptors without introducing new elements for reducing data width.   When comes to new descriptors for introducing new reference value, we can use operator 203YYY  and existing descriptors for this purpose. However, if there is an issue that 203 operator can cause trouble in some deco

[2020-06-16 14:44] DavidBerryNOC commented on #17
Updated to reflect changes as part of validation, move of PTT ID field and transmitter ID / location method out of first replication block. Revised sequence below, changes flagged using *** in description colum:

## New Table D Entries

__*Category 15: Oceanographic report sequences*__

| Table Reference | Table References | Element Name | Description |
| :-------------: | :----------------: | ---

[2020-06-17 11:00] erget commented on #10
I've updated the proposal to use the new descriptor numbers provided by the secretariat. The changes I requested in [my previous comment](https://github.com/wmo-im/BUFR4/issues/10#issuecomment-635875111) are still outstanding on this issue's branch, but in the assumption that they will be resolved as described in the proposal, I've had [sample data](https://drive.google.com/file/d/1wsIMDyUYiAVcTY3

[2020-06-17 12:37] erget commented on #15
@chenxiaoxia2019 I note the following changes:
- 0-21-192 to 0-21-189
- 0-22-192 to 0-22-179
- 3-40-192 to 3-40-018
- 3-40-193 to 3-40-019
- 3-40-194 to 3-40-020
- 3-40-195 to 3-40-021
- 3-40-196 to 3-40-022
- 3-40-197 to 3-40-023
- 3-40-198 to 3-40-024

and have updated the proposal accordingly.

I'm a bit confused about the CREX information - this is satellite data and thus we don't intend to di

[2020-06-17 12:47] erget commented on #9
@chenxiaoxia2019 I've reviewed the changes using the linked PR - they look good to me.

[2020-06-17 13:26] erget commented on #15
@chenxiaoxia2019 I have reviewed the proposed changes in the associated PR. I didn't review every file but rather `BUFR_TableD_en_40.csv` and `txt/BUFRCREX_TableB_en.txt` but of course the changes in those files will need to extend to the other ones as well.

[2020-06-17 13:47] erget commented on #15
@chenxiaoxia2019 I note also that there is a number clash in these tables - #10 already uses 3-40-018. I propose giving the IKFS-2 sequence described in that issue to use 3-40-023 but I leave it to you to make the final decision that will not produce a number clash.

For now, I'm producing sample data as described in this proposal, i.e. #10 and #15 are both using different definitions for 3-40-018

[2020-06-17 14:28] jitsukoh commented on #21
This is the question that I posed in 2016, but could you provide us with any reference document(s) about the calculation of measurement uncertainties that you are using in producing the wind profiler and lidar products?

[2020-06-17 22:50] DavidBerryNOC commented on #16
# Revision of proposal as part of validation

### Table B entries
- Revision of scale and width of proposed descriptors based on more comprehensive set of example files and feedback from community.
- Extension of name for 0-41-007 to be more precise
- Change of name for 0-41-008, previous name was related but not precise enough

### Table D entries
1. Removal of redundant descriptors from D sequen

[2020-06-17 22:56] DavidBerryNOC commented on #16
@chenxiaoxia2019 revised versions of tables attached - substantial changes made to Table D due to errors in branch.

[BUFR_TableD_en.txt](https://github.com/wmo-im/BUFR4/files/4795431/BUFR_TableD_en.txt)
[BUFRCREX_TableB_en.txt](https://github.com/wmo-im/BUFR4/files/4795432/BUFRCREX_TableB_en.txt)

[2020-06-18 14:33] erget commented on #15
I've uploaded [sample data](https://github.com/wmo-im/BUFR4/files/4799192/S6.zip) - `*.nc` is the native file, `*.bin` is the same translated into BUFR.

[2020-06-19 07:38] erget commented on #10
@marijanacrepulja you're right, while producing the sample data we made some changes to that part of the sequence and I forgot to note that in the proposal. I've now updated the proposal - it matches the sample data, which you should not have been able to read using the definitions noted above before.

@chenxiaoxia2019 I'm not sure about the process for creating new branches that match proposals -

[2020-06-19 08:27] jitsukoh commented on #21
Dear team members, @wmo-im/tdcf

To accommodate the request for approval of E-Profile sequences by the next fast-track procedure, a separate teleconference will be held on July 8 at 12UTC. Enrico already sent an invitation to those who already posted comments, but if there is anyone interested in this discussion and decision making, s/he is welcome to join, so please let me know.

[2020-06-19 08:38] chenxiaoxia2019 commented on #10
Hi, Daniel, I have created all the branches for all the issues respecitively. Take issue 10 for an example, branch "issue-10" is created for it, with the changes made in BUFRCREX_TableB_en_40.csv and BUFR_TableD_en_40.csv. The description for these two files is "update issue 10". AND, you can also use the COMPARE https://github.com/wmo-im/BUFR4/compare/issue-10 to see any changes.
What the assigne

[2020-06-19 08:39] chenxiaoxia2019 commented on #10
Hi, Daniel, @erget  I have created all the branches for all the issues respecitively. Take issue 10 for an example, branch "issue-10" is created for it, with the changes made in BUFRCREX_TableB_en_40.csv and BUFR_TableD_en_40.csv. The description for these two files is "update issue 10". AND, you can also use the COMPARE https://github.com/wmo-im/BUFR4/compare/issue-10 to see any changes.
What the

[2020-06-19 09:31] erget commented on #10
Hi @chenxiaoxia2019 thanks for the explanation. Some points below.

Thanks, I'm able to find that based on the fact that you added the "Branch" section to the issue description at the top.

It would be really nice to have a CONTRIBUTING.md file in the repository that describes what you're saying, because it's currently not clear IMHO that the CSV files are the ones that should be reviewed.

OK. I

[2020-06-19 09:50] DavidBerryNOC commented on #16
# Revision of proposal as part of validation

Further modifications to include CREX scale / width plus increase of width for dissolved oxygen using operators.

Test files and revised tables attached.

### Table B entries
- Revision of scale and width of proposed descriptors based on more comprehensive set of example files and feedback from community.
- Extension of name for 0-41-007 to be more pre

[2020-06-19 10:07] DavidBerryNOC commented on #16
I've just added the help wanted - if anyone is able to decode the samples to help the validation that would be appreciated. Please note that the tables in the branch are incorrect and that tables attached to the the previous comment (https://github.com/wmo-im/BUFR4/issues/16#issuecomment-646545399) need to be used.

[2020-06-19 10:10] DavidBerryNOC commented on #16
@chenxiaoxia2019 Please see comments above in reference to the CREX unit/scale/width, units are the same as for BUFR.

I've also updated my versions of the tables from the branch (attached above) - what would be the best way to update these in the branch? Should I do a pull request or will that be handled by the secretariat?

[2020-06-19 15:06] jbathegit commented on #21
@jitsukoh , @efucile , @SibylleK , @marijanacrepulja , @richardweedon

I'm interested in this topic; however, I'm not available on July 8th at 12 UTC because I have a separate telecon (for GODEX-NWP) from 11-14 UTC on that same day.  Could I just ask you to please keep me in the loop on any developments or final decisions, because we ingest wind profiler data at NCEP, so we'll want to begin prepar

[2020-06-19 17:35] marijanacrepulja commented on #10
@erget I have been able to decode the data.
However, I haven't been able to use the tables from the branch, as they are not updated.
I spot-checked most of my decoded values, and they all appeared to match those in HDF5 file provided. There is no clear mapping between quality info in HDF5 file and newly introduced  flag table, therefore I haven't been able to verify the values.
I have attached the

[2020-06-19 20:37] DavidBerryNOC commented on #17
Sample file and decoded values attached within zip archive.

Sample file (example-profile.bufr) encoded by Axiom using custom encoder and tables.
Output from two different decoders
- eccodes (example-profile_eccodes.json). Table D definition file (sequence.def, renamed to sequence.txt for upload) attached.
- python decoder using attached B and D tables (example-profile.csv)

Expected values in att

[2020-06-19 20:42] DavidBerryNOC commented on #17
I've marked this as sample validated as it's been successfully decoded using two independent pieces of software but both have been run by me. Please update the tag is necessary.

[2020-06-22 06:35] erget commented on #10
@marijanacrepulja thanks for looking. @chenxiaoxia2019 would you be willing to update the branch to match the proposal as described at the top of the issue?

[2020-06-22 09:51] chenxiaoxia2019 commented on #10
@erget Hi, Daniel, branch has already been updated as proposed, changing from 007XXX to 007072  in both table B and table D.

[2020-06-22 09:58] chenxiaoxia2019 commented on #16
@DavidBerryNOC Hi, David, I will update all the revisions in the branch. I will get you updated when I finish it.

[2020-06-22 10:12] erget commented on #10
@chenxiaoxia2019 I'm actually referring to the changes needed as per https://github.com/wmo-im/BUFR4/issues/10#issuecomment-635875111 and https://github.com/wmo-im/BUFR4/issues/10#issuecomment-646195155. You can see them line-for-line as described in https://github.com/wmo-im/BUFR4/pull/25. In summary changes are needed to the branch because beyond replacing 007XXX because:
- The proposal has been

[2020-06-22 10:21] efucile opened #28 "Request of clarification regarding recent weather in SYNOP"
We are writing to seek WMO’s clarification on the above subject.

2. As contained in Manual on Codes (WMO-No. 36), the weather phenomenon reporting code for surface observation, SYNOP is represented by group 7wwW1W2 that indicates “If more than one form of weather is observed, the highest applicable code figure shall be selected for the group 7wwW1W2.”

3. In accordance with WMO standard practices

[2020-06-22 10:24] efucile commented on #28
@wmo-im/tdcf I just received this request. I think that we should answer that SYNOP is obsolete and point to B/C regulations. Is anyone able to answer the question using B/C regs?

[2020-06-22 11:42] jitsukoh commented on #4
@marijanacrepulja Marijana, would you like to include the addition of table D descriptor 3 16 082 in FT-2020-2 procedure? It's not on the list of today's meeting at the moment but I think it's ready...

[2020-06-22 11:48] marijanacrepulja commented on #4
@jitsukoh Jitsuko, yes please. It is validated and ready for FT-2020-2. Many thanks.

[2020-06-22 11:48] jitsukoh commented on #21
@jbathegit sorry for having scheduled the meeting without notice. It was an urgent request and we needed to adjust our procedure. I will make sure all the questions are answered on Github and also discussions at the teleconference will be recorded here to keep you in the loop.

[2020-06-22 11:57] marijanacrepulja commented on #15
@chenxiaoxia2019
BUFR_TableD_en_40.csv still contains entries that need to be updated, please see below
40,Additional satellite report sequences,340018,(Altimeter product),,340193,Uuu,,,Operational
40,Additional satellite report sequences,340018,(Altimeter product),,340194,Vvv,,,Operational
40,Additional satellite report sequences,340018,(Altimeter product),,340195,www,,,Operational
40,Additional

[2020-06-22 12:18] erget commented on #12
I have checked the associated branch and it looks fine for me.

[2020-06-22 12:40] erget commented on #15
I've corrected the issues found on the associated branch; it looks fine to me now.

[2020-06-22 12:43] marijanacrepulja commented on #15
@erget I also found that lines below need to be updated
40,Additional satellite report sequences,340022,(Altimeter main values),,340023,Yyy,,,Operational
 40,Additional satellite report sequences,340022,(Altimeter main values),,340023,Yyy,,,Operational
 40,Additional satellite report sequences,340022,(Altimeter main values),,340023,Yyy,,,Operational
 40,Additional satellite report sequences,340022

[2020-06-22 12:46] DavidBerryNOC commented on #16
The new updates to the branch remain to be checked, plus there is a further change required. Noting significant number of changes to proposal propose delaying to FT-2021-01

[2020-06-22 13:02] efucile commented on #15
replace 3-40-018 with 3-40-xxx before validation of samples

[2020-06-22 13:09] erget commented on #10
@chenxiaoxia2019 I've corrected the issues on the associated branch, everything should be fine now.

[2020-06-22 13:19] erget commented on #15
I have renamed 3-40-018 to 3-40-019, giving precedence to #10.

[2020-06-22 14:15] DavidBerryNOC commented on #17
@chenxiaoxia2019 Please use the BUFRCREX_CodeFlag_en_03.csv and BUFR_TableD_en_15.csv from the attached zip file when creating the branch. There are no new Table B entries.

[Archive.zip](https://github.com/wmo-im/BUFR4/files/4813620/Archive.zip)

[2020-06-22 14:35] erget commented on #15
Hi @marijanacrepulja I've uploaded new [sample data](https://github.com/wmo-im/BUFR4/files/4813777/s6.tar.gz), can you please re-confirm?

[2020-06-22 16:21] chenxiaoxia2019 commented on #17
@DavidBerryNOC Hi, David, a new branch for this issue has been created. Could you please check it? Thanks.

[2020-06-22 21:33] marijanacrepulja commented on #12
Table D from branch used in decoding with ecCodes. The dump of the first 5 messages attached.
[cfosat.bufr.txt](https://github.com/wmo-im/BUFR4/files/4815647/cfosat.bufr.txt)

[2020-06-23 07:15] SimonElliottEUM commented on #12
@erget @efucile With the successful decoding by @marijanacrepulja and the previous validation by @DavidBerryNOC we can consider the validation complete. Our thanks to @marijanacrepulja and @DavidBerryNOC for their support

[2020-06-23 08:01] DavidBerryNOC commented on #17
@chenxiaoxia2019 the branch has been checked (both visually and in decoding the test data) and is correct, many thanks.

[2020-06-24 11:50] marijanacrepulja commented on #15
Hi @erget,  please see attached output of decoded sample. I have used table D from branch but haven't been able to check values, as there is no file to show what the decoded values should be.

[W_XX-EUMETSAT-Darmstadt,SURFACE+SATELLITE,S6A+P4+L2+HR_C_EUMS_20170305065123_F01_000_000_20170305065238.bin_decoded.txt](https://github.com/wmo-im/BUFR4/files/4825116/W_XX-EUMETSAT-Darmstadt.SURFACE%2BSATEL

[2020-06-24 13:06] erget commented on #15
@marijanacrepulja thank you very much!

The repetition of 3-40-024 is due to the use of 3 different algorithms: SAR, LRM & PLRM. This was agreed (prior to my involvement!) with colleagues from ECMWF, I believe in R&D, but I'm not sure who was involved.

Also, although we have space in the sequence for including 20-Hz wind speed values, these are not present in the original product - Sentinel-6 doe

[2020-06-24 13:20] richardweedon commented on #21
[BUFR responses.docx](https://github.com/wmo-im/BUFR4/files/4825596/BUFR.responses.docx)
[Uploading Versioning of BUFR Table D on the MetDB.docx…]()

[2020-06-24 13:22] richardweedon commented on #21
The Revised versions of the proposal along with a summary of the questions asked in the intial review of the proposal with the corresponding answers is attached

[2020-06-24 13:24] richardweedon commented on #21
[BUFR responses.docx](https://github.com/wmo-im/BUFR4/files/4825618/BUFR.responses.docx)
[windproflidar-amend-20200624.docx](https://github.com/wmo-im/BUFR4/files/4825620/windproflidar-amend-20200624.docx)

[2020-06-24 13:24] richardweedon commented on #21
see attached

[2020-06-24 16:28] marijanacrepulja commented on #15
@erget I believe we can consider the product validated. Thank you for the feedback.

[2020-06-25 07:46] erget commented on #15
Perfect, thank you, then I am marking this template as validated.

[2020-06-25 16:09] sergioh-pessoal commented on #21
I am interested in this topic and would like to attend the meeting on the 8th at 12 UTC.
Thanks

[2020-06-30 14:48] marijanacrepulja commented on #4
Hi @chenxiaoxia2019, could you please make a branch for this issue, so it can be merge in master branch for FT2020-2. Many thanks.

[2020-06-30 15:39] chenxiaoxia2019 commented on #4
@marijanacrepulja Hi, Marijana, a new branch for this issue has been created: https://github.com/wmo-im/BUFR4/tree/issue-4. Could you please check it? Thanks. Sorry for belated reply.

[2020-06-30 17:25] marijanacrepulja commented on #4
@chenxiaoxia2019 Thanks a lot! All look good to me.

[2020-07-08 13:17] jitsukoh commented on #21
@jbathegit A summary of the discussion today is [here](https://github.com/wmo-im/CCT/wiki/Teleconference-8.7.2020). The sequence will be amended and presented to the team as part of validation process.

[2020-07-13 06:06] jitsukoh commented on #21
@chenxiaoxia2019 attached is the revised version of the BUFR sequence provided by @richardweedon based on our discussion on Wednesday. Could you create a branch for this proposal and pose questions if there are anything unclear?
[wind_prof_prp_MT_AH.docx](https://github.com/wmo-im/BUFR4/files/4910889/wind_prof_prp_MT_AH.docx)

[2020-07-14 14:58] chenxiaoxia2019 commented on #21
@jitsukoh Thanks. I have already created the branch for this issue. I will make changes according to the new version which is more clear. I will get you updated about the progress. @richardweedon

[2020-07-15 13:21] SibylleK commented on #21
In the updated proposal the existing descriptors were changed in reference value and data width. But I thought it was "preferred to create new elements". What should be the finale decision here?
In addition the definition of the new descriptor 0 02 006 - "Upper Air Remote Sensing Instrument Type" is missing.

[2020-07-15 16:24] marijanacrepulja commented on #21
I believe we decided to create new elements with reference to windproflidar-amend-20200624.docx
We also wanted to add 0 08 021 Time significance and set it to 2 with regards to date and time repeated twice in the header sequence.

[2020-07-16 05:45] jitsukoh commented on #21
Thank you @SibylleK and @marijanacrepulja , yes, you're right. We decided to introduce new descriptors instead of changing existing ones and also use 0 08 021 time significance in the common header sequence. @richardweedon , could you update the document before producing sample data?

[2020-07-16 08:22] richardweedon commented on #21
Marijana
Apologies for the misunderstanding in the original proposal we will re-issue with the new Table B descriptors as originally discussed. We were less clear on the inclusion of the Significance qualifier , if we change the test data at this moment in time it will require more work than originally envisioned.

The document put out by Enrico makes no mention of this. Seehttps://github.com/wmo-

[2020-07-16 10:19] richardweedon commented on #21
Jitsukoh , Sibylle , Marijana
I will amend the original proposal as below –

Changes to Table B Descriptors

BUFR

CREX

TABLE
REFERENCE

DATA

DATA

ELEMENT NAME
UNIT
SCALE
REFERENCE
WIDTH
UNIT
SCALE
WIDTH
F* X   Y

VALUE
(Bits)

Characters
0 15 073 replaces
0 15 063
Attenuated Backscatter
m –1 Sr -1

8
-524288
20
m –1 Sr -1
8
7
0 15 074 replaces
0 15 065
Particle Backscatter Coefficient
m –1 Sr

[2020-07-16 15:19] SibylleK commented on #21
As I understand it the new proposed Table B descriptors would be:

|FXY|ElementName_en             |Note_en |BUFR_Unit |BUFR_Scale |BUFR_ReferenceValue |BUFR_DataWidth_Bits|CREX_Unit|CREX_Scale|CREX_DataWidth_Char|
|---|---|--|--|--|--|--|--|--|--|
|002006|Upper air remote sensing instrument type||Code table| 0 |0| 6| Code table |0|0|2|
|015073|Attenuated Backscatter|| m-1 sr-1|8|-524288|20|m-1 sr

[2020-07-16 15:39] richardweedon commented on #21
Sibylle
Have just sent the attached to Enrico, this should answer your questions. Many thanks for your help.

Regards

Richard

From: Sibylle Krebber <notifications@github.com>
Sent: 16 July 2020 16:20
To: wmo-im/BUFR4 <BUFR4@noreply.github.com>
Cc: Weedon, Richard <richard.weedon@metoffice.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [wmo-im/BUFR4] Revision of E-Profile Sequences (#

[2020-07-17 10:40] richardweedon commented on #21
In relation to the comments below we have agreed the suggested changes, please see the attached for an updated version of the tables –

From: Sibylle Krebber <notifications@github.com>
Sent: 16 July 2020 16:20
To: wmo-im/BUFR4 <BUFR4@noreply.github.com>
Cc: Weedon, Richard <richard.weedon@metoffice.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [wmo-im/BUFR4] Revision of E-Profile Sequ

[2020-07-17 11:50] chenxiaoxia2019 commented on #21
@richardweedon Hi, Richard, new branch for this issue has been created. And all the changes have been made according to the proposal you sent. Could you please check it? Thanks.
[wind_prof_prp-2[3272].docx](https://github.com/wmo-im/BUFR4/files/4937553/wind_prof_prp-2.3272.docx)

[2020-07-17 12:00] richardweedon commented on #21
Hi
I have been asked to make a last minute change the details are summarised in the attached

Thanks

Richard

From: xchen <notifications@github.com>
Sent: 17 July 2020 12:51
To: wmo-im/BUFR4 <BUFR4@noreply.github.com>
Cc: Weedon, Richard <richard.weedon@metoffice.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [wmo-im/BUFR4] Revision of E-Profile Sequences (#21)

@richardweedon<https:/

[2020-07-17 12:17] marijanacrepulja commented on #21
I have spotted in github that units for 015075 Particle Extinction Coefficient is m.
Previously defined 015067  Particle extinction coefficient has units m-1.  Should we have m-1 for 015075?

[2020-07-17 14:05] richardweedon commented on #21
My apologies we have corrected the units to 015067 (changed to m-1) in the attached. This is an editorial change and will not affect the test data. May I ask that this be included on the Branch

Regards

Richard

From: xchen <notifications@github.com>
Sent: 17 July 2020 12:51
To: wmo-im/BUFR4 <BUFR4@noreply.github.com>
Cc: Weedon, Richard <richard.weedon@metoffice.gov.uk>; Mention <mention@noreply

[2020-07-17 14:34] jitsukoh commented on #21
@richardweedon the descriptor that should be corrected is 015075.
I am not updated about the validation status, but I don't believe the use of time significance descriptor included in [wind_prof_prp-2[3272].docx](wind_prof_prp-2[3272].docx<https://github.com/wmo-im/BUFR4/files/4937553/wind_prof_prp-2.3272.docx) is correct, and it is not included in the branch.
I got the comment below from @Sibylle

[2020-07-20 17:16] sergioh-pessoal commented on #21
I also thing that  is not clear the meaning of Time Significance  in the common sequence 3-01-132.

The Time significance is often followed by descriptors such as date and time or time period or displacement.

In my opinion, one possibility would be  to remove  the replicator 1-02-002  from the common sequence (3-01-132),  and  include the  “Time Significance” , and “Time Period or Displacement”

[2020-07-21 05:43] jitsukoh commented on #21
I also think the approach suggested by @SibylleK and @sergioh-pessoal is natural. I made the first proposal [here](https://github.com/wmo-im/BUFR4/files/4951507/wind_prof_prp-2_time.significance_JH.docx) but I am not quite sure if these additional descriptors (0 08 021 and 0 04 025 and cancellation) should be repeated, as I don't know which elements are time averaged. All the elements inside the r

[2020-07-21 08:17] chenxiaoxia2019 commented on #21
@richardweedon The units of 015075 has been updated in the branch, changing from m to m-1.

[2020-07-22 13:23] jitsukoh commented on #21
@chenxiaoxia2019 could you update the branch according to [wind_prof_prp-20200722.docx](https://github.com/wmo-im/BUFR4/files/4959198/wind_prof_prp-20200722.docx), but only the new table B descriptors (the scale of 015076 and 015077 was changed from 2 to 1 in validation process, and the width of 015077 should be corrected to 12) and remove all the changes in table D entries from this branch? We se

[2020-07-22 14:40] chenxiaoxia2019 commented on #21
@jitsukoh The branch for this issue has been updated according to the latest proposal, with only new entries in Table B Descriptors. @richardweedon Could you please check this branch? Thanks.

[2020-07-22 17:05] SibylleK commented on #21
For the validation of the new table B descriptors, here are sample data provided by Myles Turp last week.

[ALC_VALIDATION.zip](https://github.com/wmo-im/BUFR4/files/4961353/ALC_VALIDATION.zip)
[RWP_VALIDATION.zip](https://github.com/wmo-im/BUFR4/files/4961356/RWP_VALIDATION.zip)

[2020-07-22 18:09] SibylleK commented on #21
I used the tables of the branch for this issue for the decoding of the BUFR.
As the mean frequency in the sample BUFR is encoded with 37 bits, I can only provide the output of our Java-decoding software.

[ALC_DWD_OUTPUT.zip](https://github.com/wmo-im/BUFR4/files/4961592/ALC_DWD_OUTPUT.zip)
[RWP_DWD_OUTPUT.zip](https://github.com/wmo-im/BUFR4/files/4961593/RWP_DWD_OUTPUT.zip)

Disregarding some di

[2020-07-22 18:14] SibylleK commented on #21
But I changed the reference value of 0 15 077 to 0 as it is seems to be still -2048 in the branch.

[2020-07-23 07:53] chenxiaoxia2019 commented on #21
@SibylleK Hi, Sibyllek. Thanks for your reminder. The reference of 015077 has been fixed.

[2020-07-27 13:43] sergioh-pessoal commented on #21
I decoded the sample from Myles sent by Sibilly using my software.  No problems in the decoding

See output attached
I’ve noted that there is a typo in the common header Sequence in the document wind_prof_prp-2.3272.

The descriptor 3-01-150 contains only ( 0-01-125, 0-01-126, 0-01-127. 0-01-128)
The position of these descriptor in the 3 collum of document is correct, but the descriptors from 3-01

[2020-07-29 08:32] chenxiaoxia2019 opened #49 "Comments received on DRAFT AMENDMENTS TO THE MANUAL ON CODES, VOLUME I.2 (WMO-NO. 306) BY FAST-TRACK PROCEDURE"
# Summary and purpose
_DRAFT AMENDMENTS TO THE MANUAL ON CODES, VOLUME I.2 (WMO-NO. 306) BY FAST-TRACK PROCEDURE_ has been sent out on 28 July, 2020.

The focal points for codes and data representation matters are invited to review and comment by 29 September, 2020.

There are 11 proposals in _Part B - Binary Codes: FM 94 BUFR_, from No.13 to No.23.

# Action proposed
Comments received will be rec

[2020-07-29 08:41] chenxiaoxia2019 commented on #49
Date:    28/07/2020
Author: Jeff Ator:
Comment: The new Table D sequence 3-12-035 (for Scatterometer level 2a data) is missing from the PDF document  even though it's included in the original proposal and in the branch https://github.com/wmo-im/BUFR4/blob/issue-20/BUFR_TableD_en_12.csv  Could you please correct this, to ensure that the new 3-12-035 sequence gets included in the November Table D up

[2020-07-29 12:20] amilan17 commented on #3
SUMMARY: Add entry to Code Table 0-01-092.

[2020-07-29 12:26] amilan17 commented on #4
SUMMARY: Add entries to Table D Category 16.

[2020-07-29 13:17] amilan17 commented on #9
SUMMARY: Modify entry in Table B Class 40.

[2020-07-29 13:40] amilan17 commented on #10
SUMMARY: Add entry to Table B Class 40, add Flag Table 0 40 074, add entry to Table B Class 07 and add entry to Table D Category 40.

[2020-07-29 14:43] amilan17 commented on #15
SUMMARY: Add entry to Table B Class 21, add entry to Table B Class 22 and add entries to Table D Category 40.

[2020-07-29 15:05] amilan17 commented on #20
SUMMARY: Add entries to Table B Class 21, add entries to Table B Class 33, add entries Table D Category 12, add tables to Code/Flag Table 33 and add entry to Code/Flag Table 0 02 048.

[2020-07-30 12:44] amilan17 commented on #8
SUMMARY: Add entries to Table D Category 15.

[2020-07-31 14:21] chenxiaoxia2019 commented on #49
**No:** 2
**Date**: 31/07/2020
**Author**: Jeff Ator
**Comment**:  1). In the FT-2020-2-Vol I.2-Update.pdf document, there are 5 additional descriptors (0-01-007, 0-01-031, 0-02-048, 2-02-124, 0-02-026) shown at the end of the sequence and which should not be there.
2). In the ft-2020-2-new branch, 3-12-035 is now listed before 3-12-034 within the BUFR_TableD_en_12.csv file.

[2020-09-04 13:47] efucile opened #50 "Regulate the use of WIGOS Station Identifiers"
# Summary and purpose
With the following letter to Members
[CircularLetter_2017-10-30-OBS-WIS-DRMM-DRC-WIGOS-ID_en.pdf](https://github.com/wmo-im/BUFR4/files/5175066/CircularLetter_2017-10-30-OBS-WIS-DRMM-DRC-WIGOS-ID_en.pdf) the use of WIGOS Station Identifiers (WSI) was introduced and some guidelines provided.
WIGOS implementation plan requires a phased implementation of WSI in BUFR data. The in

[2020-09-16 04:52] jitsukoh commented on #21
E-Profile team provided an updated proposal as [wind_prof_prp-20200731.docx](https://github.com/wmo-im/BUFR4/files/5229750/wind_prof_prp-20200731.docx), using two different SCALE/WIDTH combinations to avoid a bid width more than 32 for "mean frequency."

@marijanacrepulja has expressed her support on this solution and I'd appreciate others' opinions, especially @SibylleK .

[2020-09-21 01:55] jitsukoh commented on #21
Based on the comment of @marijanacrepulja E-Profile team updated the proposal so that the mean frequency in 3 09 026 sequence is outside of the replication (same as in 3 09 024 and 3 09 025 sequences). I'd appreciate confirmation of @marijanacrepulja and @SibylleK !

From the E-Profile team:
Please see [attached revised version: wind_prof_prp-20200918.docx](https://github.com/wmo-im/BUFR4/files/52

[2020-09-21 22:09] marijanacrepulja commented on #21
@jitsukoh It seems to be correct now.

[2020-09-24 14:09] SibylleK commented on #21
@jitsukoh  From my point of view, it is OK too.

I have only one comment regarding the note "...must be used with the Common header sequence 3010132 and cannot be used on its own" under the sequences 309024, 309025 and 309026.
Is it intended to include this as element description or note in table D?
If so, I would rather propose to include 3010132 directly in the sequences. Or the note should be c

[2020-09-28 00:18] jitsukoh commented on #21
@SibylleK thank you for your comments. Regarding the note around header sequence 301132, here are comments from E-Profile team:

I'd suggest updating the note to something like "The common header sequence 3 01 132 cannot be used on its own and must be be followed by one of the sequences for windprofiler product data."

@chenxiaoxia2019 could you create a new branch for the new Table D descriptors,

[2020-09-30 14:29] efucile opened #51 "BUFR sequence for DAYCLI"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue51

# Summary and purpose
Enter text.

# Consultations and Reviewers

# Detailed proposal
(Final proposal, updated by @jitsukoh December 20.)
**1. Add a new entry in the significance qualifier class of  table B (0-08-094)  and a new code table to describe  the method used to calculate the daily average  temperature.**
* CSV files: BUFRCREX_TableB_

[2020-09-30 16:47] SibylleK commented on #21
Dear @jitsukoh and all,
Meanwhile the E-Profile team provides a revised version of the E-Profile products sequences.
[wind_prof_prp-20200930.docx](https://github.com/wmo-im/BUFR4/files/5306953/wind_prof_prp-20200930.docx)

The common header sequence 301132 is now included in the sequences 309024, 309025, 309026.
I upload it here, because some sample data for the Single wavelength Elastic Backscatt

[2020-09-30 17:00] SibylleK commented on #21
Attached the output of the DWD decoding software could be found.
The values are the same as in the provided .txt files.

[ALC_VALIDATION_TABLED_DWDout.zip](https://github.com/wmo-im/BUFR4/files/5307029/ALC_VALIDATION_TABLED_DWDout.zip)

The validation was done manually (including the new sequence by typewriting).
It would be good to repeat it using the new branch for this issue.

[2020-10-01 06:28] jitsukoh commented on #21
Dear @SibylleK thank you very much for the update (and my apologies for the misunderstanding of your comment on the note!).

@wmo-im/tdcf please let us know, by the end of this week, if you have opposition to [the proposal on table D descriptors](https://github.com/wmo-im/BUFR4/files/5306953/wind_prof_prp-20200930.docx).

@chenxiaoxia2019 could you create a new branch that includes only the new ta

[2020-10-02 13:32] SibylleK commented on #21
Attached are sample BUFR for the validation of 309024 and 309025 provided by Myles Turp from the E-Profile team.

[RWP_VALIDATION_TABLED.zip](https://github.com/wmo-im/BUFR4/files/5318172/RWP_VALIDATION_TABLED.zip)

[2020-10-05 14:38] DenisStuber commented on #51
In July 2018, the World Meteorological Organization, launched a one-year trial phase for the monthly reporting of daily climate data as per BUFR template 3 07 074 (WMO 20180730), named DAYCLI message. This message includes 6 variables: maximum temperature, minimum temperature, mean temperature, precipitation, depth of new snowfall and depth of total snow on the ground (See File WMO 20180730).
**[W

[2020-10-06 09:35] DenisStuber commented on #51
Stations that send the CLIMAT message (normals values with monthly parameters and daily extremes, average and cumulative values) are forseen to send also the DAYCLI message. The reference guidelines for the CLIMAT message are :
**[wmo-td_1188_en.pdf](https://github.com/wmo-im/BUFR4/files/5332736/wmo-td_1188_en.pdf)**
**[GCOS-127_EN_Climate_code_practical_help.pdf](https://github.com/wmo-im/BUFR4/f

[2020-10-06 11:47] DenisStuber commented on #51
Those who are sharing their development :

NOAA | ftp://ftp.ncdc.noaa.gov/pub/data/dailyclimat/"Ron Ray" <Ron.Ray@noaa.gov>"Jay Lawrimore" <Jay.Lawrimore@noaa.gov>No licence but code and documentation available|  
-- | -- | --
Brazil | http://downloads.cptec.inpe.br/publicacoes/distribuicao.jsp LGPL |  
Norvège | https://wiki.met.no/bufr.pm/bufrread.pl  GNU GPL |  
Canada | http://launchpad.net /l

[2020-10-06 12:46] tomkralidis commented on #51
Aside: libecbufr is now migrated to GitHub: https://github.com/ECCC-MSC/libecbufr

[2020-10-06 12:51] DenisStuber commented on #51
The following Members submitted interest and/or written intents to the Secretariat to participate in the trial :

1. Argentina
2. Australia (will join later)
3. Brazil
4. Chile
5. Egypt
6. Estonia
7. France
8. Hong Kong, China
9. Indonesia
10. Ireland
11. Japan
12. Kazakhstan
13. Korea
14. Latvia
15. Mexico
16. Norway
17. Pakistan
18. Russian Federation
19. Spain
20. Switzerland

[2020-10-06 13:04] DenisStuber commented on #51
Let's present the Expert Team on Data Requirements fpr Climate Services
Co-chairs:
1.	Christina LIEF, ret.NOAA/NCEI, USA
2.	Denis STUBER, Météo-France, France

Core members:
3.	Ali EDDENJAL, LNMC, Libya (National Data Maturity Assessment)
4.	Bruce BANNERMAN, ret.BOM, Australia (RA-5)
5.	Ge PENG, NOAA's Cooperative Institute for Satellite Earth, USA (RA-4)
6.	José A. GUIJARRO, AEMET, Spain (RA-6)
7

[2020-10-06 14:30] DenisStuber commented on #51
Thanks !

[2020-10-08 14:39] #9 closed

[2020-10-08 14:39] #10 closed

[2020-10-09 09:35] efucile commented on #50
Building on the suggestion of @SibylleK I added two notes to WI sequence and some clarification in the "element description" column. @SimonElliottEUM and @jitsukoh can you please have a look and make suggestions?
[WSI_TABLE_D_306_I2_2019_en.docx](https://github.com/wmo-im/BUFR4/files/5353929/WSI_TABLE_D_306_I2_2019_en.docx)

[2020-10-12 08:30] amilan17 commented on #21
@jitsukoh
This is the new branch for this issue: https://github.com/wmo-im/BUFR4/tree/issue-21a

[2020-10-12 08:47] jitsukoh commented on #21
Thank you very much @amilan17 !
@SibylleK and @marijanacrepulja could you confirm if validation is done using the new branch?

[2020-10-12 08:57] amilan17 commented on #21
Just to be clear, I have not modified the branch to incorporate the e-profile proposal.

[2020-10-12 09:51] jitsukoh commented on #21
Oh... then who is supposed to make modifications? In the last cycle, it was done by the Secretariat.

[2020-10-13 12:53] amilan17 commented on #8
Approved by FT 2020-2.

[2020-10-13 12:53] #8 closed

[2020-10-13 12:56] amilan17 commented on #12
Approved by FT 2020-2.

[2020-10-13 12:56] #12 closed

[2020-10-13 12:57] amilan17 commented on #15
Approved by FT 2020-2.

[2020-10-13 12:57] #15 closed

[2020-10-13 13:02] amilan17 commented on #19
Approved by FT-2020-2

[2020-10-13 13:02] #19 closed

[2020-10-13 13:03] amilan17 commented on #20
Approved by FT-2020-2

[2020-10-13 13:03] #20 closed

[2020-10-13 13:03] amilan17 commented on #4
Approved by FT-2020-2

[2020-10-13 13:03] #4 closed

[2020-10-13 13:15] amilan17 commented on #5
This issue needs a branch.

[2020-10-13 13:19] amilan17 commented on #3
Approved by FT-2020-2.

[2020-10-13 13:19] #3 closed

[2020-10-13 13:21] amilan17 commented on #7
Approved by FT-2020-2.

[2020-10-13 13:21] #7 closed

[2020-10-13 13:28] amilan17 commented on #21
@richardweedon - Can you update https://github.com/wmo-im/BUFR4/tree/issue-21a to represent the decisions?

[2020-10-13 13:31] amilan17 commented on #49
All amendments have been approved by FT-2020-2.

[2020-10-13 13:31] #49 closed

[2020-10-13 13:50] jbathegit commented on #50
@wmo-im/tt-tdcf I think it is not so simple as just adding Element Description notes to Class 1 of Table D.  Many of these sequences are included as subsequences within sequences of other Classes.  For example, 3-01-001 is referenced within other sequences in Classes 7, 9, 16 and even 35, and not always as the first element of the sequence.  Similarly, 3-01-031 appears in other sequences in Classe

[2020-10-13 14:10] jbathegit commented on #50
Now that I think of it, another problem with just adding Element Descriptor notes is that these are often missed or difficult to easily incorporate, especially by automated parsers which process csv or xml versions of the tables.

As a side note, if we had proper versioning of Table D descriptors, one easy solution could be to just replace all of the occurrences of 3-01-001 with 3-01-150, wherever

[2020-10-13 14:44] efucile commented on #50
Thanks @jbathegit you are right and I am not keen on notes and comments in the tables. I also agree with the effectiveness of the "proper" versioning. We would be able to introduce 3-01-150 from the next version without any note. I wonder if this is feasible. It is a clean solution. Very tempting and absolutely within the rules!
I know someone is going to shout that not all the decoders implement

[2020-10-13 17:12] jbathegit commented on #50
What might be an even bigger issue is that not all encoders (especially ones used by commercial vendors and installed within COTS observing systems) don't follow the rules either.

[2020-10-14 06:58] SimonElliottEUM commented on #50
I note that with an eye on the satellite data (which of course dominates global data exchange in terms of volume), @efucile has inserted an 0-01-150 WSI before sequences containing 0-01-007 (Satellite identifier). This is a reasonable approach but needs to be proposed for 3-01-125 for completeness. Also there are many satellite sequences in Table D (eg in classes 10, 12, and 40) starting with 0-01

[2020-10-14 07:18] efucile commented on #50
Dear @jbathegit you are right the risk associated with such a solution is too high. While I was writing this answer @SimonElliottEUM comment came and I see that you both think that the note and comments are not strong enough to enforce the change. I have an idea on which I would like @wmo-im/tdcf to comment.
We could take a more radical approach and make new WIGOS categories out of the existing, c

[2020-10-14 14:25] jbathegit commented on #50
Dear @efucile, yes this might work, but how would we enforce an eventual migration to the new sequences?  Perhaps you were envisioning such a directive within the B/C regulations?  Bottom line, if there's no incentive or impetus to change, then most if not all encoders will just continue using the existing sequences, and then we wouldn't make any real progress towards the use of WIGOS identifiers.

[2020-10-15 09:30] efucile commented on #50
Hello @wmo-im/tt-tdcf can you please comment on this thread. We have three proposed solutions at the moment
1. Note in sequence 3-01-150 and comments in relative identification sequences that are going to be preceded by 3-01-150.
2. Add sequence 3-01-150 to existing sequences in next version of the tables.
3. Create new sequences with the additional 3-01-150 cloning and assigning a new sequence nu

[2020-10-15 14:51] SibylleK commented on #50
Dear @efucile, thank you very much for the summary, which makes it easier for me to comment.

In my view solution 1 is the only practicable option, although I do not think that all the comments in other sequences except 301150 are necessary. It should be sufficient to have a note or comment for 301150 which says, that this sequence should be placed before BUFR/CREX sequences if not already include

[2020-10-16 06:42] marianmajan-ibl commented on #50
Dear Enrico, thank you for sorting the options out and Jeff, Simon for very valuable input.

I would vote for the option 1 too. That is an approach that has been already adapted for "standard" data and I think it was quite practical -- for users as well as for producers. The main problem is that the information about a station in a report (WSI as well as traditional WMO station identifier IIiii) i

[2020-10-16 12:18] jitsukoh commented on #21
Thank you @richardweedon to update the branch.
@SibylleK and @marijanacrepulja could you confirm if validation is done using the new branch?

[2020-10-16 13:17] marijanacrepulja commented on #50
Hello @wmo-im/tt-tdcf ,
I would support solution 1 for the time being taking into account pron vs cons and having in mind readiness of users for using WIGOS.
Solution 3 is good alternative. I think, we will come to that gradually while introducing new sequences.

[2020-10-16 17:08] sergioh-pessoal commented on #50
I think this is a complex discussion.
Note that at the moment we have in table D only 6 templates that have WIS: 3-07-092, 3-07-103, 3-08-018, 3-09-056, 3-09-57, 3-11-02)

This is too little.

On the other hand, there are many data from surface stations that do not have the WMO block and station number (3-01-001),  but  are being reported in BUFR. Several of these using expanded templates

The use

[2020-10-19 05:24] jitsukoh commented on #50
Thank you @efucile for the summary and thank you for all comments.

I vote for option 1 as well, and I am of the same opinion with Sibylle, i.e. it is sufficient to have a note or comment for 301150 which says, that this sequence should be placed before BUFR/CREX sequences if not already included.

On top of all the reasons that were already stated by other members, my point is that enforcing the

[2020-10-20 09:42] richardweedon commented on #50
Enrico
Whilst I appreciate that options 2 & 3 would seem to be the logical approach, I have to take a pragmatic stance on the matter and endorse option 1. My primary concern at this point will be to limit the impact of any changes on our current systems.

Regards

Richard

From: Enrico Fucile <notifications@github.com>
Sent: 15 October 2020 10:31
To: wmo-im/BUFR4 <BUFR4@noreply.github.com>
Cc: Wee

[2020-10-21 09:38] efucile commented on #50
Dear @wmo-im/tt-tdcf
thank you for your answers and your clear argumentation. I believe that we have considered all the possible options from many aspects and I see that there is consensus on choosing to add a note on 3-01-150 and comments on the identification sequences as proposed in my first post with the attached document [WSI_TABLE_D_306_I2_2019_en.docx](https://github.com/wmo-im/BUFR4/files/

[2020-10-21 09:55] efucile commented on #50
Dear @jitsukoh
I have to say that I 100% agree with your arguments regarding the possible negative impact of adding WSI to existing stations. However, I discovered that reality is more complicated and if we don't do something to manage the transition we will get into a chaotic situation soon.
1. New stations can only be assigned WSI, not block/station Number. The old numbering system has been reti

[2020-10-22 23:11] jitsukoh commented on #50
@efucile thank you for the proposal. I am still of the opinion that the comment for 3 01 150 saying that this should precede sequences if not already included, would be enough. And the Manual on Codes is not the place to say something like (13). The careful and thorough discussion if and how we should impose this kind of intervention with ET-OM is necessary before drafting this.

I understand that

[2020-10-23 14:29] SibylleK commented on #18
The bit width of  033093 - "Extended quality flags for ground-based GNSS data" is changed from 32 to 31 (which is sufficient and does not create any problem when producing an example message for validation.)

The replication within the ZTD block is kept, as it does no harm and could be very useful for research and experimental purposes.

[GNSS-STD.zip](https://github.com/wmo-im/BUFR4/files/5430018

[2020-10-30 13:25] SibylleK commented on #21
Some modifications of the Table D sequence of the branch were needed. I made these changes yesterday.
With the table entries in the updated branch the provided examples could be read with the DWD BUFR software.
The values in the outputs (see.
[ALC_VALIDATION_TABLED_DWDout.zip](https://github.com/wmo-im/BUFR4/files/5465319/ALC_VALIDATION_TABLED_DWDout.zip)
[RWP_VALIDATION_TABLED_DWDout.zip](https:/

[2020-11-03 13:16] amilan17 commented on #16
Please validate by December
@marijanacrepulja
@marianmajan-ibl

[2020-11-03 13:18] amilan17 commented on #17
Please check validation status
@SibylleK

[2020-11-03 13:21] jbathegit commented on #18
Just to document from today's TT-TDCF meeting, I am happy to help validate the samples once a test branch is available with the proposed new descriptors.

[2020-11-03 13:24] SimonElliottEUM commented on #50
Concerning need at this stage to add 3-01-150 to satellite sequences, I could address at CGMS via its Task Force. But this will probably take a while as it will need discussion in session I expect (in May June 2021)

[2020-11-03 13:35] DavidBerryNOC commented on #17
This was accepted as validated back in June. It missed the inclusion in FT-2020-2 drafting and I failed to pick that up (it's possible the card hadn't been moved to the correct column in the project board). I had sent an email on this a couple of weeks ago that I've been meaning to follow up on (and whether we could use the sequence pre-operationally).

[2020-11-03 15:04] SibylleK commented on #17
Just to confirm the validation, here is the output of the DWD BUFR software using the branch for issue-17.
[example-profile.bufr_DWDout.txt](https://github.com/wmo-im/BUFR4/files/5482021/example-profile.bufr_DWDout.txt)
The values correspond to the expected values.

[2020-11-04 08:57] efucile commented on #50
**Summary of the discussion**
The Team decided to add a note in sequence 3-01-150 and comments in relative identification sequences that are going to be preceded by 3-01-150. For the moment satellite identification sequences are excluded and they will be considered after consultation with CGMS.
@wmo-im/tt-tdcf please review the text for the note proposed in the document [WSI_TABLE_D_306_I2_2019_en

[2020-11-04 10:12] amilan17 commented on #23
[Archive.zip](https://github.com/wmo-im/BUFR4/files/5487046/Archive.zip)
The BUFR XML and TXT files are regenerated using code provided by @SibylleK and @marijanacrepulja.
Empty XML tags, extra CSV headers are removed and a `<No>` tag was added to the XML.
The changes are implemented in the https://github.com/wmo-im/BUFR4/tree/generateMachineCodes branch.

[2020-11-04 10:20] amilan17 commented on #23
I also integrated the edit for CSVtoXML in CCT, but I don't think it's giving us the results we want:
https://github.com/wmo-im/CCT/commit/f73d8e7d1d80619d520a5aad3cfd624194f60c17#diff-24e776c74f105f27897f072849d27ca716f89f47e766b618d76b7d9244a224f0

[2020-11-04 10:26] SibylleK commented on #50
Dear @efucile, here is my review of the document: [WSI_TABLE_D_306_I2_2019_en.docx](https://github.com/wmo-im/BUFR4/files/5487080/WSI_TABLE_D_306_I2_2019_en.docx)
As I do not think, that the "shall be preceded by 3-01-150 WIGOS Identifier" in the element description column will work, these entries are withdrawn.
In addition I suppose it is far to early for the wording "shall", as is would mean all

[2020-11-04 14:47] efucile commented on #50
Dear @SibylleK thank you for your review. I think that this is not enough as we need to mandate the use of WSI for new stations given that TSI cannot be used. We need to find a good wording to avoid forcing existing stations to change their data and allow new stations to use WSI.

[2020-11-04 15:14] DenisStuber commented on #51
New version on issues and requirements :
[20201104_DAYCLI_to_Sercom_Infcom_V2.pdf](https://github.com/wmo-im/BUFR4/files/5488558/20201104_DAYCLI_to_Sercom_Infcom_V2.pdf)

Draft on actors and tasks :
[daycli_ET-DRC_2.txt](https://github.com/wmo-im/BUFR4/files/5488563/daycli_ET-DRC_2.txt)

using this tool:
[]( https://sequencediagram.org/)

[2020-11-05 11:49] amilan17 commented on #18
@jbathegit
@marijanacrepulja
@sergioh-pessoal
https://github.com/wmo-im/BUFR4/tree/issue-18

[2020-11-05 11:51] amilan17 commented on #5
https://github.com/wmo-im/BUFR4/tree/issue-5

[2020-11-05 11:53] amilan17 commented on #5
Who is responsible for validation?

[2020-11-05 13:02] erget commented on #23
# XML
I've checked these but I still see the empty XML tags, e.g.
[code]

I believe before the XML tables had something like this:

[code]
As it is I can only import 113 elements from Table B, 571 elements for Table D, all others produce errors (meaning no code/flag tables!).

# CSV
Code/flag tables import fine with only 1 error. It looks like the headers are still repeated though, I see them on l

[2020-11-05 16:12] SibylleK commented on #18
Dear @amilan17,
Thank you very much for the branch. The proposed new entries are included in the branch.
The Table B descriptors have to be changed (+6) as the new E-Profile descriptors in the upcoming version 35 are defined already as 015073 - 015078. I overlooked that.
The original proposal is changed accordingly.

I also included the notes of the descriptors in the Table B csv files as Note_en.

[2020-11-06 10:43] SimonElliottEUM commented on #50
@efucile Concerning the imposition of 3-01-150 before the satellite sequence, 3-01-041, 3-01-043, etc, if this is decided to be necessary, then I would recommend a suitable text with Common Code Table C-5 (which gives the values to be used for 0-01-007). It would be a practical place to define the use of 3-01-150 in the case of satellite data

[2020-11-07 09:54] efucile commented on #50
@SimonElliottEUM at the moment is not urgent to introduce WSI for satellites as the schema and its application are not ready yet. I think we should focus on surface data

[2020-11-09 23:48] jbathegit commented on #18
Using the values in @SibylleK 's updated branch, I was able to read the sample STD-Validation-BUFR-2.bufr file and decode identical values vs. what was shown in the sample STD-Validation-BUFR-2.bufr.out.  So I think this is a successful validation using NCEP's BUFRLIB package.

[STD-Validation-BUFR-2.bufr.debufr.txt](https://github.com/wmo-im/BUFR4/files/5513895/STD-Validation-BUFR-2.bufr.debufr.t

[2020-11-10 08:42] amilan17 commented on #23
[BUFR-2020-Nov-10.zip](https://github.com/wmo-im/BUFR4/files/5515781/BUFR-2020-Nov-10.zip)

Please test this new zip of BUFR XML and TXT. I believe that all of the repeating headers are cleaned up and the empty XML elements are removed.

Other differences (aside from amendments) and questions:
1. The "No" column is removed from the txt files.
2. The code generates "<No>" tags for XML files, but th

[2020-11-10 09:34] erget commented on #23
Hi @amilan17 I opened up the Table B CSV with a text editor and can see the repeated headers, so I don't think it's worthwhile to check the CSVs again - maybe the file is old?

Regarding your points (3) and (4) - that's great! That makes a lot more sense now.

Regarding the XML files, I still see the empty `<Note_en/>` elements. So in `BUFRCREX_TableB_en.xml` in the entry for 000001, I changed thi

[2020-11-10 09:59] amilan17 commented on #23
Oops. I'm checking now!

[2020-11-10 10:13] amilan17 commented on #23
[BUFR-2020-Nov-10.zip](https://github.com/wmo-im/BUFR4/files/5516448/BUFR-2020-Nov-10.zip)
I think this is the correct version to test.

[2020-11-10 10:26] erget commented on #23
Hi @amilan17 , that does it - everything now imports fine, thanks for the update!

[2020-11-10 15:26] sergioh-pessoal commented on #51
I present here the summary of the meeting we had yesterday (Sergio and Denis)

I believe that the information from this meeting is sufficient to  make an initial outline of a new BUFR sequence that will be developed based on the existing DAYCLI sequence (3 07 074).

I intend to make an initial document to put on GitHub.

**These are the points covered:**

1 -The time slots to measure daily extreme

[2020-11-11 17:32] sergioh-pessoal commented on #18
The decoding of the STD-Validation-BUFR-2.bufr file was also successful using the INPE software. The results were identical to the file STD-Validation-BUFR-2.bufr.out.
[STD-Validation-BUFR-2.bufr.INPE.txt](https://github.com/wmo-im/BUFR4/files/5525742/STD-Validation-BUFR-2.bufr.INPE.txt)

[2020-11-12 09:43] amilan17 commented on #23
@wmo-im/tt-tdcf -- Will you also review ASAP and review the questions I have? Thanks!
https://github.com/wmo-im/BUFR4/files/5516448/BUFR-2020-Nov-10.zip

[code]

[2020-11-12 22:04] marijanacrepulja commented on #23
Hi @amilan17,
I have successfully imported txt files. Thanks for update!
Only one thing, I have spotted that in  BUFR_TableD_en.txt there are empty lines gap between class 15 and 16. That comes from 3 empty lines in BUFR_TableD_en_15.csv Would be good if we can have them deleted.

[2020-11-15 23:36] jlawrimo commented on #51
Hi Denis,
from my email earlier this week.. Regarding snow. There should be depth of snow (all snow) on the ground at time of observation and also new snow that fell in the previous 24-hours. How that is done could vary by country and even within countries as you know. In my opinion the ideal is for 4 new snow obs to be taken every 6 hours and the total summed to a 24-hour total. But many networks

[2020-11-16 17:39] DenisStuber commented on #51
About the snow, I was wondering about the definitions. It was not in my intention to add more variables about snow. I suppose that total snow at a time of observation and new snow that fell in the previous 24 hours is sufficient for the Daycli message. Nevertheless we need to precise the time of observation, and the period of time for Fresh snow.

For the quality, yes I was suggesting to add a qua

[2020-11-17 10:42] amilan17 commented on #23
@marijanacrepulja - Good catch. I removed the extra lines and it looks better now.
https://github.com/wmo-im/BUFR4/blob/generateMachineCodes/txt/BUFR_TableD_en.txt

[2020-11-26 13:26] richardweedon commented on #21
I have checked the Tables against the original prposal and amendments made during validation. and can find no errors. Please proceed with the merge to the validation branch

[2020-11-26 22:47] marianmajan-ibl commented on #16
Hello @amilan17 and @richardweedon,

I was trying to validate the sequence 3 15 012 from the branch _issune-16_. However the content does not seem to be right (its descriptors seem to be just incremented 001087):
[code]

Am I missing something?

Best regards,
Marian

[2020-11-26 23:56] marijanacrepulja commented on #16
I was able to decode a sample BUFR message using the tables provided in Dave's latest comment. The entries are not in the branch yet. We are also missing the code_flag table update with additional values.

[2020-11-26 23:57] marijanacrepulja commented on #5
The branch is not updated with proposed BUFR entries.
I am happy to help with validation once the branch is ready.

[2020-11-27 00:09] marijanacrepulja commented on #18
I also successfully decoded the sample, data using tables from the branch.
[STD-Validation-BUFR-2.bufr.txt](https://github.com/wmo-im/BUFR4/files/5605366/STD-Validation-BUFR-2.bufr.txt)

[2020-11-27 08:04] amilan17 commented on #23
Machine readable codes are published to https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version

[2020-11-27 08:04] #23 closed

[2020-11-27 09:16] amilan17 commented on #21
Issue 21a is merged with the validation branch.
https://github.com/wmo-im/BUFR4/tree/validation

[2020-12-04 16:13] jbathegit opened #54 "BUFRCREX CodeFlag 33: disconnect between EUMETSAT ROMSAF documentation and WMO documentation re: 0-33-039 flag table"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue54
# Final Proposal

Add quality flags to Flag Table 33

|  Bit number | Meaning |
| -------------| ---------- |
| 8 | Open loop data included |
| 9 | Surface reflections detected |
| 10 | L2C GNSS signals used |

whereas the WMO table for 0-33-039 has these bits listed as "Reserved".

# Original proposal
@wmo-im/tt-tdcf

I received a sample RO (r

[2020-12-08 21:35] DavidBerryNOC commented on #5
The last time I checked (September / October of this year) there was still no progress to report. There may still be some changes to make so I would propose moving this back to in progress rather than in validation and changing the FT aimed for.

[2020-12-08 21:44] DavidBerryNOC commented on #16
I'm afraid we need to delay further, there is an outstanding item to confirm the scale, width and offset required for the new table B entries.

[2020-12-09 05:39] jitsukoh commented on #50
@wmo-im/tt-tdcf
[This](https://github.com/wmo-im/BUFR4/files/5663693/WSI_TABLE_D_306_I2_2019_en_201209.docx) is the proposal to add a new note to the WSI sequence (3 01 150) in Table D, based on Sibylle's proposal and made small editorial changes (deleted the new acronym WI etc.).
Proposed note is:
(12)	To encode the WIGOS Identifier in a BUFR message, the sequence 3 01 150 should be placed before

[2020-12-09 09:02] efucile commented on #50
I don't think we should do this. This addition is only a guidance (should) and doesn't add anything to the existing circular letter. If we are not sure of what we want to mandate we should wait until we are convinced. There is also another reason that we cannot do this. The reason is that we have to mandate the use of WSI for all the stations that are not registered with the 20000/20001 because fo

[2020-12-09 12:37] marijanacrepulja commented on #21
The provided example could be decoded using ecCodes.
[E-profile-validated.zip](https://github.com/wmo-im/BUFR4/files/5665859/E-profile-validated.zip)

[2020-12-09 16:22] SibylleK commented on #54
Hi @jbathegit ,

I got the information from my colleague, that these entries are in use at DWD since 2012 (at least bit 8). I.e. they are defined long before 2012.

As these entries are needed, I would suggest to propose them for FT-2020-2. What do you think about it?

Best regards,
Sibylle

[2020-12-09 17:58] jbathegit commented on #54
Or is it too late to include them in FT-2021-1 (maybe discuss during tomorrow's call?)  I know @SimonElliottEUM already said that he'd try to get in touch with the ROM SAF folks to figure out where the communications broke down and try to figure out a way forward, but clearly these entries are already in use by DWD and UCAR so maybe that's all water under the bridge at this point.  And they're onl

[2020-12-09 18:49] DenisStuber commented on #51
**Minimum modification for the DAYCLI message sequence (0 07 074)**
1. Tmax, Tmin and Taverage, Add the time frame (Day Hour and Time period be added)
2. Total accumulated precipitation, Add the time frame (Day Hour and Time period be added)
3. Depth of fresh snow, Add the time frame (Day Hour and Time period be added)
4. Total snow depth, Add the time of observation (Day Hour)

**Recommended modi

[2020-12-09 19:57] sergioh-pessoal commented on #51
I started preparing a draft proposal for the new sequence There are some points that probably need to be discussed. The first concerns the indication of the method used to calculate the average daily temperature. It can be noted that there are many methods in use, but many of them are very similar.
So I was wondering if it is appropriate to define a code table using a general formulation that repr

[2020-12-09 20:16] sergioh-pessoal commented on #51
Here are the modifications of 3-07-074 that I have prepared so far, based on what we discussed and used the descriptors above

**3 – Update descriptor 3-07-074 (Update or create a new entry in table D)**

Table 			Reference | Table 			References | Element 			Name | Description 			/ comments
-- | -- | -- | --
3-07-074 |   | Supplemental 			daily temperature and precipitation values for monthly clim

[2020-12-10 06:39] SimonElliottEUM commented on #54
@SibylleK @jbathegit as I told Jeff, I am working on this with the ROM SAF. I was in touch with the ROM SAF Manager yesterday as well as members of its Steering Group. My hope is that they will let me push through the request to add these entries via our well established process. BTW, they are flag table entries rather than code table entries so we need to i) be sparing in their allocation and ij)

[2020-12-10 09:16] jitsukoh commented on #51
Comments of Dr. Jörg Klausen on Data Quality Codes:

[2020-12-10 09:38] jitsukoh commented on #54
If the finalized proposal can be submitted to today's meeting and we can get the confirmation from the relevant group by Jan 15, I would say we can include this to FT2021-1, but if we need discussion to finalize the proposal from now, I would put it in FT2021-2 because I don't want to make a poor decision because we don't have enough time.

[2020-12-10 09:48] SimonElliottEUM commented on #54
@jitsukoh I would wait for FT2021-2. This will allow time to consult the CGMS TFSDC. For the satellite domain, they are the subject matter experts, and we have included their consultation in the process up to now.

[2020-12-10 10:23] sergioh-pessoal commented on #51
I agree with this point. There is a lot of redundancy in tables 0 33 BUFR and it is difficult to decide what to use. Creating a new table is not a good solution. It would further increase the redundancies in the tables.
Adding better definitions and perhaps more elements to an existing code table that meets the requirements for ET-DRC and ET-Data / TT-CDCF. would be better

[2020-12-10 11:52] SibylleK commented on #54
As the entries are used operationally since many years (they are defined by ROM SAF 2007 and 2008) they should not be questioned and included in the flag table as they are.
Changes of these entries would most probably cause operational problems.

[2020-12-10 11:58] SimonElliottEUM commented on #54
@SibylleK we would not be changing the definition because they have not yet been defined. In any case I think we should follow the agreed process and seek confirmation from the CGMS TFSDC before rushing to the earlier FT process.

[2020-12-10 12:55] lemkhenter commented on #51
I think all quality information is relevant to the climato community. It is therefore necessary to list all the details relating to this aspect before thinking about a way to optimize their representation in the BUFR message.

[2020-12-11 10:19] DenisStuber commented on #51
For information, here below,  explanation on the 2 classifications, the siting classification and the measurement quality classification:

- [Siting Classification](https://github.com/wmo-im/BUFR4/files/5518290/CIMO_Guide_2014_en_I_1-2_Annex_1B-1.pdf)
- [Measurement Quality Classification](https://github.com/wmo-im/BUFR4/files/5678536/KPremec_Measurement_Quality_Classification_Tokyo_2019_final.ppt

[2020-12-14 08:29] efucile commented on #50
During the teleconference on the 10th December the Team decided that is not ready to produce regulations on WSI and this discussion will be continued next year. For the moment the planned document for INFCOM is withdrawn.

[2020-12-15 20:00] sergioh-pessoal commented on #51
Just one detail about adding the day, hour and 'time period or displacement' for each variable.
In my opinion it is necessary add only hour (0-04-004) and time period or displacement (0-04-024 ) for each variable. The day is not necessary because it is already understood that the start or end the time frame are modified in relation to the date provided by the value of displacement

For example
Sup

[2020-12-16 08:22] DenisStuber commented on #51
Flagging systems from :
Spain (AEMET)
[AEMET_CDB_Quality_Flags.pdf](https://github.com/wmo-im/BUFR4/files/5701263/AEMET_CDB_Quality_Flags.pdf)

MICROSTEP (Slovakian company)
[MICROStep.pdf](https://github.com/wmo-im/BUFR4/files/5701271/MICROStep.pdf)

[2020-12-21 21:21] castelao commented on #16
Hi, I'm sorry to jump into this discussion. I would like to suggest including pH in this template. This is a relatively new sensor for autonomous platforms but highly desirable for realtime transmission, hence would benefit from BUFR. This suggestion would require:

Changes:
...
1-56-000 -> 1-61-000
...
1-53-000 -> 1-58-000
...

Addition in the end:

1-03-000
0-31-000
0-33-050  Global GTSPP qualit

[2021-01-11 22:15] jbathegit opened #55 "non-CCITTIA5 characters in GitHub .csv file(?)"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue55
https://github.com/wmo-im/CCT/commits/bufrIssue55

# Final Proposal

_add when ready_

# Original Discussion Point

Hello @wmo-im/tt-tdcf

Maybe I'm mistaken, but it was my understanding that everything in the csv files should be part of the CCITT IA5 character set(?)
I'm asking because a colleague of mine found a couple of entries in https://

[2021-01-12 15:28] jbathegit commented on #55
Other examples of this are in https://github.com/wmo-im/CCT/blob/master/C11.csv, where there are a lot of place names containing UTF-8, e.g. "La Réunion", "Norrköping", etc.

Please understand that my question only pertains to the .csv files which many users download and ingest for automated processing.  And I'm not saying that UTF-8 is a bad thing; rather, it just complicates automated processing

[2021-01-12 17:19] efucile commented on #55
Dear @jbathegit thanks for rising this. I agree that we need to be clear on the characters set used for our tables.
I made a quick check and I can confirm that going back to 2016 the encoding is utf-8.
I understand that the problem here is that in xml it was explicitly stated encoding=utf-8 while in the csv files needs to be detected by the user software. You can check from command line in linux e

[2021-01-13 07:24] SimonElliottEUM commented on #55
@jbathegit @efucile we need to recall that the units used in Table need to be describable in CCITT-IA5 otherwise we could not use 0-00-015 to describe them. Being able to exchange the Tables themselves and their components in BUFR is a vital feature and so we must make sure that either the units are expressed using CCITT-IA5 character set, or we introduce new descriptors in Table 0 for this purpos

[2021-01-13 08:06] efucile commented on #55
@SimonElliottEUM you are right. Is it only for the units? I am afraid that this is the case for all the tables. I think we need to decide a way forward here. We may need to change the format of the csv and xml tables to CCITT-IA5.
A question for @wmo-im/tt-tdcf . I always forget about this feature of encoding the tables in BUFR because we stopped using it at some point, but I imagine that it is us

[2021-01-13 14:33] jbathegit commented on #55
Maybe I'm mistaken, but I think in most cases we're OK with the units.  For example, in https://raw.githubusercontent.com/wmo-im/BUFR4/master/BUFRCREX_TableB_en_11.csv, the wind speeds are listed as "m/s" (which are all CCITTIA5 characters), rather than "m s⁻¹".  Or in https://raw.githubusercontent.com/wmo-im/BUFR4/master/BUFRCREX_TableB_en_13.csv, accumulations and rates are listed as "kg m-2" or

[2021-01-15 15:05] jbathegit opened #56 "apparent paradox in BNF attachment for FM-94 BUFR in WMO 306 manual"

[2021-01-15 15:11] jbathegit commented on #56
One of my eagle-eyed colleagues spotted something interesting in the attachment to the manual for the BNF (Backus-Naur Form) for FM-94 BUFR, as shown below.  Apparently there's a Note (3) which says that each `<table b entry>` shall be represented using 95 characters; however, if you add up the lengths of all of the components included in the definition of `<table b entry>`, you get a total of 112

[2021-01-15 15:27] jbathegit commented on #56
BTW, and re: Note (1), this is another place in the manual which explicitly states that all characters in the units (i.e. `<UNITS_NAME>`) and meaning (i.e. `<ELEMENT NAME LINE 1>` and `<ELEMENT NAME LINE 2>`) for any Table B element are restricted to the CCITT IA5 character set, as we've been discussing in #55

[2021-01-18 07:34] SimonElliottEUM commented on #56
@jbathegit the size of <UNITS NAME> is ambiguously defined in any case. It is either 24 characters (giving the the 112 total your colleague spotted) or smaller if one of the prescribed options is used. I note with a wry grin, that if <UNITS NAME> is "NUMERIC", then the table B entry will be represented using 95 characters as per note 3.

[2021-01-18 07:55] jitsukoh commented on #51
Dear @DenisStuber and @sergioh-pessoal
Would it be possible to present a draft new sequence at this moment as part of the status report at the next meeting on 28th? We can of course add elements as agreed at a later stage.

[2021-01-18 08:15] DenisStuber commented on #51
For sure, we will work on it...

[2021-01-21 11:36] amilan17 commented on #17
@DavidBerryNOC 

branch issue-17 is really out of sync with Master. Can you update this branch with your modifications? https://github.com/wmo-im/BUFR4/tree/issue-17-FT

[2021-01-21 11:49] amilan17 commented on #16
@DavidBerryNOC 

It appears that the previous issue branch "issune-16" was deleted. 

Please update this new issue branch:  https://github.com/wmo-im/BUFR4/tree/issue-16

[2021-01-21 13:49] amilan17 commented on #18
@SibylleK -- I ran into merge conflicts when trying to rebase this branch. So I created a new branch and modified the relevant CSVs. Can you check it? 

[https://github.com/wmo-im/BUFR4/tree/issue18-FT](https://github.com/wmo-im/BUFR4/tree/issue18-FT)

[2021-01-21 14:14] sergioh-pessoal commented on #51
Dear @DenisStuber
Yes of course. I'm working on it right now.

[2021-01-21 19:18] amilan17 opened #58 "update tables with editorial changes"
# Summary and purpose

Fix editorial inconsistencies in FT-2020-2 amendments found by copyeditor after codes were released.

[2021-01-21 19:24] amilan17 commented on #58
Table D Category 12

72b1b83

[2021-01-21 19:29] amilan17 commented on #58
Table D Category 15

d808068

[2021-01-22 09:24] amilan17 commented on #58
Table D Category 16

37055a7

[2021-01-22 09:40] amilan17 commented on #58
ffa571c

Table D Category 40

[2021-01-22 09:46] amilan17 commented on #58
4dbea5e

Code Table 0 02 006

[2021-01-22 09:51] amilan17 commented on #58
0660222#diff-aa5ba7025f89564d3f96e052eba6ec570b6170c25aa97b6330cd7dacdd8859ac

Code Table 0 33 055

[2021-01-22 10:52] amilan17 commented on #21
@jitsukoh  -- Is this targeted for FT-2021-1?

[2021-01-22 11:28] jitsukoh commented on #21
@amilan17 yes, it is. The team has already concluded to include this (table D entries) in FT2021-1.

[2021-01-22 13:53] amilan17 commented on #5
@jitsukoh @DavidBerryNOC 

Change target FT to 2021-2?

[2021-01-22 14:50] jitsukoh commented on #5
@amilan17 I would prefer to set target FT when we know the validation process really starts. So if there is no update, I'd suggest not to add a target FT right now. It would be good if we can document this process (when and who add the target FT) to the Github status management document...

[2021-01-24 11:52] DenisStuber commented on #51
Proposition from Sergio y Denis will include:

- Time periods or Time of measurements for variables
- Data Quality Flag for each value
- Siting Classification (SC) for Temperature, Precipitation, Snow (?)
- Measurement Quality Classification (MQC) for Temperature, Precipitation, Snow (?)
- Indication of computation methods for Mean Temperature

Need to Experts validation from :

- WMO : Krunoslav

[2021-01-27 00:31] tomkralidis opened #59 "add Table A to codes.wmo.int"
# Summary and purpose
The purpose of this ticket is to examine feasibility of adding BUFR 4 Table A to codes.wmo.int for use by

# Action proposed
Add Table A to codes.wmo.int

# Discussions
As part of work in the OGC MetOcean Domain Working Group, we are working on a MetOcean best practice profile of the emerging OGC API - Records standard (for search).  This will enable community-based interoper

[2021-01-27 01:15] tomkralidis commented on #59
Moved to https://github.com/wmo-im/CCT/issues/23#issuecomment-767939415, sorry for the noise.

[2021-01-27 01:15] #59 closed

[2021-01-27 13:15] SibylleK commented on #18
Dear @amilan17, I have checked the new branch. It's OK, I didn't find any differences to the old branch.
The output of the Validation-BUFR is exactly the same. Therefore the Validation of the new descriptors should be still valid.

[2021-01-27 15:13] DavidBerryNOC commented on #16
There is still an outstanding question on the width and scale factor for two of the new parameters. Once we have resolved those I will update the issue branch and look to redo the validation.

[2021-01-27 21:49] sergioh-pessoal commented on #51
Here is a draft proposal for the new DAYCLI message.
We welcome comments, suggestions and corrections.

**1- Add a new entry in the significance qualifier class of  table B ( 0-08-094)  and a new code table to describe  the method used to calculate the daily average  temperature.**

F  X Y          | ELEMENT NAME        | UNIT | SCALE | REFERENCE 	VALUE | DATA 			WITH  (bits)
-- | -- | -- | -- | -

[2021-01-27 23:12] DavidBerryNOC commented on #17
Branch

https://github.com/wmo-im/BUFR4/tree/issue-17-ft

is correct (updated in the 22nd Jan). The other branch (https://github.com/wmo-im/BUFR4/tree/issue-17-FT, updated last November) is not correct and does not include the new sequence.

[2021-01-27 23:16] DavidBerryNOC commented on #17
I'm unable to move to the validated column, this may be a permissions issue.

[2021-01-28 08:18] amilan17 commented on #17
@DavidBerryNOC  - Thanks. I will delete issue-17-FT. Do the codes in issue-17-ft branch need revalidation?

[2021-01-28 10:21] DenisStuber commented on #51
Here a graphic to illustrate the different climatological day definitions according parameters e.g. Luxembourg, France and Brazil
![Climatological Day Definition](https://user-images.githubusercontent.com/47636359/106124035-f036b480-615a-11eb-8d1f-8eb6ce5444f7.png)

[2021-01-28 10:58] DenisStuber commented on #51
summary  of climatological needs :
![BUFR Fields](https://user-images.githubusercontent.com/47636359/106128994-27f42b00-6160-11eb-9a0f-730d7f34bd42.png)

[2021-01-28 11:38] DenisStuber commented on #51
Mail from Rodica Nitu (WMO) the 28 of January 2021 11:59 :

"My apologies for missing to reply to your message. With the holidays and competing priorities, we’ve been unable to reconvene the Snow Watch team which worked on the development of the Snow BUFR Table, which has been published already in the manual on codes. It includes **Total snow depth**, **Snow density** (LIQUID WATER CONTENT), and *

[2021-01-28 13:10] jlawrimo commented on #51
Hi Denis,
What day does the observation in France get reported as? Is the observation
taken at 6AM reported as an observation for Day+1 in your graphic?

Best regards,
Jay

On Thu, Jan 28, 2021 at 5:22 AM DenisStuber <notifications@github.com>
wrote:

--
Jay Lawrimore
Chief, Dataset Section
Climatic Science and Service Division
NOAA's National Centers for Environmental Information (NCEI)
151 Patto

[2021-01-28 14:48] SibylleK commented on #17
I got the same result using the entries of branch issue-17-ft for the decoding of Davids example from last June.

[2021-01-28 15:27] DenisStuber commented on #51
Hi Jay,

As regard the graphic for Météo-France, the Daily MAx Temperature from Day D at 06h (in fact 06:01) to Day D+1 at 06:00 is reported to Day D. This is generally OK as the Max Temperature occurs is often after midday and France is on Greenwich Time zone.
SSe you, Denis.

----- Météo-France -----
STUBER DENIS
DCSC/POC
denis.stuber@meteo.fr
Fixe : +33 561078337

De: "jlawrimo" <notifications@

[2021-01-28 16:34] jlawrimo commented on #51
thanks Denis. I now see I earlier missed the detailed description of the
various observing times for each element.

Best regards,
Jay

On Thu, Jan 28, 2021 at 10:27 AM DenisStuber <notifications@github.com>
wrote:

--
Jay Lawrimore
Chief, Dataset Section
Climatic Science and Service Division
NOAA's National Centers for Environmental Information (NCEI)
151 Patton Ave
Asheville, NC 28801
828-271-475

[2021-01-28 21:20] DavidBerryNOC commented on #17
Thanks Sibylle!

[2021-01-29 14:52] chenxiaoxia2019 commented on #58
@amilan17  [81969b0](https://github.com/wmo-im/BUFR4/commit/81969b0860e76e6dc56ba71e3c9b84749d7014ee) has already been merged in Ft21 1 validation. (Line 329 and 337 in BUFRCREX_CodeFlag_en_33.csv) No changes showing in the Ft21 1 validation. FYI.
#60

[2021-01-29 17:40] DenisStuber commented on #51
Could we agree on the definitions of the Total Snow Depth and on the Depth of Fresh Snow? Herewith the definitions I have found :

**1.	Total Snow Depth**
[](https://unterm.un.org/unterm)
Definition Vertical distance between the top surface of a snow layer and the ground beneath; the layer is assumed to be evenly spread over the ground which it covers.

[](https://www.weather.gov/gsp/snow)
Determi

[2021-01-29 18:12] sergioh-pessoal commented on #51
The above proposal for the new DAYCLI is, in fact, quite complex. But only in the part relating to the specification of the time slot for each parameter inside of loop of 30 days.  This part need more discussion to find the best or more appropriated solution.

On the other hand the quality classification part,  is quite simple in technical terms . It could be added to the original DAYCLI message w

[2021-01-30 10:04] DenisStuber commented on #51
According the meeting on the 28 January 2021, here below the list of fields to take into account (There are no sitting and measurement classifications for snow, only for Temperature and Precipitation) :

[2021-01-30 10:15] DenisStuber commented on #51
Here below a STATION example with all necessary fields to include into a DAYCLI message. The fields are quite simple. I guess that the difficulty is more to translate the information into a BUFR format where real time data is generally used instead of a "historical view".
**CHAMONIX station ID WMO  07469**

POSTE;DATE;RR;QRR;TN;QTN;TX;QTX;TM;QTM;HNEIGEF;QHNEIGEF;NEIGETOT06;QNEIGETOT06
74056001;202

[2021-02-01 10:48] amilan17 commented on #58
odd. but I verified that the changes are there.

[2021-02-02 10:09] DenisStuber commented on #51
Here a note on parameters on a daily basis reported on FM 12 SYNOP : **Max and Min temperature, Precipitation over 24 hours, Snow depth**. Information from Manual on Codes International Codes Volume I.1 Annex II to the WMO Technical Regulations Part A – Alphanumeric Codes WMO-No.306, 2019 Edition.
I suppose we could find the equivalente BUFR template in the Volume I.2 .
[Temperature_Precipitation_

[2021-02-02 12:44] jitsukoh commented on #17
@amilan17 @efucile Do you have the approximate date for table publication for FT2021-1? As Enrico suggested at the meeting last week, if the new tables are published earlier, probably there is no need for using the pre-operational status.  It was unfortunate that the issue fell into the gap during the transition of our team and I feel that we need to make this new sequence usable as soon as possib

[2021-02-05 05:59] jitsukoh commented on #21
@richardweedon (cc @SibylleK @marijanacrepulja ) could you quickly confirm what was the final decision about the note given to the new Common header sequence? It appears:

but this is not appropriate because this sequence is already included in 3 09 024 - 3 09 026. I said on Sep. 28

What would you say?

[2021-02-05 15:08] SibylleK commented on #21
I would suggest to delete Note 12, as it is not needed anymore.

[2021-02-08 04:15] jitsukoh commented on #21
@SibylleK Thank you for your suggestion. I agree! If there is not objection from @richardweedon I will proceed.

[2021-02-08 15:42] richardweedon commented on #21
Sybylle & Jitsuko
I have spoken to Simone and Myles. We are all in agreement that both notes should be withdrawn as suggested. Many thanks for your help in this matter

Richard

[2021-02-09 02:52] jitsukoh commented on #21
@richardweedon thank you for your confirmation.

What about the note for existing sequences 3 09 021, 3 09 022, and 3 09 023?

[2021-02-09 12:50] amilan17 commented on #21
@jitsukoh -- please advise on the way to move forward with the notes for sequences 3 09 021, 3 09 022, and 3 09 023 - if we don't hear from @richardweedon by the end of the day. Thanks!

[2021-02-09 13:10] richardweedon commented on #21
Anna / Jitsuko. I am trying to contact development team to finalise their response. In their absence I will have to say that weare happy to go with the following ,

The replacement of Note 12 with -

‘The common header sequence 3 01 132 cannot be used on its own and must be followed by one of the sequences used for E-Profile data'

In addition an extra note which relates to the deprecation of the

[2021-02-09 13:44] jitsukoh commented on #21
@richardweedon I understood that Note 12 to sequence 3 01 132 should be deleted. Is that correct?

[2021-02-09 13:52] richardweedon commented on #21
To clarify the current Note 12 to 3 01 132 should be deleted and replaced with the entry

‘The common header sequence 3 01 132 cannot be used on its own and must be followed by one of the sequences used for E-Profile data'

[2021-02-09 13:56] jitsukoh commented on #21
I don't believe so... We don't need this note, because this common header sequence can be used by other sequences.

[2021-02-09 14:07] richardweedon commented on #21
Sorry Jitsuko, Myles has just corrected me. Please disregard my comments about note 12 and delete it completely. My apologies for the confusion

[2021-02-09 14:16] jitsukoh commented on #21
Thank you @richardweedon for your confirmation.
I post the reply from @simonebircher for the record.

[2021-02-09 14:23] jitsukoh commented on #21
@amilan17 please go forward with the conclusion above.

For the second one, Note 13 "The sequences 3 09 021, 3 09 022, and 3 09 023 should not be used because they are outdated. The sequence 3 09 024, 3 09 025 and 3 09 026 respectively, should be used instead." will be added to Category 09, associated with 3 09 021, 3 09 022, and 3 09 023.

[2021-02-09 14:39] amilan17 commented on #21
Thank you.

[2021-02-09 14:50] amilan17 commented on #21
I added _Note 20_ to sequences 3 09 021, 3 09 022 and 3 09 023.

@jitsukoh - Please take a look at [BUFR\_TableD\_en\_09.csv](https://github.com/wmo-im/BUFR4/compare/FT21-1-validation#diff-10293517c4fbcdc25c51ebcb9a033a10b37d868d4782db6de1b4c375124136d5)

[https://github.com/wmo-im/BUFR4/compare/FT21-1-validation#diff-10293517c4fbcdc25c51ebcb9a033a10b37d868d4782db6de1b4c375124136d5](https://github

[2021-02-09 23:43] jitsukoh commented on #21
@amilan17 I think the concept is correct.
Sorry I don't fully understand how the notes are handled in Github tables, but how you added Note 20 seems a little different  from e.g. Note 1:
`09,Vertical sounding sequences (conventional data),309030,(Ozone sonde flight data) (see Note 1),,015004,Ozone sounding correction factor (CF),,,Operational`

`09,Vertical sounding sequences (conventional data),3

[2021-02-10 08:52] amilan17 commented on #21
@jitsukoh Unfortunately, all of the notes in GitHub tables are placed inconsistently. Right now, it doesn't break anything, but it's something we'd like to fix in the future. For the moment, we only need to ensure that the content of the note is correct and they are displayed in the amendment doc and the manual correctly.

[2021-02-10 09:07] jitsukoh commented on #21
@amilan17 thank you for the explanation. Then we're good to go! I'll check again in the amendment doc.

[2021-02-11 12:26] amilan17 opened #61 "Validate Machine Readable Codes - v36 Release Candidate"
# Release Candidate
https://github.com/wmo-im/BUFR4/releases/tag/v36RC

# Summary and purpose

To ensure that the v36RC machine-readable codes are valid and ready for testing during the comment period. 

# Action proposed

1.   [x]  Update script to NOT output the "\<No> " tag in the XML (see Issue #23)
1.   [x]  Identify key individuals to test
1.   [x]  Confirm file validation

# Discussions

#

[2021-02-13 12:57] DenisStuber commented on #51
Information given by **Rodica Nitu** and dialogue over the web:

**10/02/2021**
Following consultations with the snow community of GCW, it is recommended to develop the definitions for the two terms on snow for the DAYCLI message based on the approved definitions included in Chapter 2, Vol II, of the Guide WMO No. 8, and which have been added in the WIGOS Metadata Representation https://codes.wmo.

[2021-02-15 11:50] amilan17 commented on #61
removed \<No> tags -- ready to test.

[2021-02-18 09:08] DenisStuber commented on #51
Here the practice at **BMKG (Indonesian Met Service)** given by Urip HARYOKO the 17/02/2021:
**1.	Time slot for the daily Maximum Temperature**

- from Day D-1 at 12.01 UTC to Day D at 12.00 UTC assigned to Day D at 12.00 UTC, or
- from Day D at 12.01 UTC to Day D+1 at 12.00 UTC assigned to Day D+1 at 12.00 UTC

**2.	Time slot for the daily Minimum Temperature**

- from Day D-1 at 00.01 UTC to Day

[2021-02-18 10:35] sebbari commented on #51
Dear Denis and Sergioh,

I would like to thank you for this inspiring discussion.
My comments on :
![image](https://user-images.githubusercontent.com/12167054/108338353-741e1280-71d6-11eb-994f-f3bf8759888d.png)

is that we should not Forget that site classification including for station for instrument and so on
shall be found in OSCAR and we have in each coutry a focal point for this matter.

Incl

[2021-02-18 10:54] DenisStuber commented on #51
Hi Rachid,

Hope to talk on this subject in few hours in our meeting. Herewith for information for WMO-IM the presentation, introduction for our today talk, on the DAYCLI message.
All the best, Denis.

----- Météo-France -----
STUBER DENIS
DCSC/POC
denis.stuber@meteo.fr
Fixe : +33 561078337

De: "Rachid SEBBARI" <notifications@github.com>
À: "wmo-im" <BUFR4@noreply.github.com>
Cc: "Denis Stuber" <

[2021-02-18 11:30] DenisStuber commented on #51
Here the practice at LNMC (Libyan National Meteorological Centre) given by Ali Eddenjal the 18/02/2021:

1.      Daily Maximum Temperature: From day D-1 @ 1801 UTC to day D @ 1800 UTC assigned to day D.
2.      Daily Minimum Temperature: From day D-1 @ 1800 UTC to day D @ 1800 UTC, assigned to day D.
Note: Both daily extremes are measured using Maximum and Minimum temperature thermometers (in °C).

[2021-02-18 13:14] jaggh commented on #51
Hi, to know the time interval of daily extremes or accumulations is very relevant to explain inconsistencies when applying quality and homogeneity analysis by comparing different stations in an area.

In Spain, we use a 0-24 time slot for principal and automatic stations, but calculate also the 07-07 to be able to compare the data with secondary stations that only report precipitations and tempera

[2021-02-18 13:25] jlawrimo commented on #51
Denis,
In general I like those definitions, but with some caveats. Regarding the
use of Total snow depth - although 'total' may be superfluous it is very
helpful to emphasize (particularly for observers including volunteer
observers) that it is the total amount of snow on the ground, not just the
snow depth of the snow over the past day. The last sentence of Total Snow
Depth could be modified to r

[2021-02-24 16:39] amilan17 commented on #61
@SimonElliottEUM @erget tested and found no problems.

[2021-02-24 17:01] amilan17 opened #62 "remove status column"
**Deprecated**

*   BUFR\_TableD\_en.txt: 27 
*   BUFRCREX\_CodeFlag\_en.txt: 5

**Experimental**

[2021-02-24 17:03] amilan17 commented on #62
**BUFRCREX\_CodeFlag\_en**

<table><tbody><tr><td><strong>FXY</strong></td><td><strong>ElementName_en</strong></td><td><strong>CodeFigure</strong></td><td><strong>EntryName_en</strong></td><td><strong>Note_en</strong></td><td><strong>Status</strong></td></tr><tr><td>025009</td><td>Calibration method</td><td>1</td><td>None</td><td>&nbsp;</td><td>Deprecated</td></tr><tr><td>025009</td><td>Calibratio

[2021-02-24 17:08] amilan17 commented on #62
**BUFR\_TableD\_en**

<table><tbody><tr><td><strong>Category</strong></td><td><strong>CategoryOfSequences_en</strong></td><td><strong>FXY1</strong></td><td><strong>Title_en</strong></td><td><strong>FXY2</strong></td><td><strong>ElementName_en</strong></td><td><strong>ElementDescription_en</strong></td><td><strong>Note_en</strong></td><td><strong>Status</strong></td></tr><tr><td>04</td><td>Meteorol

[2021-03-11 21:03] marijanacrepulja commented on #51
I was wondering of using subsets for each day, instead of looping with delayed replication over days in the month.
When comes to use of associated filed significance for time slot, I was thinking of using day, followed by time period in days.
I have created and attached a sample BUFR message containing above approach. @sergioh-pessoal  @DenisStuber please let me know your thoughts. Alternatively w

[2021-03-12 23:45] sergioh-pessoal commented on #51
@DenisStuber, @marijanacrepulja

Marijana,
This template we are working on is something new in many ways and that is why we need to take an approach to represent this type of data. I think there are 2 possible general approaches.
1) Loop using delayed replication over days
2) Different subsets for each day. In this case, the Station ID, Year, Month will be the same for each subset and day,  from 1

[2021-03-15 00:43] sergioh-pessoal commented on #51
@marijanacrepulja

I’ve prepared a  very simple version  of DAYCLI BUFR for testing using subsets for each day and the data from Chadonix station.
In this example, the quality flag  for each climatological value,  Siting classification and  the measurement quality Classification have not been  included yet to keep this example simple and help to  think in issue of time slot

The idea in this one w

[2021-03-15 09:04] marijanacrepulja commented on #51
@sergioh-pessoal

Thanks for DAYCLI BUFR files for testing. Meeting at 12UTC today works for me.

Marijana

[2021-03-15 11:38] sergioh-pessoal commented on #51
Hi @marijanacrepulja and @DenisStuber
I am trying to open a conference call for us at 12 UTC but I am having some problems. Could you open it for me?

[2021-03-15 11:49] jitsukoh commented on #51
@sergioh-pessoal Anna has just sent an invitation to you three. Please use it.

[2021-03-15 11:53] sergioh-pessoal commented on #51
@marijanacrepulja and @DenisStuber

[2021-03-15 17:06] DenisStuber commented on #51
Dear Anna,

Thanks for the link on " [ https://github.com/wmo-im/wmo-im.github.io/wiki/Repository-Workflow-Guidance | Repository Workflow Guidance ] ".

Here is the link for the GitHub of the Expert Team on Data Requirements for Climate Service (ET-DRC) : [ https://github.com/ET-DRC | https://github.com/ET-DRC ]

You will find also at this address an attempt to put in place such workflow : [ https

[2021-03-16 11:18] DenisStuber commented on #51
Dear all,

Please find a summary on DAYCLI current discussions. Better look the slides from 9 to 13. This document could be seen as a mutual document between TT-TDCF and ET-DRC and be reviewed by the 2 teams. It could also become a material to help us when we need to present the DAYCLI message to others...

See you in a couple of hour, Denis.

----- Météo-France -----
STUBER DENIS
DCSC/POC
***@***

[2021-03-16 11:56] marijanacrepulja commented on #51
[dayclim.bufr.gz](https://github.com/wmo-im/BUFR4/files/6148659/dayclim.bufr.gz)
 BUFR template structure as discussed at the meeting yesterday.  The message is encoded using subsets for each day, instead of looping with delayed replication over days in the month.  As for time slots, hour followed by time period in hours is used.

[2021-03-16 12:26] marijanacrepulja commented on #51
file:///home/ma/mamc/dayclim.bufr.gz

[2021-03-16 13:17] sergioh-pessoal commented on #51
Here is the very simple version of DAYCLI BUFR for testing using subsets for each day and the data from Chadonix station (that is in Github).

In this example, the quality flag for each climatological value, Siting classification and the measurement quality Classification have not been included yet to keep this example simple and help to think in issue of time slot
The idea in this one was to use

[2021-03-16 14:53] amilan17 commented on #51
BUFR file from @marijanacrepulja
[dayclim.bufr.zip](https://github.com/wmo-im/BUFR4/files/6149905/dayclim.bufr.zip)

[2021-03-17 10:55] marijanacrepulja commented on #51
@amilan17 BUFR file looks good now, thanks!

[2021-03-22 07:02] jitsukoh commented on #51
Just a reminder for tomorrow's discussion, existing table B descriptors are Depth of fresh snow (0 13 012) and Total snow depth (0 13 013). BUFR tables were developed before the WIGOS Metadata and the vocabulary is not consistent between the two. We sometimes change the element name of existing table B descriptors but I am not sure if we should do this for these descriptors, as they have been used

[2021-03-22 19:59] amilan17 commented on #4
@marijanacrepulja 

We are preparing the manual for publication and noticed an inconsistency with other codes in Table D16. Can you confirm that this edit doesn't change the original meaning of 2 01 000? 

<table><tbody><tr><td><strong>Table Ref</strong></td><td><strong>Element Name</strong></td><td><strong>Element Description</strong></td></tr><tr><td>2 01 000</td><td>Change data width <s>(Cancel

[2021-03-23 07:18] jitsukoh commented on #51
@DenisStuber @sergioh-pessoal @marijanacrepulja
Here is an updated proposal for the new DAYCLI message for today's discussion.

**1. Add a new entry in the significance qualifier class of  table B ( 0-08-094)  and a new code table to describe  the method used to calculate the daily average  temperature.**

F  X Y          | ELEMENT NAME        | UNIT | SCALE | REFERENCE 	VALUE | DATA 			WITH  (bit

[2021-03-23 11:46] marijanacrepulja commented on #4
@amilan17
I can confirm that this edit doesn't change the original meaning of 2 01 000. Thanks, Marijana

[2021-03-23 13:10] amilan17 commented on #10
@erget We are preparing the manual for publication and need some clarification. What does "on as a rule" mean? 

<table><tbody><tr><td>9</td><td>Flag preceding the first 24 hours/day mark (on as a rule)&nbsp;</td></tr></tbody></table>

Some suggestions:

1.  as a rule
2.  set to on as a rule
3.  on is default flag
4.  ...?

[2021-03-23 13:54] jitsukoh commented on #51
@amilan17 can you tell me what to use as YYY for this new sequence (3-07-YYY)?

[2021-03-24 08:33] erget commented on #10
@amilan17 (2) is right.

[2021-03-24 10:35] jitsukoh commented on #51
Thank you @amilan17 it seems 3 07 075 is the best fit. I take it for now and if there is anything that we need to consider we'll see again.

[2021-03-29 12:01] marijanacrepulja opened #63 "BUFRCREX Table B 15: Proposal for new BUFR descriptor extended integrated mass density"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue63
# Summary and purpose

ECMWF is proposing a new BUFR descriptor for encoding integrated mass density data for SO2,  NO2  and HCHO.

# Stakeholders

Marijana Crepulja, Roberto Ribas, Antje Inness (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manua

[2021-03-29 12:27] marijanacrepulja opened #64 "CodeFlag 08: New code for Volcanic sulphur dioxide"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue64
# Summary and purpose

ECMWF is proposing a new value in Code/Flag table 0-08-043 Atmospheric chemical or physical constituent type to enable encoding VOLCANIC SULPHUR DIOXIDE.

# Stakeholders

Marijana Crepulja, Roberto Ribas, Antje Inness (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inc

[2021-03-30 19:04] marijanacrepulja opened #65 "Table B 02 and new BUFR sequence for representation of ground based lidar observations"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue65
# Summary and purpose

ECMWF is proposing a new BUFR template for representation of ground based lidar observations.

# Authors

Marijana Crepulja, Julie Letertre-Danczak, Angela Benedetti, Roberto Ribas (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the

[2021-04-01 10:33] marijanacrepulja opened #66 "CodeFlag 01 and Table B 01: New BUFR descriptor and code table for Retrieval identifier"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue66
# Summary and purpose

ECMWF is proposing new BUFR descriptor for Retrieval identifier and related code table.

# Authors

Marijana Crepulja (ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for assimilation

[2021-04-01 14:57] SibylleK commented on #61
I have checked the XML-files They are OK, except of one or more space characters at the end of some entries. But these spaces could also be found in the csv-files.
A space at the end of the header of BUFRCREX_CodeFlag_en_01.csv leads to a "<Status->"-tag in BUFRCREX_CodeFlag_en.xml, as a space in the header is replaces by "-" in csv2xml.py.
To avoid unneeded spaces in the converted XML-files csv2x

[2021-04-08 00:19] sergioh-pessoal commented on #51
@jitsukoh and @marijanacrepulja
Here is a sample of the Chardonix station data encoded with the latest template and using the proposed descriptor 3-07-075. Note that this is only a preliminary sample. The quality control part needs more work.
[Chamonix_202012_307075.bufr.gz](https://github.com/wmo-im/BUFR4/files/6275153/Chamonix_202012_307075.bufr.gz)

[2021-04-14 13:29] amilan17 commented on #61
validated (extra space >> - is removed)

[2021-04-15 16:27] DavidBerryNOC commented on #16
Comments received via email on scale, width and offset of new parameters.

Descriptor | Name | Units | Scale | Reference | Width | Notes | Min | Max | Precision | Giorgio Dall'Olmo | Argo | IOOS/Quartod | World Ocean database
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
0-41-006 | Mass concentration of chlorophyll A in sea water | kg m-3 | 9 | 0 | 21 |   | 0 | 0.00209715 | 1

[2021-04-19 14:33] jitsukoh commented on #51
@sergioh-pessoal @marijanacrepulja
I updated the proposal for the new DAYCLI message, including the QC result using an associated field of 4-bet indicator. Please let me know how you feel.

**1. Add a new entry in the significance qualifier class of  table B (0-08-094)  and a new code table to describe  the method used to calculate the daily average  temperature.**

F  X Y          | ELEMENT NAME

[2021-04-19 14:39] jitsukoh commented on #51
ET-DRC and TT-TDCF agreed on the validation process with the schedule below:
- Sample data offered by Sergio
- From 20 of April 2021  : syntax test : validation by TT-TDCF (internal test)
- 15 of May 2021 : ET-DRC provides to TT-TDCF validation on codes table
- 18 of May 2021 : code sequence validation completed
- 18 of May 2021 : sample data with real data
- mid-May 2021 / mid-June 2021  : Semant

[2021-04-20 14:26] jbathegit commented on #55
Per @DavidBerryNOC's helpful suggestion during today's TT-TDCF telecon, I agree that we can use entries in Common Code Table C-6 (from the "Abbreviation in IA5/ASCII" column) to resolve this for anything involving units.  For example, as noted in entry 301 of Common Code Table C-6, we can simply replace "‰" with "0/00" everywhere it occurs in any units field (e.g. for 0-15-028) or in any meaning d

[2021-04-21 10:10] marijanacrepulja commented on #63
Comment related to our discussion re data width limit of 31 bits.
To be able to encode negative values we need to set reference value to -10000000000 as proposed. If we set width to 31 bits we would not be able to encode positive data values, therefore width of 35 bits is needed,

[2021-04-21 10:37] marijanacrepulja commented on #51
@jitsukoh
 The QC result using an associated field of 4-bit indicator looks good to me.

[2021-04-21 12:36] amilan17 commented on #65
@sergioh-pessoal @richardweedon help validate

[2021-04-21 12:37] DavidBerryNOC commented on #63
If I've understood correctly the total mass of the atmosphere is ~ 10,000 kg/m2. Is the scale factor correct?

[2021-04-21 13:02] amilan17 commented on #55
next steps: identify all non-CCITT-IA5 characters in Table B (and possibly Table D) CSVs and replace

[2021-04-21 13:08] amilan17 commented on #56
@efucile -- do you see any impact on removing note 3 from the manual?

[2021-04-21 13:10] amilan17 commented on #56
No one is aware of this breaking anything....

[2021-04-21 13:16] efucile commented on #56
I don't think it is breaking anything, but I also think that these exchange forms were replaced by the machine-readable tables in XML and CSV. Not sure if it is worth deleting the note. I would suggest deleting all chapter 3!

[2021-04-22 10:47] amilan17 commented on #51
per meeting discussion: in validation once the data width for 0-08-094 (Method used to calculate the average daily temperature) and representation of sitting classifications (code table solution) will be finalized, sample will be provided and validated by IBL and Met Office

[2021-04-22 10:50] amilan17 commented on #65
per discussion at meeting: spelling of wavelength will be corrected, reviewed by EUMETNET, in validation, branch will be created, sample will be provided and validated by Met Office

[2021-04-22 10:50] amilan17 commented on #66
per meeting discussion: Abbreviation will be spelled out, data width will be changed, in validation, branch will be created

[2021-04-22 13:54] SimonElliottEUM commented on #63
I would be interested to know the source variables from which this parameter is to be derived. I am struggling with the idea  of an instrument capable of leading to a measurement with an accuracy of 1 part in 1000000000. If the incoming data from S5p are in netCDF / HDF, then the variable would be type NC_DOUBLE.

[2021-04-22 22:58] jitsukoh commented on #51
@DenisStuber TT-TDCF discussed the proposal at yesterday's meeting and has two suggestions.

1. 0-08-094 Method used to calculate the average daily temperature
Now this code table has 32 figures (5 bits) but we think it is better to have more space, probably 8 bits to ensure the table is not filled.

2. Sitting classification
This is rather a question about the nature of classification. According

[2021-04-23 12:34] SimonElliottEUM commented on #55
I have some general observations:

- ASCII is a CCITT/IA5 compliant character set: it includes $#@[\]^´{|}~ and I assume we will use ASCII
- Class 0 does not foresee exchange of "notes", footnotes, Table C entries or Table D entries, so these can be excluded from the analysis
- Superscripts and subscripts need to be handled both in names and units. It should be done in a consistent was. For exampl

[2021-04-23 12:39] SimonElliottEUM commented on #55
Here are the entries we need to address in the common code tables:
C-1 / C-11: 25, 46, 74, 82, and 167
C-2: 73/173
C-5: 530 (there is a tab in the XML file)
C-12: 46/10, 46/11, 46/12 ... 46/25, 147/10, 74/29, 74/30, 74/35, 74/36, 78/221, 78/226, 78/228, 78/236, 85/201, 85/202, and 254/170
C-14: 13, 14, 10000, 10001, 10026, 10030, 10036, 10037, 10039, 10044, 10045, 10048, 10050, 10051, 10053, 10056

[2021-04-23 12:43] SimonElliottEUM commented on #55
Table A seems fine. In Table B we need to address 0-15-028 and 0-15-054

[2021-04-23 13:31] SimonElliottEUM commented on #55
In the code and flag tables the following need attention:
0-01-036: 250001, 250002, 540001, and 724001
0-01-101: 112 and 418
0-02-033: 1 and 2
0-08-037: 0
0-19-109: 0, 1, 2, ..., 8, and 9
0-20-003: 230
0-20-063: 35, 36, 37, 38, 61, 62, 63, 64, 65, 66, 67, and 87
0-20-089: 2 to 88 (there is an ellipsis)
0-20-136: 14, 15, 16, 17, 18, 19, and 23
0-21-069: 1, 2, 3, 4, 5, 6, 7, and 8
0-33-071: 2 (invis

[2021-04-23 13:33] SimonElliottEUM commented on #55
@DavidBerryNOC @SibylleK @richardweedon @jbathegit @amilan17
I hope above comments are giving us a starting point. I would be happy to go through the items in a dedicated meeting at some point - it might be a good idea

[2021-04-23 13:38] SimonElliottEUM opened #68 "Ambiguity in code table entries for 0-20-063"
# Branch

[https://github.com/wmo-im/BUFR4/tree/issue68](https://github.com/wmo-im/BUFR4/tree/issue68)

# Proposal

Change definitions of entries 36 and 38 in code table 0-20-063.

36 - Convergence of CH clouds at a point above 45° forming or increasing and associated with a tropical disturbance
38 - Convergence of CH clouds at a point above 45° dissolving or diminishing and associated with a trop

[2021-04-23 14:32] #17 closed

[2021-04-23 14:32] #18 closed

[2021-04-23 14:32] #21 closed

[2021-04-23 14:32] #58 closed

[2021-04-23 14:32] #61 closed

[2021-04-26 22:16] jbathegit commented on #55
A dedicated meeting may indeed be a good idea, if nothing else to make sure we're all on the same page and we can also then divide up the work tasks among ourselves.

In the example case of 0-01-013, it and many other descriptors with similar units (e.g. see Class 11) currently use "m/s".  We could continue that sort of notation for all descriptors, by always using a forward slash to delineate bet

[2021-04-27 06:47] SimonElliottEUM commented on #55
@jbathegit Thanks for the input - a quick first response concerning 0-01-013: in my code table (PDF from WMO) it is shown with units of "m s" with a "-1" superscript immediately after the s. There is no "/". It is the superscript which cannot be reflected in ASCII, giving "m s-1". I expect the space between "m" and "s" is to disambiguate the cases of meters per second and milliseconds.

We also ha

[2021-04-27 14:00] jbathegit commented on #55
@SimonElliottEUM I hadn't looked at the PDF (in fact, I don't even know what URL the PDF lives at anymore? ;-); rather, I was looking at the csv files, because those are the basis for the machine-readable codes, and which in turn is what I thought we were supposed to be focusing on here.  The csv files are in GitHub at https://github.com/wmo-im/BUFR4, and the XML machine-readable files are in http

[2021-04-27 14:17] SimonElliottEUM commented on #55
@jbathegit  I had understood that the PDF version is The Version of the Manual on Codes, and that in the event of any divergence, that the PDF version takes precedence (from the website showing the Latest Version of the Machine Readable Codes for Manual on Codes, Volume I.2, note 4: "_If there are inconsistencies between the same entries available below and the Manual on Codes, Volume I.2 (WMO-No.

[2021-04-27 14:45] jbathegit commented on #55
@SimonElliottEUM the PDF version is indeed the official arbiter for any questions about the BUFR (or GRIB) regulations, or for cases where there is any disagreement on the attributes of a table entry that is listed in both locations (i.e. in both the PDF and the machine-readable files).

**However**, and that said, the tables in the PDF aren't updated every time we have a fast-track version update

[2021-04-28 04:28] OkparaOkechukwu commented on #51
Though I am working at the Nigerian Meteorological Agency (NIMET) PortHarcourt Airport Station, I would really like to work on a project like this for Nigeria, if given the opportunity.

[2021-04-28 06:51] efucile commented on #51
@OkparaOkechukwu can I ask you to send an email to wis@wmo.int so that we can see if we can arrange for you to participate?

[2021-04-28 07:32] SimonElliottEUM commented on #55
@jbathegit we are in agreement here. And I think we also agree that notes and footnotes (plus entire Table C and Table D) are out of scope.

[2021-04-28 07:54] efucile commented on #55
@wmo-im/tt-tdcf there is work on units being done by @wmo-im/tt-wigosmd that may be relevant for this issue.
@amilan17 can you please add here the link to the issue on units that is being discussed by TT-WIGOSMD?

[2021-04-28 08:14] SimonElliottEUM commented on #55
@amilan17 @efucile @jbathegit our work here is not just the units but also the names. In terms of using CCITT-IA5 for class 0, we need to handle names and units in the same way (see 0-00-013 and 0-00-014)

[2021-04-28 09:08] DavidBerryNOC commented on #55
I'm just catching up with the conversation between calls. I haven't been able to spot 2 additional issues in addition to the above flagged by Simon using e.g.

`pcregrep --color='auto' -n "[^[:ascii:]]" TableB_en.txt`

on the different tables.

C-1 / C-11: 155 San José
C-14: 60021 (60012 in Simons post)

I think using ** is clearer to note powers with fractions in brackets. pCO2 is fine I think an

[2021-04-29 13:41] OkparaOkechukwu commented on #51
What sort of email do you want me to send?

On Wed, Apr 28, 2021, 07:51 Enrico Fucile ***@***.***> wrote:

[2021-04-29 18:46] sergioh-pessoal commented on #51
I Agree with the 2 items

1) 0-08-094 Method used to calculate the average daily temperature. -> Changing from 5 bits to 8 bits.

2) 0-08-095 and 0-08-096 → Changing the form of representation From an element with 2 characters to a code table (8bits)

However, concerning item 2, and taking into account Richard's comments in the meeting, I think that, in this case, it is also important that the cod

[2021-04-29 18:49] sergioh-pessoal commented on #51
@DenisStuber, @jitsukoh, @richardweedon

I Agree with the 2 items

    0-08-094 Method used to calculate the average daily temperature. -> Changing from 5 bits to 8 bits.

    0-08-095 and 0-08-096 → Changing the form of representation From an element with 2 characters to a code table (8bits)

However, concerning item 2, and taking into account Richard's comments in the meeting, I think that, in t

[2021-04-29 20:26] jbathegit commented on #63
Another potential issue, at least if we're still concerned about being able to represent Table B elements using Class 0:

A reference value of -10000000000 cannot be represented using descriptors 0-00-018 and 0-00-019.  The sign can be stored using 0-00-018, but the magnitude of this reference value cannot be stored in 0-00-019, which only has 80 bits and therefore room for only 10 characters.

[2021-04-30 13:53] amilan17 commented on #28
@jitsukoh @efucile  -- is this issue still relevant? should we close it?

[2021-04-30 13:57] amilan17 commented on #16
@DavidBerryNOC - branch is rebased and ready for further editing as needed.

[2021-04-30 14:50] jitsukoh commented on #51
@sergioh-pessoal thank you for your feedback. I think @DavidBerryNOC 's comment was not exactly to avoid any reference to other resources...  In this case, the definition depends on elements and is complex, so it might not be a good idea to extract only part of the definition... One idea would be to use the definition of [the code registry](http://codes.wmo.int/wmdr/Exposure) but anyway we need to

[2021-04-30 15:49] DavidBerryNOC commented on #51
@jitsukoh @sergioh-pessoal there were two issues in my comments.

1. It would be good to have everything contained in the manual on codes required to understand the values so that the user doesn't have to look up meaning in a second document.
2. Where a second document is linked we need clear versioning for that second document, including archival. For example the values listed in WMO-8 may change

[2021-05-03 01:51] OkparaOkechukwu commented on #51
Please which software did you use in encoding the data?

[2021-05-03 13:19] sergioh-pessoal commented on #51
@OkparaOkechukwu,  @jitsukoh, @marijanacrepulja

The library used to encode the message was the library of MBUFRTOOLS of INPE-BRAZIL. A simple FORTRAN program was written to read the Chardonix text file (provided by David)  and encode it in  the BUFR format using the MBUFRTOOLS library.

The BUFR tables of the program had to be modified. A new table ( version 36)  was provisionally created and  th

[2021-05-04 05:14] OkparaOkechukwu commented on #51
@sergioh-pessoal thanks for the clarification. Good practice:
Whenever a BUFR file or message (or sample) is provided or mentioned (for the first time), it's good to also mention the software (if possible, including the software version) used in encoding/decoding it. This can go along way to help the BUFR "technical" community.

[2021-05-04 21:39] marianmajan-ibl commented on #51
@jitsukoh and @sergioh-pessoal,

Where is the latest version of the sequence D available, please? I imported the table from Jitsuko's comment from 19 April, however it distinguishes from Sergio's decoded data. In Sergio's data there is the date sequence 3 01 011 right after the WIGOS and WMO ID sequence. In Jitsuko's table there is the Year/Month/Day sequence (incorrectly marked with the sequence

[2021-05-04 22:17] marianmajan-ibl commented on #51
@jitsukoh and @sergioh-pessoal,

there was one additional discrepancy between the table above and the example – in the table the operator 2 04 004 was used while in the example the associated field width was 7 bit. With all the table D changes included, I was able to decode the sample bulletin. The values decoded by our software seems to be the same as in the dump provided by @sergioh-pessoal. The

[2021-05-05 07:54] jitsukoh commented on #51
@DavidBerryNOC thank you for the clarification. It seems that the definitions are too complex to include all of them in the table (although it would be more convenient for users) so let us take the second option...
@marianmajan-ibl my apologies, I have not had time to update the proposal above; here it is my understanding.
Let me check with @sergioh-pessoal for discrepancies that you pointed out:

[2021-05-06 22:05] jbathegit commented on #55
Hi @amilan17, would it be possible for you to create an `issue55` branch off of master for this, so we can start going in and making the necessary edits to the csv files?  My hope is that we can get this done and included in the upcoming FT-2021-2.

For the rest of you on this thread, if any of you are willing to help make these edits, please let me know and we can divvy up the work.  As noted ear

[2021-05-07 05:36] amilan17 commented on #55
@jbathegit

https://github.com/wmo-im/BUFR4/tree/issue55

[2021-05-07 12:50] SimonElliottEUM commented on #55
@jbathegit  - I would support a short meeting just to share out the work and agree the preferred approach for the most prevalent issues (basically subscripts and superscripts)

[2021-05-07 13:57] jbathegit commented on #55
Thanks @amilan17 for creating an issue branch for us to work with!

[2021-05-11 22:09] DavidBerryNOC commented on #16
# Revision of proposal as part of validation

### Table B entries
- Further revision of scale, width and reference of proposed descriptors based on more comprehensive set of example files and feedback from community.
- Deletion of one of the proposed entries (CDOM)
- Update of descriptors

### Table D entries
1. Separation of elements into more optional sections using delayed replication. this giv

[2021-05-13 06:32] castelao commented on #16
@DavidBerryNOC , moving the discussions from email to here. In summary:

1. I believe that there are some typos on the X value of the last replicators:

  - 1-14-000 -> 1-11-000 (PAR)
  - 1-15-000 -> 1-08-000 (PAR)
  - 1-18-000 -> 1-11-000 (Turbidity)
  - 1-15-000 -> 1-08-000 (Turbidity)
  - 1-15-000 (pH, is correct)
  - 1-15-000 -> 1-12-000 (pH)

2. I believe that we need two bytes for the replic

[2021-05-13 13:39] jitsukoh commented on #51
@sergioh-pessoal following up the ET-DRC meeting, I'd be grateful if you could provide a new sample data.

1. It seems 4 bits is enough for the quality information (code figure 5 of the Associated field significance (0 31 021)).
2. Could you check the metadata part in the sample ([as pointed out by Marian](https://github.com/wmo-im/BUFR4/issues/51#issuecomment-832265782))? I think the table in my

[2021-05-16 22:38] sergioh-pessoal commented on #51
Dear @jitsukoh and @marianmajan-ibl

I checked the table posted on May 5th and it is correct. Then I checked the inconsistencies between the table and the sample posted on May 3rd. In fact, there were some inconsistencies. I'm sorry for this. I corrected the inconsistencies in the generation of the samples, and now I think it is correct. Attached is the sample (bufr and txt), based on the table po

[2021-05-17 15:25] jbathegit commented on #55
A discussion meeting took place today between @jbathegit, @SimonElliottEUM, @SibylleK, @DavidBerryNOC and @lemkhenter.  Going forward, we agreed to update all units in the CSV files to be consistent with what is currently listed in the "Abbreviation in
IA5/ASCII" column of Common Code Table C-6, even if those entries themselves aren't always internally consistent with each other.   We then divided

[2021-05-17 16:54] SibylleK commented on #68
The entries 31-39 of code table 0-20-063 have their origin in code table 0522 - Cc "Coloration and/or convergence of clouds associated with a tropical disturbance" of Volume I.1.
Therefore in entry 36 "forming or increasing" and in entry 38 "dissolving or diminishing" is missing.
It should be
36 - Convergence of CH clouds at a point above 45° forming or increasing and associated with a tropical di

[2021-05-17 17:57] SibylleK opened #73 "Missing entries in BUFRCREX CodeFlag"
If the unit of a table B entry is "Common Code table C-..", the entry in Code tables and Flag table contains the name and a reference like "(See common Code table C-1 in Part C/c.)".  (Unfortunately the reference only exist in the PDF-documents.)

But, the entries for 001035 - "Originating/generating centre" (Common code table C-11) and 008046 - "Atmospheric chemical or physical constituent type"

[2021-05-18 12:13] marijanacrepulja commented on #63
Thank you for all comments, we re considered our proposal and  took you comments on board. The proposal is updated as below.

0-15-022 | Extended Integrated mass density | kg m-2 | 1 | -100000000 | 31
-- | -- | -- | -- | -- | --

[2021-05-18 12:16] joergklausen commented on #55
Please consult https://github.com/wmo-im/wmds/issues/159 where this is also addressed. I believe, the 'notations' used there all comply with IA5/ASCII.

[2021-05-18 13:22] marijanacrepulja commented on #65
There was a meeting between EUMETNET, Met Office and ECMWF. We agreed to update the sequence to be align with single wavelength Lidar BUFR sequence.

[2021-05-18 13:48] amilan17 commented on #73
@SibylleK -- looks like some manual and repository cleanup is needed, but I don't fully understand. Can you add some examples or references to pages in this issue?

[2021-05-18 14:08] lemkhenter commented on #55
For the names of the places (countries, cities and others) I agree with @sebvi, a column with the local writing with accents and an uppercase column without accents (or we use the English names relating to these places instead of local names in the same way we don't write Tokyo in Japanese or Casablanca in Arabic).

[2021-05-18 15:36] amilan17 opened #74 "Normalize BUFR4 notes"
# Branch

[https://github.com/wmo-im/BUFR4/tree/notes](https://github.com/wmo-im/BUFR4/tree/notes)

https://github.com/wmo-im/BUFR4/compare/5e5caadb7ba8e2d98306dc0b527633694483e0d5...notes

# Purpose

To normalize all notes in published PDF and in GitHub repositories.

[2021-05-18 15:40] amilan17 commented on #74
*   migrate all existing notes in tables to a notes.csv file
*   Determine how to normalize notes denoted by a stars and numbers
*   add noteID column to CSVs

[2021-05-18 17:46] DavidBerryNOC commented on #55
I've just been looking at what it is we're trying to achieve and there appears to be two issues. One is the representation of the character data in CSV files and only using printable CCITT-IA5 characters to enable the automatic parsing and searching of the strings. The other is how we represent that character data in BUFR and exchange the tables themselves in BUFR. We could use the guidelines / ru

[2021-05-18 18:26] jbathegit commented on #55
Good question @DavidBerryNOC!  I think that longer meanings (longer than 62 bytes) could be dealt with by using the 2-08-YYY operator from Table C in front of 0-00-025 (or 0-00-027).  That would allow the encoding of any meaning string up to 255 bytes long within a BUFR message where/when needed.

The bigger issue in my mind is still the UTF-8 characters within many of these strings.  We definitel

[2021-05-18 18:56] DavidBerryNOC commented on #55
Thanks @jbathegit, I realised this just after posting and so deleted the message almost straight away (but not quick enough :-)). For others reading this I noted the width limit for 00-00-025 forgetting about the operators and queried whether it was an issue (there are only a couple with > 255 characters).

[2021-05-18 19:07] DavidBerryNOC commented on #55
I guess the question here is whether we need CCITT IA5 equivalents or do we need equivalents that use only single byte printable characters? I think what we want is the latter (single byte printable character) as diacritics can be used in CCITT IA5 based on the text in the Manual on GTS (WMO 386) and extract from the CCITT blue book (https://www.itu.int/rec/dologin_pub.asp?lang=e&id=T-REC-T.50-198

[2021-05-19 00:36] sergioh-pessoal commented on #51
According to the meet of ET-DRC last week, I believe that item 2 of propose could be update like this.

**2. Quality flag for each climatological value (Temperatures, Precipitation and Snow).**
Add a new entry (5) of 4-bit indicator of quality control in the Associated field significance (0 31 021) (code table is tentative)

	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Li

[2021-05-19 03:02] jitsukoh commented on #64
@marijanacrepulja @amilan17 I confirm that proposal is finalized and branch is updated, and move this issue to "Validated" status.

[2021-05-19 03:05] jitsukoh commented on #63
@marijanacrepulja @amilan17 I confirm that this proposal is finalized and the branch is updated, and move this issue to "Validated" status.

[2021-05-19 03:18] jitsukoh commented on #66
@marijanacrepulja @amilan17 I confirm that this proposal is finalized and the branch is updated, and move this issue to "Validated" status.

[2021-05-19 07:49] yg31 commented on #55
I'm not sure that replacing a standard multi-byte representation like utf-8 with another non standard multi-byte representation would be much better.
Accented letters for french text are a recurrent problem with computer systems, unless we use standards like utf-8 or html entities.
Omitting accents can be an alternative (not ideal, but this is a common practice when writing in capital letters LA R

[2021-05-19 10:56] SimonElliottEUM commented on #55
I have made the necessary changes directly in the branch to the following code and flag tables:
0-20-003
0-20-063
0-20-089
0-20-136
0-21-069
0-33-071
0-40-055
@SibylleK I stole 0-20-003 from you by mistake when I was doing class 20. Es tut mir Leid.

[2021-05-19 12:30] amilan17 commented on #56
decision: remove this entire section.

[2021-05-19 15:46] jbathegit commented on #55
I've made the necessary updates to C-5 (in the CCT issue branch) and to Table B Class 15 for 0-15-028 and 0-15-054 (in the BUFR4 issue branch).

@SimonElliottEUM you had mentioned earlier that entry 73/173 in C-2 also needed attention, but I don't see anything there that looks like it needs to be fixed, unless I missed something(?)  At least in looking at the C-2 csv file, everything looks fine to

[2021-05-19 16:18] jbathegit commented on #55
@amilan17 would you like me to just go ahead and manually add a new column to each of the C-1, C-11 and C-12 csv files, and maybe just give it a name with a _ia5 extension?  For example, in C-11 we currently have `OriginatingGeneratingCentre_en` as the name of the column containing the diacritic characters, so maybe we could call the corresponding new column which has all of these characters repla

[2021-05-19 23:35] jitsukoh commented on #56
@amilan17 this will be reflected in the next PDF publication. I move this to "validated" status.

[2021-05-20 02:02] jitsukoh commented on #51
@sergioh-pessoal below is the summary of yesterday's discussion:
- The team proposes 8 bits for the quality information.
- To make the compression efficient, the most frequent figure (in this case, I believe "Data checked and declared correct") should be the smallest figure (=0). So the order should be changed.

@amilan17 we are still waiting for confirmation from ET-DRC but need to start working

[2021-05-20 05:50] SimonElliottEUM commented on #55
@jbathegit I no longer see any issue with 73/173 in C-2. I checked various other incarnations of the table, but they are all fine too. No further action needed for this case.

[2021-05-20 08:09] amilan17 commented on #55
@jbathegit -- yes, please go ahead and create new columns. you can drop "\_en" from the header names. Let me know if you have any questions.

[2021-05-20 13:40] jitsukoh commented on #51
@sergioh-pessoal would you be kind enough to finalize the proposal 1) on the original comment of this issue and 2) input them on CSVs of the branch? I feel I'm asking you too much... in addition to the sample files etc...
I think we need to decide which information can be included in MoC and which are not and need to go to a guidance document for DAYCLI producers to be developed by ET-DRC (e.g. no

[2021-05-20 14:01] marijanacrepulja commented on #65
[lidar_new_template_3wavelength.txt.gz](https://github.com/wmo-im/BUFR4/files/6516522/lidar_new_template_3wavelength.txt.gz)
[lidar_new_template_3wavelength.bufr.gz](https://github.com/wmo-im/BUFR4/files/6516523/lidar_new_template_3wavelength.bufr.gz)
[lidar_new_template.txt.gz](https://github.com/wmo-im/BUFR4/files/6516524/lidar_new_template.txt.gz)
[lidar_new_template.bufr.gz](https://github.com

[2021-05-21 16:12] jbathegit commented on #55
I've made all the updates to C-1, C-11, and C-12, including the additional new _ia5 column in each one as discussed.

So I believe what still remains to be updated between now and June 24th are the following:

BUFR4 Code tables (@SibylleK)
0-01-036: 250001, 250002, 540001, and 724001
0-01-101: 112 and 418
0-02-033: 1 and 2
0-08-037: 0
0-19-109: 0, 1, 2, ..., 8, and 9

CCT C-14 (@DavidBerryNOC)
13,

[2021-05-24 09:10] DavidBerryNOC commented on #55
I'll go through CCT C-14 this week, most of the entries appear to be radicals. It looks like the way to represent this in CCITT IA-5 is to replace the middle dot with a period character. @sebvi I recall (possibly incorrectly) that you had commented on this table before, if so do you know if this would be the correct way to represent the radicals?

[2021-05-24 18:34] castelao commented on #16
About item 3 in my previous post, I don't have yet a clear opinion on what to suggest. The advantage of a single upper-level replicator for profiles is to reinforce consistency between the sensors, which when available would probably be functional on every dive. But that would require all sensors that are not present to have a zero per dive in the delayed replicator, i.e., as many zeros as # of mi

[2021-05-25 13:16] erget opened #75 "Formatting error in BUFR Tables 35"
The BUFR tables found [on the WMO website](https://community.wmo.int/activity-areas/wmo-codes/manual-codes/previous-versions), [v35](https://community.wmo.int/activity-areas/wmo-codes/manual-codes/previous-versions/2020-11-16), have in the XML code/flag tables tags like this:

`<Status->Operational</Status->`

The `-` invalidates the tag and makes the XML invalid. Can this be fixed?

[2021-05-25 13:36] amilan17 commented on #75
@erget -- this is fixed in v36 [https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version.](https://community.wmo.int/activity-areas/wmo-codes/manual-codes/latest-version.)

[2021-05-25 13:37] erget commented on #75
Any plans to fix it in the existing tables? Some applications require a specific table version.

[2021-05-25 13:44] amilan17 commented on #75
There is no plan to update version 35.

[2021-05-26 09:44] TheRed86 opened #76 "CodeFlag table missing EntryName value for 031031 element"
Hi,

I would like to know where I can find the standard to define fields in CodeFlag tables (i.e. FXY,ElementName_en,CodeFigure,EntryName_en,EntryName_sub1_en,EntryName_sub2_en,Note_en,Status). Which of them are mandatory, which optional?

My question arises from an issue had reading code/flag tables: for the element **031031** the **EntryName_en** content is moved to **EntryName_sub1_en**. This i

[2021-05-26 15:35] amilan17 commented on #75
@erget -- I think I fixed it, can you check the formatting in v35.1 pre-release?

https://github.com/wmo-im/BUFR4/releases/tag/v35.1

[2021-05-27 06:58] erget commented on #75
@amilan17 looks like that solved it - we did a basic comparison to confirm that only `<Status>` had changed - ✔ - and then used `xmllint` to confirm correctness of the tables. All is well, and the [Vocabulary Manager](https://vocabulary-manager.eumetsat.int/), the system we use at EUMETSAT for managing i.a. WMO tables, processes them just fine. Many thanks!

[2021-05-27 06:58] #75 closed

[2021-05-27 17:11] SibylleK commented on #73
Dear @amilan17,
the pages which I mean are I.2 –   CODE/FLAG Tables/01 — 2 (i.e. page 620 of the pdf document) and I.2 –   CODE/FLAG Tables/08 — 17 (i.e. page 697).
And the missing entries would be:

0 01 035
Originating/generating centre
(See common Code table C–11 in Part C/c.)

and

0 08 046
Atmospheric chemical or physical constituent type
(See common Code table C–14 in Part C/c.)

[2021-06-01 10:57] DavidBerryNOC commented on #16
I've made the changes for (1) and have included the update below.

For (2), the original plan was for each BUFR message to contain the data for a single profile and so we used the delayed descriptor replication factor so we could report the different phases of a single profile.  At the moment we can have up to 255 different segments for a single profile but we can increase that if needed. I've upd

[2021-06-01 13:21] erget opened #78 "Proposal for BUFRCREX_CodeFlag_en_40.csv"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue78

# Summary and purpose

This proposal adds a new ocean product quality flag table for use with HY-2B BUFR products.

# Stakeholders

Users of HY-2B BUFR products.

# Action proposed

Adopt the changes in the referenced pull request.

# Discussions

EUMETSAT disseminates HY-2B radiometer products in BUFR format. Currently, a local code table is

[2021-06-01 14:40] castelao commented on #16
@DavidBerryNOC , it looks great. Thank you!

Oh, I'm sorry for the confusion. Having 255 possible phases for a single dive seems plenty for me. Maybe my confusion was on the "Ocean glider trajectory profile sequence", since for CF trajectory profile I would expect a group of profiles from the same trajectory, but of course a single profile is a valid structure. I think that the new description cla

[2021-06-08 12:54] marijanacrepulja opened #79 "New data category Lidar (ground based) in BUFR Table A"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue79

# Summary and purpose

 ECMWF proposes new entry to BUFR table A for the purpose of representing a Lidar ground based observations.

# Authors

Marijana Crepulja (ECMWF)

# Action proposed

The meeting is kindly asked to approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Discussions

ECMWF is preparing for

[2021-06-08 12:59] marijanacrepulja commented on #79
Hi @amilan17, could you please create the branch for the issue. Thanks, Marijana

[2021-06-08 14:08] jitsukoh commented on #51
@sergioh-pessoal I have consolidated the proposal. Would you check it and let me know if you find issues? If it looks good, I will ask the Secretariat to help us update the branch.

**1. Add a new entry in the significance qualifier class of  table B (0-08-094)  and a new code table to describe  the method used to calculate the daily average  temperature.**

F  X Y          | ELEMENT NAME        |

[2021-06-08 15:41] amilan17 commented on #79
done.

[2021-06-10 15:30] SibylleK commented on #55
I made the changes of 0-02-033, 0-08-037 and 0-19-109 and also change the unit in 0/00 of table B descriptor 015028.
But I struggle a little bit with the changes in 0-01-036 (Agency in charge) and 0-01-101 (State identifier), as it was discussed for C-1 etc to add another column.
But if we consider the Code tables we would have to add an additional column for each Code table for consistency.
There

[2021-06-10 17:15] jbathegit commented on #55
I don't think we need to necessarily be concerned that all code tables have the exact same number of fields in the machine-readable files (csv and xml).  If some such tables contain an additional _ia5 column (in csv) or tag (in xml), then any automated parser should be able to adjust without too much trouble and without breaking altogether.  Otherwise we cannot even make similar updates to C-1 and

[2021-06-10 17:52] sergioh-pessoal commented on #51
Hi @jitsukoh
I was trying to understand how to update the branch. But I didn't get it so far. Would be great if Secretariat help us to do this.

I have a observation concerning  to  Siting classification and Measurement Quality Classification.  Denis has explained  that there are possibilities that  some places can have Siting Classification and not have Measurement Quality Classification or  vice

[2021-06-10 18:04] jbathegit commented on #55
For C-1 and C-11 I've already added in a separate _ia5 field, as we agreed earlier in this thread.  So there are now two meaning columns in the csv files (i.e. `OriginatingGeneratingCentre` and `OriginatingGeneratingCentre_ia5`) as well as two corresponding meaning tags in the corresponding xml files for those tables.

My personal opinion is that we should be able to do likewise for regular code/f

[2021-06-11 11:00] SimonElliottEUM commented on #55
I am in favour of keeping things as simple as possible, and to replace the non-CCITTIA5 character with the closest CCITTIA5. No need for an extra column for the meaning here. As @SibylleK is away until 7 July (nice) I will implement whatever we agree here - just let me know.

[2021-06-11 13:09] jitsukoh commented on #51
@sergioh-pessoal thank you for your proposal. Indeed it is necessary to have 10 more figures to cover possibilities of missing data. Regarding the allocation of code figures, I think using the multiples of Siting Classification is intuitive and thus would help avoid errors... so my suggestion would be:

Code Figure | &nbsp;
-- | --
0 | Reserved
1 | 1A (Siting Classification according to ISO/WMO st

[2021-06-11 17:28] marijanacrepulja commented on #79
Hello @jitsukoh, I have updated the issue79 branch.

This is related to https://github.com/wmo-im/CCT/issues/53.

[2021-06-14 04:45] jitsukoh commented on #51
@amilan17 @chenxiaoxia2019 I posted the finalized proposal in [the original post](https://github.com/wmo-im/BUFR4/issues/51#issue-711999383). Could you help us update the branch according to the proposal?

[2021-06-14 05:08] jitsukoh commented on #79
@marijanacrepulja thank you for updating the branch.
@amilan17 I cannot see the "compare" button in the branch... Is there any way to see what changes are made in the branch?

[2021-06-14 05:19] amilan17 commented on #79
https://github.com/wmo-im/BUFR4/compare/master...issue79

[2021-06-14 05:37] jitsukoh commented on #79
@amilan17 thank you for the difference. Sorry I touched "close issue" button by mistake, but is this issue still open??
@marijanacrepulja I confirm that proposal is finalized and branch is updated, and move this issue to "Validated" status.

[2021-06-14 07:14] chenxiaoxia2019 commented on #51
@jitsukoh @amilan17 Well noted. I will update the branch.

[2021-06-14 08:34] DavidBerryNOC commented on #55
I've finished editing C-14, there are two entries that I struggled with and haven't changed:

[code]

I don't know the context of the greek letters well enough and am not sure whether replacing them would change the meaning.

The other changes I've made are to:

13, 14, 10000, 10001, 10026, 10030, 10036, 10037, 10039, 10044, 10045, 10048, 10050, 10051, 10053, 10056, 10057, 20020, 60000, 60001, 600

[2021-06-14 08:43] DavidBerryNOC commented on #55
On a bit more thinking it might be easiest to replace the Greek characters with html encoding, e.g. \&Sigma; for upper case sigma (&Sigma;) etc.

[2021-06-14 14:41] jbathegit commented on #55
@DavidBerryNOC that seems like a reasonable approach, since & and ; are in the CCITTIA5 character set.

@SimonElliottEUM I believe it's fine to just replace the non-CCITT5 character with the closest CCITT5 character for those 6 particular code table entries, as previously suggested by @lemkhenter.

Thanks everyone for your contributions towards resolving this issue!

[2021-06-14 15:11] sebvi commented on #55
@DavidBerryNOC  I think it is not correct to change the "radical" middle dot by a period "." .If "*" is part of the correct set, then it is a much much better way to represent the unpaired electron of the radical.

The notation with Greek letters are molecular electronic states. Without going into details, it tells you in which molecular orbitals the electrons are and information on spin and symme

[2021-06-15 09:47] chenxiaoxia2019 commented on #51
@jitsukoh @amilan17 The [branch](https://github.com/wmo-im/BUFR4/tree/issue51) has been updated according to the finalized proposal.

[2021-06-15 14:19] jitsukoh commented on #51
@chenxiaoxia2019 thank you very much for updating the branch.
@sergioh-pessoal when you prepare sample data, can you ask Richard and Marian to decode the sample data using the tables in the branch?

[2021-06-16 10:32] DavidBerryNOC commented on #55
@sebvi thanks, I've gone through and changed the periods to asterix. I've left the Greek letters in their html encoding.

[2021-06-16 12:33] amilan17 commented on #54
@jitsukoh - I confirmed that this is ready -- do you want to check it too?

[2021-06-16 12:47] amilan17 commented on #66
@jitsukoh @marijanacrepulja is "Standard Correct Algorithm" a proper noun?

[2021-06-16 12:54] jitsukoh commented on #54
@amilan17 thanks, please go ahead.

[2021-06-16 13:28] amilan17 commented on #68
@jitsukoh @SimonElliottEUM -- This looks like a simple fix and I think we have time to include in FT2021-2. What do you think?

[2021-06-16 13:44] amilan17 commented on #76
@TheRed86 -- I think you found an error that we need to fix. The XML is generated from the working CSV files, but the published [Manual on Codes (WMO No.- 306), volume I.2](https://library.wmo.int/index.php?lvl=notice_display&id=10684#.X18yfpMza3I) is the authoritative reference and this is a snapshot of the same table in the manual. 

![](https://user-images.githubusercontent.com/5168866/12222973

[2021-06-16 13:49] amilan17 commented on #76
Either the entry name needs to be added OR we need to fix the code that generates the XML to not omit expected xml tags.

[2021-06-16 14:02] amilan17 opened #80 "CodeFlag 031031 is missing EntryName value"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue80

# Summary and purpose

An issue (#76) was submitted by [https://github.com/TheRed86,](https://github.com/TheRed86,) because the XML representation of 0 31 031 is missing an  XML tag: \<EntryName\_en>.  The Bit No. 1 does not have a name in manual nor in the the CSV.  

# Action proposed

1.  add name if needed
2.  modify XML generation so that

[2021-06-16 14:05] SimonElliottEUM commented on #68
@jitsukoh @amilan17 Including this (purely typographical) fix in FT2021-2 would be fine with me

[2021-06-16 14:49] amilan17 commented on #73
https://github.com/wmo-im/BUFR4/compare/issue73

[2021-06-16 14:50] amilan17 commented on #73
@jitsukoh - this looks like a simple update to the CSV and the manual. If you agree, we can include this in FT2021-2.

[2021-06-16 20:38] jitsukoh commented on #68
I agree to include this in FT2021-2. Moved to in validation. @amilan17 can you create a branch and update? I move this issue to in validation status.

[2021-06-16 21:24] sergioh-pessoal commented on #51
@jitsukoh   Here there are the BUFR  samples and the corresponding dumped text file
@marianmajan-ibl and @richardweedon could you decoded these sample ?
Thank you

[daycli_meteofrance_stations-test.bufr.decoded.txt.gz](https://github.com/wmo-im/BUFR4/files/6665915/daycli_meteofrance_stations-test.bufr.decoded.txt.gz)
[daycli_meteofrance_stations-test.bufr.gz](https://github.com/wmo-im/BUFR4/files/

[2021-06-16 21:42] jitsukoh commented on #51
@sergioh-pessoal thank you so much for working on this...
@marianmajan-ibl and @richardweedon the branch is already updated; you can use the tables for decoding.
@DenisStuber I would appreciate it if you distribute the sample to your community to see if the data includes what is needed.

[2021-06-17 10:47] TheRed86 commented on #76
Many thanks, @amilan17. Your answer has been very useful for me.
Looking forward to the fix.

Regards

[2021-06-17 20:08] sergioh-pessoal commented on #51
@jitsukoh, @marianmajan-ibl , @richardweedon , @DenisStuber

I'm updating the samples because some errors were detected in the previous codifications
Please consider the samples bellow

[daycli_meteofrance_stations-test.bufr.decoded.txt.gz](https://github.com/wmo-im/BUFR4/files/6672948/daycli_meteofrance_stations-test.bufr.decoded.txt.gz)
[daycli_meteofrance_stations-test.bufr.gz](https://github.c

[2021-06-18 08:37] DavidBerryNOC commented on #16
On test encoding some data for a glider from the Indian Ocean / Bay of Bengal (SG579 from https://www.bodc.ac.uk/data/published_data_library/catalogue/10.5285/996bf53d-5448-297a-e053-6c86abc0b996/) it appears the ranges / upper limits are still wrong for some of the new parameters.  The histogram below shows the PAR in the top 10m and the red vertical line shows the upper limit based on a width an

[2021-06-21 12:45] DenisStuber commented on #51
I just realise that some countries as India or Luxembourg are measuring some parameters not at full hour. e.g. at 06:15 or at 11:45. Sergio would it be possible to modify the format of the TX-HOUR, TN_HOUR, RR_HOUR, DS_HOUR, and TSD_HOUR to allow the precision until the minute ?

[2021-06-21 15:35] jitsukoh commented on #51
I remember we discussed the issue and ruled out the possibility, i.e. keep the hour precision, when we discussed the time displacement. Of course we can accommodate it technically but it further increases the complexity and I don't think we can make it to the next fast-track cycle with the change. But it is up to the community.

[2021-06-22 11:05] richardweedon commented on #51
I may be premature in light of the request from Dennis, but please see attached decodes of the test data as requested. I am in the process of discussing the new sequence and the decode of the test data with our Climate Data teams. I will provide any feedback as it becomes available.
[daycli_meteofrance_stations-test-output.txt](https://github.com/wmo-im/BUFR4/files/6693684/daycli_meteofrance_stati

[2021-06-24 09:51] richardweedon commented on #65
Decode of test data run using ECCODES.
[decode_UK_lidar_new.txt](https://github.com/wmo-im/BUFR4/files/6708182/decode_UK_lidar_new.txt)

[2021-06-28 00:09] jitsukoh commented on #73
@amilan17 @SibylleK I agree with the inclusion of this issue to FT2021-2. I move this to in validation status.
The branch is updated but there is a small inconsistency in upper/lower cases:

[2021-06-28 09:58] jitsukoh commented on #51
@richardweedon thank you very much for the decoded data.
ET-DRC has found other possibilities of time slots and we decided to take more time to validate this sequence with a wider variety of samples. At this moment we are not sure if we need to update the sequence or not, but we might need to ask the team for another round of validation.

[2021-06-28 10:53] SimonElliottEUM commented on #68
@amilan17 @jitsukoh I have updated the branch to reflect the input from @SibylleK

[2021-06-28 17:09] sergioh-pessoal commented on #51
@richardweedon Thank you for the decoded data.

[2021-06-29 00:49] jitsukoh commented on #68
@SimonElliottEUM thank you for updating the branch. @amilan17 I confirm that this proposal is finalized and branch is updated, and I move this issue to "Validated" status.

[2021-06-30 01:09] jitsukoh commented on #65
@amilan17 @marijanacrepulja I confirm that the proposal was finalized, branch is updated and validation is completed. I move this to validated status.

[2021-06-30 01:14] jitsukoh commented on #73
@amilan17 there is a small issue in upper/lower cases in the branch but I think the Secretariat will anyway check and take care of these things, so please move this to validated status when you are ready. From my side, it is done.

[2021-06-30 10:17] amilan17 commented on #55
@DavidBerryNOC @jbathegit @SimonElliottEUM 

Please review [https://github.com/wmo-im/CCT/commits/bufrIssue55](https://github.com/wmo-im/CCT/commits/bufrIssue55). 

I moved all edits for CCT tables into this branch and removed the extra columns added for ia5.  As discussed during the meeting these changes do not change the meaning and therefore don't need to go through the FT amendment process. 

[2021-06-30 10:19] amilan17 commented on #55
we will introduce these mods in the upcoming FT release of the machine readable codes.

[2021-06-30 12:01] SimonElliottEUM commented on #55
@amilan17 You asked us to review  https://github.com/wmo-im/CCT/commits/bufrIssue55. but I am not really sure what I should be looking at. I assume the changes I made have all been retained.

[2021-06-30 12:34] amilan17 commented on #55
This is the diff -- I just want confirmation that I didn't mess up anything when I cleaned up the branches. 

https://github.com/wmo-im/CCT/compare/bufrIssue55

[2021-06-30 13:53] jbathegit commented on #55
The https://github.com/wmo-im/CCT/compare/bufrIssue55 branch looks OK to me, w.r.t. all of the CCTs.

@SimonElliottEUM, I believe that all of your and @SibylleK changes to the regular BUFR code/flag tables have been retained in https://github.com/wmo-im/BUFR4/tree/issue55 and are still set to go forward.  @amilan17 please correct me if I'm wrong.

Thanks to all on this thread for your help with re

[2021-06-30 15:05] amilan17 commented on #78
@jitsukoh -- i just discovered this issue. Is it too late to include in FT2021-2? 

this PR shows the proposal: https://github.com/wmo-im/BUFR4/pull/77/files

[2021-07-01 05:41] jitsukoh commented on #78
@amilan17 I think it is better to have a review process by the CGMS group.
@SimonElliottEUM would you be able to ask the group to review this proposal?

[2021-07-01 06:38] SimonElliottEUM commented on #55
@jbathegit Thanks Jeff - and Happy Birthday! 🥳

[2021-07-01 07:56] efucile commented on #55
Happy birthday @jbathegit

[2021-07-02 12:10] DavidBerryNOC commented on #55
@amilan17  all good from me.

[2021-07-28 09:36] amilan17 opened #83 "Code Table 0 01 036"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue83
# Summary and purpose
We are presently in the process of coding up BUFR 3-15-007 for distributing ship-based CTD data, which we presently issue in TESAC.

Could I ask for the following changes to be made to the code table for descriptor 0 01 036 (Agency in charge of operating the observing platform) at the earliest opportunity.

1. rename 82600

[2021-07-29 10:18] manfredsc opened #84 "BUFR4 table used also in GRIB2"
satellite classification (BUFRCREX_CodeFlag_en_02.csv, FXY=02020) is also needed for GRIB2 decoding,
wouldn't it make sense to put it into CCT? It seems odd that GRIB2 decoding needs tables from BUFR4.

[2021-08-04 12:16] marijanacrepulja opened #85 "Table B 14: New BUFR descriptor for the GIIRS observations"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue85
# Summary and purpose

ECMWF and UKMO are proposing a new BUFR descriptor for representation of GIIRS observations.

# Stakeholders

Chris Burrows (ECMWF), Nigel Atkinson (UKMO), Marijana Crepulja(ECMWF)

# Action

The team is kindly asked to review and approve the contents for inclusion within the next update to the WMO Manual on Codes.

# Dis

[2021-08-04 14:40] amilan17 commented on #74
BUFRCREX_CodeFlag_notes
* discuss: replace starred acronyms with full text + acronym, instead of using note

[2021-08-06 09:11] amilan17 commented on #74
BUFR_and_CREX_TableC_notes

BUFR_and_CREX_TableD_notes
* Many CREX tables in GitHub look like a copy of the BUFR tables and they differ from the manual.

[2021-08-06 09:19] jitsukoh commented on #51
@sergioh-pessoal  @DenisStuber here is a new proposed sequence, considering the existing practices.
The representation of the time period for each parameter is updated so that it always specifies the beginning time (allowing to represent the previous day using time displacement in days), assuming that the period is always 24 hours.

**The new DAYCLI BUFR message**

Update descriptor 3-07-075 (Upda

[2021-09-02 11:03] amilan17 opened #87 "test issue"
# Branch

Add when created. 

# Summary and purpose

Enter text. 

# Stakeholders

include as appropriate

# Action proposed

Enter text.

# Discussions

Requirements and purposes of the proposal along with other background information, which could be included in the SUMMARY OF MEETING REPORT.

# Detailed proposal

Keeps details up to date as decisions are finalized.

[2021-09-02 11:05] #87 closed

[2021-09-10 11:56] sergioh-pessoal commented on #51
Hi Denis and Jitsuko. Here is the sample  encoded in BUFR and its decoding in text format.
[20210906_Example_Toulouse_Blagnac_07630_version_2.bufr.gz](https://github.com/wmo-im/BUFR4/files/7143554/20210906_Example_Toulouse_Blagnac_07630_version_2.bufr.gz)
[20210906_Example_Toulouse_Blagnac_07630_version_2.bufr.txt.gz](https://github.com/wmo-im/BUFR4/files/7143555/20210906_Example_Toulouse_Blagnac_

[2021-09-13 07:44] DenisStuber commented on #51
Thanks a lot Sergio. I will ask the persons in charge at Météo-France for validation ...

----- Météo-France -----
STUBER DENIS
DCSC/EDR
***@***.***
Fixe : +33 561078337

De: "Sergkl - Sergio Ferreira" ***@***.***>
À: "wmo-im" ***@***.***>
Cc: "Denis Stuber" ***@***.***>, "Mention" ***@***.***>
Envoyé: Vendredi 10 Septembre 2021 13:56:13
Objet: Re: [wmo-im/BUFR4] BUFR sequence for DAYCLI (#51)

Hi

[2021-09-20 06:47] DavidBerryNOC commented on #51
Decoded file attached, decoding using custom python BUFR decoder. Code to follow.

[decoded.csv](https://github.com/wmo-im/BUFR4/files/7193956/decoded.csv)

I've only checked the first subset and this appears to match that in the text file. I haven't checked the others.

[2021-09-20 11:26] amilan17 commented on #83
Are there best practices around re-naming agencies? 

In this case, the requester wrote: "...NOC (National Oceanography Centre) includes what was previously known as SOC (Southampton Oceanography Centre). I don’t believe  the ‘renaming’ would cause any confusion (as the UK CTD data exchanged so far have all been in TESAC and so have not included information on the ship’s operator)."

[2021-09-22 10:47] amilan17 commented on #74
Moving this "column header" to note under the table. Is there a better way to phrase this?

noteID| note | table
5 | (0 is good, 1 is bad) | 025112, 025113
-- | -- | --

</body></html>

[2021-09-22 11:26] amilan17 commented on #74
Should we develop the codes for this?

_0 02 012
Radiosonde computational method
(To be developed)_

[2021-09-22 11:31] amilan17 commented on #74
improve note phrasing in table 0 02 022

22 | Bit flags denoting the elements included in processing sounding data.
-- | --

[2021-09-23 13:21] #65 closed

[2021-09-23 13:21] #66 closed

[2021-09-23 13:21] #68 closed

[2021-09-23 13:21] #79 closed

[2021-09-23 13:22] #56 closed

[2021-09-23 13:22] #63 closed

[2021-09-23 13:22] #64 closed

[2021-09-23 13:23] #54 closed

[2021-09-23 13:23] #55 closed

[2021-09-23 14:01] amilan17 opened #88 "Table B 0 08 045 is missing"
# Branch

https://github.com/wmo-im/BUFR4/tree/issue83

# Summary and purpose

0 08 045 is missing. Referenced in Class 08, note 7: "When descriptor 0 08 043 is used to specify particulate matter (PM) under a given size threshold, descriptor 0 08 045 may also be used to further specify a subset of the PM population on the basis of ion composition."
page: BUFR/CREX Table B/08 - 5

# Stakeholders

i

[2021-09-23 14:14] amilan17 commented on #76
this will be addresses as needed in this issue: #80

[2021-09-23 14:14] #76 closed

[2021-09-28 14:10] Darkholz commented on #28
The number to be used at 1800 is 25, because you will use the largest number. Since you have two options, you go for the largest number.

[2021-09-29 17:09] SibylleK opened #89 "Proposal for BUFRCREX_TableB_en_15.csv, change reference value for 0 15 083"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue89

# Summary and purpose

Change the reference value for 0 15 083 - GNSS derived neutral atmosphere gradient to allow negative gradients.

# Stakeholders

# Action proposed

The team is kindly asked to review and approve the content for inclusion within the next update to the WMO Manual on Codes.

# Discussions

The descriptor for GNSS derived ne

[2021-09-30 13:25] marijanacrepulja opened #90 "New BUFR template for cloud radar observations and new descriptors table B class 21"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue90

# Summary and purpose

ECMWF is proposing a new BUFR template for representation of radar observations from EarthCARE (Cloud, Aerosol and Radiation Explorer)

# Stakeholders

Marijana Crepulja, Mark Fielding, Marta Janiskova (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents for inclusion within th

[2021-09-30 14:25] marijanacrepulja opened #91 "Table D Class 40: New BUFR template for cloud and aerosol observations from satellite lidar"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue91

# Summary and purpose

ECMWF is proposing a new BUFR template for representation of satellite lidar observations for clouds and aerosols.

# Stakeholders

Marijana Crepulja, Mark Fielding, Marta Janiskova, Angela Benedetti , Julie Letertre-Danczak (all from ECMWF)

# Action proposed

The team is kindly asked to review and approve the contents

[2021-10-01 13:04] SimonElliottEUM opened #92 "Proposal for Code Table 0-02-020, Satellite classification"
# Branch
https://github.com/wmo-im/BUFR4/tree/issue92
# Summary and purpose

It is proposed to add four entries to BUFR Code Table 0-02-020 to allow identification of three satellite series: Meteosat Third Generation (MTG), EUMETSAT Polar System Second Generation (EPS-SG), Meteor-M N2, and Quasi-Zenith Satellite System (QZSS)

# Stakeholders

EUMETSAT for MTG and EPS-SG
Roshydromet for Meteor-M N2

[2021-10-04 08:09] jitsukoh commented on #51
@amilan17 @chenxiaoxia2019 I updated the original post of this issue (far above) to reflect the final proposal of the sequence 3-07-075 (exactly the same as the one I posted on August 6). Only change I made is the sequence 3-07-075. Could you help update the branch (rebase the branch if necessary and update the branch)?

[2021-10-05 10:58] Annie-FangZHAO commented on #51
The sample message was decoded using C++ decoder of CMA as in the attached file (all data description operators are not output by the program).

[20210906_Example_Toulouse_Blagnac_07630_version_2.bufr.decoded.txt](https://github.com/wmo-im/BUFR4/files/7285219/20210906_Example_Toulouse_Blagnac_07630_version_2.bufr.decoded.txt)

[2021-10-05 13:46] amilan17 commented on #83
per Jeff Ator -- doesn't think it's a problem

[2021-10-05 13:54] amilan17 commented on #85
need to consult with CGMS and CMA
@SimonElliottEUM
@Annie-FangZHAO

[2021-10-05 14:35] marijanacrepulja commented on #85
I am sharing a comment from Chris Burrows my ECMWF colleague regarding involvement of CMA.

"We have been keeping CMA informed, in particular Qiang Guo (Chief Scientist & Designer of Ground Segment for Chinese GEO Microwave Satellite).  He seems satisfied with it. Other colleagues at CMA should have been aware through the ITWG meeting, and we did not get any feedback from those present."

[2021-10-05 14:59] SimonElliottEUM commented on #85
We will pick this up at the CGMS meeting on 27/10/2021. (CMA will be represented by XU Zhe)

[2021-10-11 12:26] amilan17 opened #93 "Error in title of CODE TABLE 0-05-069"
The PDF has the wrong title for CODE TABLE 0-05-069

It should be Receiver Chanel

_Originally posted by @amilan17 in https://github.com/wmo-im/BUFR4/issues/91#issuecomment-936219128_

[2021-11-02 13:41] SimonElliottEUM commented on #92
I should also like to add an entry to 0-02-020 for the Quasi-Zenith Satellite System (QZSS). It is used for the creation of radio occultations, but whilst we have entries in 0-02-020 for GPS (401), GLONASS (402), GALILEO (403), and BDS (BeiDou navigation satellite system) (404), there is nothing for QZSS yet.
Please add entry 405 for QZSS (Quasi-Zenith Satellite System)

[2021-11-05 08:44] jitsukoh commented on #51
@amilan17 thank you for updating the branch.
Here is my response to Anna's comments/questions. I will update the issue once confirmed by @sergioh-pessoal
2. i. I checked BUFRCREX_TableB_08 and values for CREX are correct.
4. i. Do you mean Note (2) will be associated with 0 13 013 (Total snow depth (Snow Depth))?
5. i. (Note 3) should be included.
5. ii. These can be removed.
I agree with all othe